Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

fix: 기능 플래그 시스템 리팩토링에 따른 api path 수정
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditService.java
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: consolidate spring mail config
  src/main/resources/application.yml
Owners: @CCCloudPlatform/backend-team

test: 비밀번호 재설정 서비스 및 컨트롤러 검증 추가
  src/test/java/com/agenticcp/core/common/service/PasswordResetServiceTest.java
  src/test/java/com/agenticcp/core/controller/PasswordControllerTest.java
Owners: @CCCloudPlatform/java-team

style: 로그인 요청 DTO 및 JWT 필터 포맷 정리
  src/main/java/com/agenticcp/core/common/dto/auth/LoginRequest.java
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
Owners: @CCCloudPlatform/backend-team

refactor: CloudErrorCode 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
Owners: @CCCloudPlatform/backend-team

refactor: AccountCredentialManagementPort 사용, accountScope 직접 사용
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

docs: 자격증명 가이드라인 준수 확인 문서
  docs/VPC_CREDENTIAL_GUIDELINE_COMPLIANCE.md
Owners: @CCCloudPlatform/docs-team

fix(vpc): VPC Command 클래스들의 CloudSessionCredential import 경로 수정
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/CreateVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/DeleteVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/GetVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/ListVpcsQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/UpdateVpcCommand.java
Owners: @CCCloudPlatform/backend-team

fix(aws): AwsClientConfig의 세션 자격증명 import 경로 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsClientConfig.java
Owners: @CCCloudPlatform/backend-team

test(vpc): VpcUseCaseService 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: Organization-Tenant 관계를 1:N에서 1:1로 변경
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/Tenant.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationTenantServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: TenantIsolationService 재작성 및 Repository 추가
  src/main/java/com/agenticcp/core/domain/tenant/repository/TenantIsolationRepository.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantIsolationService.java
Owners: @CCCloudPlatform/backend-team

feat: 리소스 소유권 관리 엔티티 및 서비스 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/ResourceOwner.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/ResourceOwnerRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/service/ResourceOwnerService.java
Owners: @CCCloudPlatform/backend-team

feat: 리소스 접근 제어 서비스 및 CloudResourceService 통합
  src/main/java/com/agenticcp/core/common/util/SecurityContextUtils.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/ResourceAccessControlService.java
Owners: @CCCloudPlatform/backend-team

test: 테넌트 격리 수준 정책 관련 서비스 테스트 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudResourceServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/ResourceAccessControlServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/ResourceOwnerServiceTest.java
  src/test/java/com/agenticcp/core/domain/tenant/service/TenantIsolationServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: AwsTenantIsolationAdapter 및 AwsCloudResourceCreator 수정
  src/main/java/com/agenticcp/core/domain/tenant/adapter/AwsTenantIsolationAdapter.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/resource/AwsCloudResourceCreator.java
Owners: @CCCloudPlatform/backend-team

docs: 테넌트 격리 수준 정책 구현 문서 추가
  docs/TENANT_ISOLATION_POLICY_IMPLEMENTATION.md
Owners: @CCCloudPlatform/docs-team

fix: FeatureFlagAuditServiceTest requestPath 누락 오류 해결 - AuditEventBuilder에 requestPath/httpMethod 설정 메서드 추가
  src/main/java/com/agenticcp/core/common/audit/AuditEventBuilder.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricTag.java
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditService.java
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

Revert "fix: FeatureFlagAuditServiceTest requestPath 누락 오류 해결 - AuditEventBuilder에 requestPath/httpMethod 설정 메서드 추가"
  src/main/java/com/agenticcp/core/common/audit/AuditEventBuilder.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricTag.java
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditService.java
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(AwsS3BucketManagementAdapter): 구조 리팩토링 및 자격증명 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

feat(AwsS3ErrorTranslator): S3 예외 Translator 클래스 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3ErrorTranslator.java
Owners: @CCCloudPlatform/backend-team

refactor(AwsS3BucketDiscoveryAdapter): 구조 리팩토링 및 자격증명 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

refactor(AwsClientConfig): AWS Client 생성 로직 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsClientConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: RESTFul한 통신 위한 dto, command 필드 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/CreateObjectStorageContainerCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/CreateObjectStorageContainerRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/ObjectStorageContainerQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/UpdateObjectStorageContainerCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/UpdateObjectStorageContainerRequest.java
Owners: @CCCloudPlatform/backend-team

refactor(ObjectStorageController): RESTFul하게 컨트롤러 구조 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/controller/ObjectStorageController.java
Owners: @CCCloudPlatform/backend-team

refactor: 현 구조에 따라 VPC 파일 위치 변경
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/CreateVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/DeleteVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/GetVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/ListVpcsQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/VpcCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/VpcQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/VpcUpdateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcConstants.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 헥사고날 에러코드의 종속성 제거 및 추상화
  src/main/java/com/agenticcp/core/domain/cloud/exception/AwsErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/ObjectStorageErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/S3ErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat(AwsErrorTranslator): AWS 공통 예외 변환기 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsErrorTranslator.java
Owners: @CCCloudPlatform/backend-team

refactor: 기타 리팩토링
  docs/CLOUD_CREDENTIAL_GUIDE.md
  docs/HEXAGONAL_ARCHITECTURE_GUIDE.md
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountSyncAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsSessionProvider.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3ErrorTranslator.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/CloudErrorTranslator.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/ObjectStorageController.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/CredentialErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/ObjectStorageContainerQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vpc/UpdateVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/storage/ObjectStorageDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/storage/ObjectStorageManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/S3BucketUseCaseServiceTest.java
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: 테스트 코드 리팩토링
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/S3BucketUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

chore: 누락된 주석 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsErrorTranslator.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3ErrorTranslator.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/CreateObjectStorageContainerCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/CreateObjectStorageContainerRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/ObjectStorageContainerQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/UpdateObjectStorageContainerCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/UpdateObjectStorageContainerRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/storage/ObjectStorageDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/storage/ObjectStorageManagementPort.java
Owners: @CCCloudPlatform/backend-team

feat(VmCommand): VM Command 객체에 세션 자격증명 필드 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vm/VmCreateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vm/VmDeleteCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vm/VmUpdateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/test/java/com/agenticcp/core/controller/VmControllerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmMapperCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/port/VmManagementContractTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmPortRouterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceLifecycleTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat(cloud): AwsClientConfig 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsClientConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat(vm): AwsVmLifecycleAdapter 세션 기반 클라이언트 생성 적용
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmLifecycleAdapter.java
Owners: @CCCloudPlatform/backend-team

feat(vm): AwsVmDiscoveryAdapter Execute Around 패턴 적용
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmDiscoveryAdapter.java
Owners: @CCCloudPlatform/backend-team

feat(vm): VmLifecyclePort 시그니처 변경 - 세션 파라미터 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmLifecycleAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vm/VmLifecyclePort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
Owners: @CCCloudPlatform/backend-team

test(vm): 테스트 코드 업데이트 - Phase 6 시그니처 변경 반영
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmAdapterProviderTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceLifecycleTest.java
Owners: @CCCloudPlatform/java-team

test: VmManagementContractTest 수정
  src/test/java/com/agenticcp/core/domain/cloud/port/VmManagementContractTest.java
Owners: @CCCloudPlatform/java-team

refactor(vm): ObjectStorageUseCaseService 스타일로 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor(vm): VmCreateRequest/Command를 CSP 중립 필드로 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VmCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vm/VmCreateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/test/java/com/agenticcp/core/controller/VmControllerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmMapperCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/port/VmManagementContractTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team
