Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: 세션 자격증명 관리 기능 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: 세션 관련 에러코드 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: ResourceLifecyclePort 인터페이스 수정
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/ResourceLifecyclePort.java
Owners: @CCCloudPlatform/backend-team

feat: AwsResourceLifecycleAdapter에
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsResourceLifecycleAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AwsSessionProvider 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsSessionProvider.java
Owners: @CCCloudPlatform/backend-team

feat: AwsSessionCredential 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/model/AwsSessionCredential.java
Owners: @CCCloudPlatform/backend-team

feat: CloudSessionCredential 인터페이스 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/model/CloudSessionCredential.java
Owners: @CCCloudPlatform/backend-team

feat: CloudResourceUseCaseService에서 세션 획득 로직 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: SessionCacheService 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/SessionCacheService.java
Owners: @CCCloudPlatform/backend-team

feat: MockAdaptersConfig에 AwsSessionCredential 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
Owners: @CCCloudPlatform/java-team

test: CredentialProviderPortAdapterGetSessionTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapterGetSessionTest.java
Owners: @CCCloudPlatform/java-team

test: AwsSessionProviderTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsSessionProviderTest.java
Owners: @CCCloudPlatform/java-team

test: CloudSessionCredentialTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/port/model/CloudSessionCredentialTest.java
Owners: @CCCloudPlatform/java-team

test: SessionCacheServiceTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/SessionCacheServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: CloudErrorCode, CredentialErrorCode 분리
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/CredentialErrorCode.java
Owners: @CCCloudPlatform/backend-team

fix: 자격증명 관련 에러 CredentialErrorCode로 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsSessionProvider.java
  src/main/java/com/agenticcp/core/domain/cloud/service/AwsCredentialManager.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/AwsCredentialManagerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: CloudErrorCode conflict 해결
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
Owners: @CCCloudPlatform/backend-team

fix: 자격증명 에러 코드 수정
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
Owners: @CCCloudPlatform/backend-team

Provider 타입 변경
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/VpcController.java
Owners: @CCCloudPlatform/backend-team

feat: command 객체 생성
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/CreateVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/DeleteVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/GetVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/ListVpcsQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/UpdateVpcCommand.java
Owners: @CCCloudPlatform/backend-team

feat: VpcUseCaseService 에서 command 객체 변환 및 capabilityGuard 적용
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor: aop, annotation 점검
  src/main/java/com/agenticcp/core/domain/security/annotation/RequirePermission.java
  src/main/java/com/agenticcp/core/domain/security/annotation/RequireRole.java
  src/main/java/com/agenticcp/core/domain/security/aop/AuthorizationAspect.java
Owners: @CCCloudPlatform/backend-team

refactor: controller 점검
  src/main/java/com/agenticcp/core/domain/security/controller/PolicyEngineController.java
  src/main/java/com/agenticcp/core/domain/security/controller/PolicyPriorityController.java
  src/main/java/com/agenticcp/core/domain/security/controller/SecurityInspectorController.java
  src/main/java/com/agenticcp/core/domain/security/controller/SecurityPolicyController.java
  src/main/java/com/agenticcp/core/domain/security/controller/TenantPolicyController.java
Owners: @CCCloudPlatform/backend-team

refactor: DTO refactor
  src/main/java/com/agenticcp/core/domain/security/dto/DefaultPolicyTemplate.java
  src/main/java/com/agenticcp/core/domain/security/dto/EffectivePolicySetDTO.java
  src/main/java/com/agenticcp/core/domain/security/dto/EnvironmentConditions.java
  src/main/java/com/agenticcp/core/domain/security/dto/IpConditions.java
  src/main/java/com/agenticcp/core/domain/security/dto/NetworkConditions.java
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyAction.java
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyConditions.java
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyConflictResolution.java
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyEvaluationRequest.java
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyEvaluationResult.java
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyRule.java
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyRules.java
  src/main/java/com/agenticcp/core/domain/security/dto/ResourceConditions.java
  src/main/java/com/agenticcp/core/domain/security/dto/SecurityPolicyDTO.java
  src/main/java/com/agenticcp/core/domain/security/dto/TimeConditions.java
  src/main/java/com/agenticcp/core/domain/security/dto/UserConditions.java
Owners: @CCCloudPlatform/backend-team

refactor: entitiy refactor
  src/main/java/com/agenticcp/core/domain/security/entity/Compliance.java
  src/main/java/com/agenticcp/core/domain/security/entity/SecurityPolicy.java
  src/main/java/com/agenticcp/core/domain/security/entity/ThreatDetection.java
Owners: @CCCloudPlatform/backend-team

refactor: enums refactor
  src/main/java/com/agenticcp/core/domain/security/enums/ConflictResolutionStrategy.java
  src/main/java/com/agenticcp/core/domain/security/enums/PolicyDecision.java
  src/main/java/com/agenticcp/core/domain/security/enums/SecurityErrorCode.java
Owners: @CCCloudPlatform/backend-team

refactor: mapper, repo refactor
  src/main/java/com/agenticcp/core/domain/security/mapper/SecurityPolicyMapper.java
  src/main/java/com/agenticcp/core/domain/security/repository/SecurityPolicyRepository.java
Owners: @CCCloudPlatform/backend-team

refactor: service refactor
  src/main/java/com/agenticcp/core/domain/security/service/PolicyEngineService.java
  src/main/java/com/agenticcp/core/domain/security/service/PolicyJsonParser.java
  src/main/java/com/agenticcp/core/domain/security/service/PolicyPriorityService.java
Owners: @CCCloudPlatform/backend-team

refactor: rollback
  src/main/java/com/agenticcp/core/domain/security/controller/SecurityInspectorController.java
  src/main/java/com/agenticcp/core/domain/security/controller/SecurityPolicyController.java
  src/main/java/com/agenticcp/core/domain/security/controller/TenantPolicyController.java
Owners: @CCCloudPlatform/backend-team

fix: 정책 엔진 테스트 안정화
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: gitguardian 패스워드 하드코딩 수정
  src/main/resources/application.yml
Owners: @CCCloudPlatform/backend-team

fix : ApplicationTest 파일 develop 브랜치와 동일하게 수정
  src/main/java/com/agenticcp/core/common/enums/AuditResourceType.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantConfig 엔티티 코드리뷰 및 리팩토링
  src/main/java/com/agenticcp/core/domain/tenant/entity/TenantConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantTypeConfig 엔티티 코드 리뷰 및 리팩토링
  src/main/java/com/agenticcp/core/domain/tenant/entity/TenantTypeConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantConfigInheritanceService 코드 리뷰 및 리팩토링
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantConfigInheritanceService.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantConfigService 코드 리뷰 및 리팩토링
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantConfigService.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantConfigCacheService 코드 리뷰 및 리팩토링
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantConfigCacheService.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantConfigController 코드 리뷰 및 리팩토링
  src/main/java/com/agenticcp/core/domain/tenant/controller/TenantConfigController.java
Owners: @CCCloudPlatform/backend-team

refactor: 클래스/Public 메서드/Private 메서드 JavaDoc 보완, 삭제 성공 및 경고 로깅 추가
  src/main/java/com/agenticcp/core/domain/tenant/controller/TenantTypeConfigController.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantConfigRepository 인터페이스, 메서드 JavaDoc 보완
  src/main/java/com/agenticcp/core/domain/tenant/repository/TenantConfigRepository.java
Owners: @CCCloudPlatform/backend-team
