Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: REST API 컨트롤러 추가
  src/main/java/com/agenticcp/core/domain/security/controller/ViolationController.java
Owners: @CCCloudPlatform/backend-team

config: Jackson 및 Redis 직렬화 설정 개선
  pom.xml
  src/main/java/com/agenticcp/core/common/config/JacksonConfig.java
  src/main/java/com/agenticcp/core/common/config/RedisConfig.java
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisCacheConfig.java
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

Feat: 테넌트별 설정 상속 기능 구현
  docker/mysql/init/01-init.sql
  docs/TENANT_CONFIG_INHERITANCE_GUIDE.md
  src/main/java/com/agenticcp/core/common/config/CacheConfig.java
  src/main/java/com/agenticcp/core/common/enums/AuditResourceType.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/TenantConfigController.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/TenantTypeConfigController.java
  src/main/java/com/agenticcp/core/domain/tenant/dto/EffectiveConfigResponse.java
  src/main/java/com/agenticcp/core/domain/tenant/dto/TenantConfigRequest.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/TenantTypeConfig.java
  src/main/java/com/agenticcp/core/domain/tenant/enums/TenantConfigErrorCode.java
  src/main/java/com/agenticcp/core/domain/tenant/event/PlatformConfigChangeEvent.java
  src/main/java/com/agenticcp/core/domain/tenant/event/TenantConfigChangeEvent.java
  src/main/java/com/agenticcp/core/domain/tenant/event/TenantConfigEventListener.java
  src/main/java/com/agenticcp/core/domain/tenant/event/TenantTypeChangeEvent.java
  src/main/java/com/agenticcp/core/domain/tenant/event/TenantTypeConfigChangeEvent.java
  src/main/java/com/agenticcp/core/domain/tenant/repository/TenantConfigRepository.java
  src/main/java/com/agenticcp/core/domain/tenant/repository/TenantTypeConfigRepository.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantConfigCacheService.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantConfigInheritanceService.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantConfigService.java
  src/test/java/com/agenticcp/core/domain/tenant/service/TenantConfigInheritanceServiceTest.java
  src/test/java/com/agenticcp/core/domain/tenant/service/TenantConfigServiceTest.java
Owners: @CCCloudPlatform/database-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: 모니터링 임계값 초기 데이터 및 통합 테스트 추가
  docker/mysql/init/01-init.sql
  src/test/java/com/agenticcp/core/domain/monitoring/service/MonitoringAlarmIntegrationTest.java
  tatus
Owners: @CCCloudPlatform/database-team, @CCCloudPlatform/java-team, @CCCloudPlatform/developers

delete: 잘못 추가된 필요없는 파일 삭제
  tatus
Owners: @CCCloudPlatform/developers

feat: 불필요한 파일 삭제
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/SampleClient.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/dto/SecurityGroupRequest.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/dto/SubnetRequest.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/dto/VpcRequest.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/service/CloudProviderService.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/service/SampleCloudProviderService.java
Owners: @CCCloudPlatform/backend-team

refactor: 파일 구조 변경
  src/main/java/com/agenticcp/core/domain/tenant/adapter/TenantIsolationAdapter.java
  src/main/java/com/agenticcp/core/domain/tenant/adapter/TenantIsolationAdapterFactory.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/CloudProviderType.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/dto/CloudResourceResult.java
  src/main/java/com/agenticcp/core/domain/tenant/listener/TenantIsolationEventListener.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantIsolationService.java
Owners: @CCCloudPlatform/backend-team

feat: 리소스 생성 인터페이스, 요청, 샘플 구현체
  src/main/java/com/agenticcp/core/domain/tenant/cloud/dto/ResourceCreateRequest.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/CloudResourceCreator.java
Owners: @CCCloudPlatform/backend-team

feat: Isolationstrategy 인터페이스와 팩토리
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/IsolationStrategy.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/IsolationStrategyFactory.java
Owners: @CCCloudPlatform/backend-team

feat: SharedIsolationStrategy 구현체
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/SharedIsolationStrategy.java
Owners: @CCCloudPlatform/backend-team

feat: AwstenantIsolationAdapter 컴포넌트
  src/main/java/com/agenticcp/core/domain/tenant/adapter/AwsTenantIsolationAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AwsCloudResourceCreator 샘플 리소스 생성 구현체
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/AwsCloudResourceCreator.java
Owners: @CCCloudPlatform/backend-team

fix: 임시 비활성화된 SecurityScenarioIntegrationTest 추가
  src/test/java/com/agenticcp/core/domain/security/controller/SecurityScenarioIntegrationTest.java
Owners: @CCCloudPlatform/java-team

feat: IsolationStrategyFactory 맵 조회 로직 수정
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/IsolationStrategyFactory.java
Owners: @CCCloudPlatform/backend-team

test: audit 컨트롤러 테스트 비활성화
  src/test/java/com/agenticcp/core/controller/AuditLogControllerTest.java
Owners: @CCCloudPlatform/java-team

feat: 멀티 클라우드 리소스 통합을 위한 헥사고날 아키텍처 구현
  docs/HEXAGONAL_ARCHITECTURE_GUIDE.md
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsResourceDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsResourceLifecycleAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsResourceMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsResourceTaggingAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/CloudErrorTranslator.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/ProviderScoped.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/ResilientPortExecutor.java
  src/main/java/com/agenticcp/core/domain/cloud/capability/CapabilityGuard.java
  src/main/java/com/agenticcp/core/domain/cloud/capability/CapabilityRegistry.java
  src/main/java/com/agenticcp/core/domain/cloud/capability/CspCapability.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/CostInfo.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/CostQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/ResourceIdentity.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/ResourceQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/AuditEventPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/CredentialProviderPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/OutboxEventPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/ResourceCostPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/ResourceDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/ResourceLifecyclePort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/ResourceTaggingPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/TracingPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/ResourcePortRouter.java
  src/main/resources/application.yml
  src/test/java/com/agenticcp/core/domain/cloud/adapter/aws/AwsResourceDiscoveryAdapterIT.java
  src/test/java/com/agenticcp/core/domain/cloud/port/ResourceDiscoveryContractTest.java
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: 테스트 환경에서 헥사고날 아키텍처 포트 의존성 문제 해결
  src/test/java/com/agenticcp/core/AgenticCpCoreApplicationTests.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
Owners: @CCCloudPlatform/java-team

merge with develop
  [Help
  src/main/java/com/agenticcp/core/AgenticCpCoreApplication.java
  src/main/java/com/agenticcp/core/common/config/JpaConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudProviderRepository.java
  src/main/resources/application.yml
  src/test/java/com/agenticcp/core/AgenticCpCoreApplicationTests.java
  src/test/java/com/agenticcp/core/controller/AdvancedHealthControllerTest.java
  src/test/java/com/agenticcp/core/domain/security/controller/SecurityScenarioIntegrationTest.java
  src/test/resources/application-test.yml
Owners: @CCCloudPlatform/developers, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

merge with develop
  src/main/resources/application.yml
Owners: @CCCloudPlatform/backend-team

CacheConfig의 cacheManager에 @Primary 어노테이션 추가
  src/main/java/com/agenticcp/core/common/audit/AuditEntityListener.java
  src/main/java/com/agenticcp/core/common/config/CacheConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
Owners: @CCCloudPlatform/backend-team

feat: 인증 시스템 단위 테스트 추가 (JWT, AuthController, AuthenticationService)
  pom.xml
  src/test/java/com/agenticcp/core/common/security/JwtServiceTest.java
  src/test/java/com/agenticcp/core/common/service/AuthenticationServiceTest.java
  src/test/java/com/agenticcp/core/controller/AuthControllerTest.java
Owners: @CCCloudPlatform/java-team

refactor: 파일 구조 변경
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/isolation/IsolationStrategy.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/isolation/IsolationStrategyFactory.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/isolation/SharedIsolationStrategy.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/resource/AwsCloudResourceCreator.java
  src/main/java/com/agenticcp/core/domain/tenant/cloud/service/resource/CloudResourceCreator.java
Owners: @CCCloudPlatform/backend-team

Fix : User 엔티티에 tenant id 추가
  src/main/java/com/agenticcp/core/domain/user/entity/User.java
Owners: @CCCloudPlatform/backend-team

feat: Organization 도메인 기본 CRUD 기능 구현
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
  src/main/java/com/agenticcp/core/domain/organization/dto/CreateOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/UpdateOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: User 엔티티 Organization import 추가
  src/main/java/com/agenticcp/core/domain/user/entity/User.java
Owners: @CCCloudPlatform/backend-team

refactor: 중복 Organization 파일 삭제
  src/main/java/com/agenticcp/core/domain/user/entity/Organization.java
Owners: @CCCloudPlatform/backend-team

feat: 조직 계층 구조 관리 DTO 클래스 추가
  src/main/java/com/agenticcp/core/domain/organization/dto/MoveOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationHierarchyResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationPathResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationStatsResponse.java
Owners: @CCCloudPlatform/backend-team

feat: OrganizationService 계층 구조 관리 기능 확장
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
Owners: @CCCloudPlatform/backend-team

feat: OrganizationController 계층 구조 API 엔드포인트 추가
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
Owners: @CCCloudPlatform/backend-team

fix: OrganizationResponse 필드 추가 및 from() 메서드 업데이트
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationResponse.java
Owners: @CCCloudPlatform/backend-team

test: 조직 계층 구조 관리 기능 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationHierarchyServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: CloudAccount 엔터티 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudAccount.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountRepository 추가
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudAccountRepository.java
Owners: @CCCloudPlatform/backend-team

feat: CloudErrorCode에 CloudAccount 관련 에러코드 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountService 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountService.java
Owners: @CCCloudPlatform/backend-team

test: CloudAccountServiceTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountServiceTest.java
Owners: @CCCloudPlatform/java-team

build: aws sdk 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: AwsConfig 추가
  src/main/java/com/agenticcp/core/common/config/AwsConfig.java
Owners: @CCCloudPlatform/backend-team

feat: AwsVpcMapper 응답 모델 변환 메서드
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ vpc/AwsVpcMapper.java
Owners: @CCCloudPlatform/backend-team

feat: Vpc 생성 요청 dto
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VpcCreateRequest.java
Owners: @CCCloudPlatform/backend-team
