Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

docs: AWS 설정 및 리소스 생성 가이드 추가
  docs/AWS_SETUP_AND_RESOURCE_GUIDE.md
Owners: @CCCloudPlatform/docs-team

test: RoleServiceTest에서 Tenant ID 설정 추가
  src/test/java/com/agenticcp/core/domain/user/service/RoleServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: DNS 관리 위한 Command 클래스 생성
  src/main/java/com/agenticcp/core/domain/cloud/port/model/dns/DnsCreateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/dns/DnsDeleteCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/dns/DnsQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/dns/DnsUpdateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/dns/GetDnsCommand.java
Owners: @CCCloudPlatform/backend-team

feat: DNS 조회, 관리 port 구현
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/dns/DnsDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/dns/DnsManagementPort.java
Owners: @CCCloudPlatform/backend-team

feat: DNS 관리를 위한 DTO들 정의
  src/main/java/com/agenticcp/core/domain/cloud/dto/DnsCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/DnsDeleteRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/DnsQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/DnsResponse.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/DnsUpdateRequest.java
Owners: @CCCloudPlatform/backend-team

feat: DNS 포트 라우터 정의
  src/main/java/com/agenticcp/core/domain/cloud/service/dns/DnsPortRouter.java
Owners: @CCCloudPlatform/backend-team

feat: DNS 관리 유스케이스 정의
  src/main/java/com/agenticcp/core/domain/cloud/service/dns/DnsUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: DNS 관리 컨트롤러 정의
  src/main/java/com/agenticcp/core/domain/cloud/controller/DnsController.java
Owners: @CCCloudPlatform/backend-team

chore: AWS Route53 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: AWS Route53 조회, 관리 어댑터 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/dns/AwsDnsDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/dns/AwsDnsManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AWS Route53 config 클래스 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsDnsConfig.java
Owners: @CCCloudPlatform/backend-team

feat: AWS Route53 매퍼 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/dns/AwsDnsMapper.java
Owners: @CCCloudPlatform/backend-team

refactor: AWS capability에 dns 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsCapabilityConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: 클라우드 공통 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
Owners: @CCCloudPlatform/backend-team

refactor: dns zone을 자원으로 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
Owners: @CCCloudPlatform/backend-team

feat: Function 관리/조회 관련 커맨드 모델 구현
  src/main/java/com/agenticcp/core/domain/cloud/port/model/function/FunctionCreateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/function/FunctionDeleteCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/function/FunctionInvokeCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/function/FunctionQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/function/FunctionUpdateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/function/GetFunctionCommand.java
Owners: @CCCloudPlatform/backend-team

feat: Function 관리/조회 관련 포트 구현
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/function/FunctionDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/function/FunctionInvocationPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/function/FunctionManagementPort.java
Owners: @CCCloudPlatform/backend-team

feat: Function 관리/조회 관련 dto 구현
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionDeleteRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionInvokeRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionResponse.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionUpdateRequest.java
Owners: @CCCloudPlatform/backend-team

feat: Function 관리 포트 라우팅 구현
  src/main/java/com/agenticcp/core/domain/cloud/service/function/FunctionPortRouter.java
Owners: @CCCloudPlatform/backend-team

feat: Function 관리 유스케이스 구현
  src/main/java/com/agenticcp/core/domain/cloud/service/function/FunctionUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: Function 관리 컨트롤러 구현
  src/main/java/com/agenticcp/core/domain/cloud/controller/FunctionController.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionDeleteRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/FunctionUpdateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/service/function/FunctionUseCaseService.java
Owners: @CCCloudPlatform/backend-team

chore: aws 람다 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: aws 람다 config 설정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsFunctionConfig.java
Owners: @CCCloudPlatform/backend-team

feat: aws 람다 관리 어댑터 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/function/AwsFunctionDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/function/AwsFunctionInvocationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/function/AwsFunctionManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: aws 람다 매퍼 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/function/AwsFunctionMapper.java
Owners: @CCCloudPlatform/backend-team

feat: 멀티 테넌시 RBAC 엔티티 및 Repository 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResourceWorkerMap.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudResourceWorkerMapRepository.java
  src/main/java/com/agenticcp/core/domain/organization/entity/OrganizationUser.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationUserRepository.java
  src/main/java/com/agenticcp/core/domain/user/entity/Worker.java
  src/main/java/com/agenticcp/core/domain/user/entity/WorkerRoleAssignment.java
  src/main/java/com/agenticcp/core/domain/user/repository/WorkerRepository.java
  src/main/java/com/agenticcp/core/domain/user/repository/WorkerRoleAssignmentRepository.java
Owners: @CCCloudPlatform/backend-team

feat: Tenant Context 관리 레이어 추가
  src/main/java/com/agenticcp/core/common/config/WebMvcConfig.java
  src/main/java/com/agenticcp/core/common/context/TenantContextHolder.java
  src/main/java/com/agenticcp/core/common/context/TenantContextInterceptor.java
  src/main/java/com/agenticcp/core/common/context/TenantContextService.java
Owners: @CCCloudPlatform/backend-team

feat: PermissionService 권한 체크 로직 추가
  src/main/java/com/agenticcp/core/domain/user/service/PermissionService.java
Owners: @CCCloudPlatform/backend-team

feat: AuthenticationService에 Tenant 목록 반환 기능 추가
  src/main/java/com/agenticcp/core/common/dto/auth/TokenResponse.java
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

feat: CloudResource 쿠버네티스 스타일 마이그레이션
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/ResourceRegistrationRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudResourceRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/service/helper/CloudResourceManagementHelper.java
Owners: @CCCloudPlatform/backend-team

test: 테스트 코드 추가 및 수정
  src/test/java/com/agenticcp/core/common/context/TenantContextHolderTest.java
  src/test/java/com/agenticcp/core/common/context/TenantContextInterceptorTest.java
  src/test/java/com/agenticcp/core/common/context/TenantContextServiceTest.java
  src/test/java/com/agenticcp/core/common/service/AuthenticationServiceTest.java
  src/test/java/com/agenticcp/core/controller/VmControllerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/port/VmManagementContractTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/S3BucketUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/MultiCloudEnvironmentServiceTest.java
  src/test/java/com/agenticcp/core/domain/user/repository/WorkerRepositoryTest.java
  src/test/java/com/agenticcp/core/domain/user/service/PermissionServiceCanTest.java
Owners: @CCCloudPlatform/java-team

docs: RBAC 설계 문서 추가
  docs/RBAC_SIMPLIFIED_SEQUENCE.md
Owners: @CCCloudPlatform/docs-team

refactor: 쿠버네티스 스타일 CloudResource에 맞게 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsResourceMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
  src/main/java/com/agenticcp/core/domain/cloud/service/helper/CloudResourceManagementHelper.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
  src/main/java/com/agenticcp/core/domain/platform/service/MultiCloudEnvironmentService.java
Owners: @CCCloudPlatform/backend-team

pom.xml 수정
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: AWS DynamoDB 클라이언트 설정 및 Mapper/ErrorTranslator 뼈대 추가
  pom.xml
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsDynamoDbConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbErrorTranslator.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbMapper.java
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

feat: implement DynamoDB adapters for NoSQL outbound ports
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbBackupAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbIndexManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbMonitoringAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbStreamManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbTableManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbTaggingAdapter.java
Owners: @CCCloudPlatform/backend-team

feat(nosql): NoSqlPortRouter, NoSqlUseCaseService 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/nosql/AwsDynamoDbDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/nosql/NoSqlPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/nosql/NoSqlUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat(nosql): NoSQL API용 Request/Response DTO 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlBackupRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlBackupResponse.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlCreateTableRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlDeleteTableRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlListTablesRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlMetricQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlMetricResponse.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlTableResponse.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlTagRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/NoSqlUpdateTableRequest.java
Owners: @CCCloudPlatform/backend-team

feat(nosql): NoSQL REST API 컨트롤러 구현
  src/main/java/com/agenticcp/core/domain/cloud/controller/NoSqlController.java
Owners: @CCCloudPlatform/backend-team
