Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat: CacheWarmupApplicationListener 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/listener/CacheWarmupApplicationListener.java
Owners: @CCCloudPlatform/backend-team

fix: 플래그 키 누락 비즈니스 에러 처리
  src/main/java/com/agenticcp/core/domain/platform/cache/controller/FeatureFlagCacheController.java
Owners: @CCCloudPlatform/backend-team

fix: FeatureFlagService와 순환 참조 해결
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagSyncService.java
Owners: @CCCloudPlatform/backend-team

chore: ApiResponse 경로 변경
  src/main/java/com/agenticcp/core/domain/platform/cache/controller/FeatureFlagCacheController.java
  src/main/java/com/agenticcp/core/domain/platform/exception/FeatureFlagCacheErrorCode.java
  src/test/java/com/agenticcp/core/domain/platform/cache/controller/FeatureFlagCacheControllerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: API 엔드포인트에 isSystem 필터 파라미터 추가
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: PlatformConfig 엔티티 isSystem 필드 기본값 제거
  src/main/java/com/agenticcp/core/domain/platform/entity/PlatformConfig.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
  src/test/java/com/agenticcp/core/domain/platform/validation/impl/NamespaceConfigValidatorTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: 암호화 실패 시 예외 처리 및 isSystem 자동 설정 개선
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
Owners: @CCCloudPlatform/backend-team

feat: NamespaceConfigValidator 날짜 수정
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/NamespaceConfigValidator.java
Owners: @CCCloudPlatform/backend-team

feat: DTO 추가 및 SecurityPolicy 직렬화 문제 해결
  src/main/java/com/agenticcp/core/domain/security/dto/DefaultPolicyTemplate.java
  src/main/java/com/agenticcp/core/domain/security/dto/EffectivePolicySetDTO.java
  src/main/java/com/agenticcp/core/domain/security/entity/SecurityPolicy.java
Owners: @CCCloudPlatform/backend-team

feat: 테넌트 정책 서비스 레이어 구현
  src/main/java/com/agenticcp/core/domain/security/controller/TenantPolicyController.java
  src/main/java/com/agenticcp/core/domain/security/service/TenantAwarePolicyEngine.java
Owners: @CCCloudPlatform/backend-team

feat: 테넌트 정책 서비스 구현
  src/main/java/com/agenticcp/core/domain/security/service/TenantPolicyService.java
Owners: @CCCloudPlatform/backend-team

fix: CacheManager Bean 충돌 해결 및 정책 캐시 설정
  src/main/java/com/agenticcp/core/common/config/CacheConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
Owners: @CCCloudPlatform/backend-team

feat: SecurityPolicyRepository에 활성화된 정책 조회 메서드 추가
  src/main/java/com/agenticcp/core/domain/security/repository/SecurityPolicyRepository.java
Owners: @CCCloudPlatform/backend-team

feat: NamespaceConfigValidatorTest 날짜 수정
  src/test/java/com/agenticcp/core/domain/platform/validation/impl/NamespaceConfigValidatorTest.java
Owners: @CCCloudPlatform/java-team

feat: 테넌트 정책 컨트롤러 및 서비스 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/security/controller/TenantPolicyControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/security/service/TenantPolicyServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: 네임스페이스 검증 오류 및 테스트 실패 수정
  src/main/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListener.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListenerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListenerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

Feat: 전역 기능과 테넌트별 기능 구분하여 엔티티 상속
  src/main/java/com/agenticcp/core/common/entity/BaseEntity.java
  src/main/java/com/agenticcp/core/common/entity/TenantAwareEntity.java
  src/main/java/com/agenticcp/core/common/entity/TenantAwareEntityListener.java
  src/main/java/com/agenticcp/core/common/repository/BaseRepository.java
  src/main/java/com/agenticcp/core/common/repository/TenantAwareRepository.java
  src/main/java/com/agenticcp/core/common/repository/TenantAwareRepositoryImpl.java
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudProviderRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudResourceRepository.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/platform/repository/FeatureFlagRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/FeatureFlagTargetRuleRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/LicenseRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/PlatformConfigRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/PlatformHealthRepository.java
  src/main/java/com/agenticcp/core/domain/security/entity/AuditLog.java
  src/main/java/com/agenticcp/core/domain/security/entity/Compliance.java
  src/main/java/com/agenticcp/core/domain/security/entity/SecurityPolicy.java
  src/main/java/com/agenticcp/core/domain/security/entity/ThreatDetection.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/TenantBilling.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/TenantConfig.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/TenantIsolation.java
  src/main/java/com/agenticcp/core/domain/tenant/repository/TenantBillingRepository.java
  src/main/java/com/agenticcp/core/domain/user/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/user/entity/Permission.java
  src/main/java/com/agenticcp/core/domain/user/entity/Role.java
  src/main/java/com/agenticcp/core/domain/user/entity/User.java
  src/test/java/com/agenticcp/core/AgenticCpCoreApplicationTests.java
  src/test/java/com/agenticcp/core/common/entity/BaseEntityTest.java
  src/test/java/com/agenticcp/core/domain/cloud/entity/CloudResourceTest.java
  src/test/java/com/agenticcp/core/domain/tenant/entity/TenantBillingTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 모니터링, 알림, 헬스체크 도메인 API 형식 통일
  src/main/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionController.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MetricsController.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigController.java
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
Owners: @CCCloudPlatform/backend-team

fix : 기존 cursor 파일 삭제
  .cursor/controller.mdc
  .cursor/dto.mdc
  .cursor/entity.mdc
  .cursor/repository.mdc
  .cursor/service.mdc
  .cursor/testing-service-unit.mdc
Owners: @CCCloudPlatform/developers

feat: 회원가입/로그인 흐름에 인증 이력 연동\n\n- AuthenticationService: register/login 시 UserAuthHistory 비동기 저장\n- AuthController: HttpServletRequest 전달로 IP/User-Agent 추출 가능
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

feat: 2FA 설정/활성화에 인증 이력 저장 연동\n\n- /auth/2fa/setup 호출 시 TWO_FACTOR_SETUP 성공 이력 기록\n- /auth/2fa/enable 성공/실패 시 TWO_FACTOR_ENABLE 이력 기록
  src/main/java/com/agenticcp/core/controller/TwoFactorController.java
Owners: @CCCloudPlatform/backend-team

fix: Disabled several integration tests and controller tests to prevent execution during the current build process.
  .cursor/rules/controller-pattern.mdc
  .cursor/rules/repository-pattern.mdc
  .cursor/rules/service-pattern.mdc
  .cursor/rules/unittest-pattern.mdc
  src/test/java/com/agenticcp/core/common/audit/AuditAnnotationIntegrationTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditChangeTrackingTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditControllerTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditEventIntegrationTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditLoggingIntegrationTest.java
  src/test/java/com/agenticcp/core/controller/AdvancedHealthControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MetricsControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigControllerTest.java
  src/test/java/com/agenticcp/core/domain/notification/controller/NotificationControllerTest.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListenerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigAuditIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/tenant/controller/TenantAuthorizationControllerTest.java
Owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team

feat: 모니터링 대시보드 API 구현
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MonitoringDashboardController.java
  src/main/java/com/agenticcp/core/domain/monitoring/dto/DashboardData.java
  src/main/java/com/agenticcp/core/domain/monitoring/dto/LogEntryResponse.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricTrendService.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MonitoringDashboardService.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionControllerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: SecurityPolicyDTO 및 매퍼 추가, TenantPolicyController 수정
  src/main/java/com/agenticcp/core/domain/security/controller/TenantPolicyController.java
  src/main/java/com/agenticcp/core/domain/security/dto/SecurityPolicyDTO.java
  src/main/java/com/agenticcp/core/domain/security/entity/SecurityPolicy.java
  src/main/java/com/agenticcp/core/domain/security/mapper/SecurityPolicyMapper.java
Owners: @CCCloudPlatform/backend-team

fix: String tenantId를 Long으로 변경하여 컴파일 에러 해결
  src/main/java/com/agenticcp/core/domain/security/controller/PolicyPriorityController.java
  src/main/java/com/agenticcp/core/domain/security/service/PolicyPriorityService.java
Owners: @CCCloudPlatform/backend-team

fix: test 파일 tenantId 타입 불일치 해결 (String → Long)
  src/test/java/com/agenticcp/core/domain/security/service/PolicyPriorityServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: 통합테스트 비활성화 - SecurityConfig 인증 설정으로 인해 임시 비활성화
  src/test/java/com/agenticcp/core/domain/security/controller/TenantPolicyControllerIntegrationTest.java
Owners: @CCCloudPlatform/java-team

feat: Audit Log DTO 및 에러 코드 추가
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogSearchResponse.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogSummaryResponse.java
  src/main/java/com/agenticcp/core/common/enums/AuditErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: Audit Log 서비스 레이어 구현
  src/main/java/com/agenticcp/core/common/repository/AuditLogRepository.java
  src/main/java/com/agenticcp/core/common/service/AuditLogService.java
  src/main/java/com/agenticcp/core/common/service/AuditLogStatisticsCalculator.java
Owners: @CCCloudPlatform/backend-team

feat: Audit Log API 엔드포인트 구현
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogResponse.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogSearchRequest.java
  src/main/java/com/agenticcp/core/controller/AuditLogController.java
Owners: @CCCloudPlatform/backend-team

test: Audit Log 테스트 코드 추가
  src/test/java/com/agenticcp/core/common/service/AuditLogServiceTest.java
  src/test/java/com/agenticcp/core/common/service/AuditLogStatisticsCalculatorTest.java
  src/test/java/com/agenticcp/core/controller/AuditLogControllerTest.java
Owners: @CCCloudPlatform/java-team

test: 모니터링 대시보드 API 포괄적 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MonitoringDashboardControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricTrendServiceTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MonitoringDashboardServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: MonitoringDashboardService 의존성 정리
  src/main/java/com/agenticcp/core/domain/monitoring/service/MonitoringDashboardService.java
Owners: @CCCloudPlatform/backend-team

refactor: 모니터링 대시보드 서비스 코드 정리
  src/main/java/com/agenticcp/core/domain/monitoring/service/MonitoringDashboardService.java
Owners: @CCCloudPlatform/backend-team

delete: H2 사용하는 테스트 코드 삭제
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTestH2.java
Owners: @CCCloudPlatform/java-team

feat: PolicyViolationResponseService 클래스 구현
  src/main/java/com/agenticcp/core/domain/security/entity/PolicyViolation.java
  src/main/java/com/agenticcp/core/domain/security/entity/ViolationResponseConfig.java
  src/main/java/com/agenticcp/core/domain/security/repository/PolicyViolationRepository.java
  src/main/java/com/agenticcp/core/domain/security/repository/ViolationResponseConfigRepository.java
  src/main/java/com/agenticcp/core/domain/security/service/PolicyViolationResponseService.java
Owners: @CCCloudPlatform/backend-team

feat: PolicyViolationEvent DTO 구현
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyViolationEvent.java
Owners: @CCCloudPlatform/backend-team

feat: PolicyViolation DTO 구현
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyViolationDTO.java
  src/main/java/com/agenticcp/core/domain/security/dto/ViolationStatistics.java
  src/main/java/com/agenticcp/core/domain/security/mapper/PolicyViolationMapper.java
Owners: @CCCloudPlatform/backend-team

feat: 정책 위반 감지 및 이벤트 발행 로직 구현
  src/main/java/com/agenticcp/core/domain/security/service/PolicyEngineService.java
  src/main/java/com/agenticcp/core/domain/security/service/TenantAwarePolicyEngine.java
Owners: @CCCloudPlatform/backend-team

feat: 통합 테스트 작성
  src/test/java/com/agenticcp/core/domain/security/service/PolicyViolationResponseServiceTest.java
Owners: @CCCloudPlatform/java-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
