Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

fix: Feature 3 테스트 실패 문제 수정 (#22)
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigAuditIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 플랫폼 설정 이력 조회 API 구현
  src/main/java/com/agenticcp/core/common/audit/AuditLogger.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigHistoryQueryService.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/main/java/com/agenticcp/core/domain/security/repository/AuditLogRepository.java
  src/test/java/com/agenticcp/core/domain/platform/service/ConfigAuditServiceTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigAuditIntegrationTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: 모니터링 도메인 Hibernate DDL 구문 오류 수정
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Metric.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricMetadata.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricTag.java
Owners: @CCCloudPlatform/backend-team

refactor: 임시 MetricDto 제거 및 Metric 엔티티 교체
  src/main/java/com/agenticcp/core/domain/notification/dto/MetricDto.java
  src/main/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationService.java
  src/test/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 알림 도메인 tenantId 타입 String 통일
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Alert.java
  src/main/java/com/agenticcp/core/domain/notification/dto/NotificationRequest.java
  src/main/java/com/agenticcp/core/domain/notification/entity/Notification.java
  src/main/java/com/agenticcp/core/domain/notification/entity/NotificationChannelEntity.java
  src/main/java/com/agenticcp/core/domain/notification/entity/NotificationTemplate.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationChannelRepository.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationRepository.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationTemplateRepository.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationService.java
  src/test/java/com/agenticcp/core/domain/notification/controller/NotificationControllerTest.java
  src/test/java/com/agenticcp/core/domain/notification/dto/NotificationRequestTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/impl/EmailNotificationChannelTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

docs: 알림 API Swagger 문서화 추가
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
  src/main/java/com/agenticcp/core/domain/notification/service/impl/EmailNotificationChannel.java
Owners: @CCCloudPlatform/backend-team

refactor: PlatformConfigController 감사 로깅을 애노테이션 기반으로 개선
  src/main/java/com/agenticcp/core/common/audit/AuditLogger.java
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigHistoryApiTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/ConfigAuditServiceTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/ConfigHistoryQueryServiceTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigAuditIntegrationTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: PlatformConfigController 민감한 조회 작업에 @AuditRequired 적용
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
Owners: @CCCloudPlatform/backend-team

refactor: PlatformConfigService에서 중복 감사 로깅 제거
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigAuditIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceMaskingTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: application-local.yml 구문 오류 수정 및 보안 설정 제거
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/backend-team

fix: application-test.yml JWT 설정 키 통일 및 환경변수 네이밍 통일
  src/main/resources/application-test.yml
Owners: @CCCloudPlatform/backend-team

fix: application.yml 보안 강화 - JWT secret 기본값 제거 및 DB 비밀번호 환경변수화
  src/main/resources/application.yml
Owners: @CCCloudPlatform/backend-team

feat: Docker 및 실행 스크립트 환경변수 설정 업데이트
  README.md
  docker-compose.yml
  env.example
  start-dev.sh
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/developers

feat: 감사 로깅 가이드 문서 추가
  docs/AUDIT_LOGGING_GUIDE.md
Owners: @CCCloudPlatform/docs-team

feat: Add Controller Pattern cursor rule
  .cursor/rules/controller-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add Service Pattern cursor rule
  .cursor/rules/service-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add Repository Pattern cursor rule
  .cursor/rules/repository-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add Entity Pattern cursor rule
  .cursor/rules/entity-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add DTO Pattern cursor rule
  .cursor/rules/dto-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add BusinessException Pattern cursor rule
  .cursor/rules/businessexception-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add UnitTest Pattern cursor rule
  .cursor/rules/unittest-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add Audit Logging Pattern cursor rule
  .cursor/rules/audit-logging-pattern.mdc
Owners: @CCCloudPlatform/developers

feat: Add Crypto Service Pattern cursor rule
  .cursor/rules/crypto-service-pattern.mdc
Owners: @CCCloudPlatform/developers

refactor: 자동 우선순위 할당 로직 개선 및 테스트 추가
  src/main/java/com/agenticcp/core/domain/security/service/PolicyPriorityService.java
  src/test/java/com/agenticcp/core/domain/security/service/PolicyPriorityServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: 추가적인 우선순위 검색 테스트 케이스 구현
  src/test/java/com/agenticcp/core/domain/security/service/PolicyPriorityServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 테스트를 위한 정책 우선순위 관리 API 추가
  src/main/java/com/agenticcp/core/domain/security/controller/PolicyPriorityController.java
  src/main/java/com/agenticcp/core/domain/security/controller/SecurityPolicyController.java
Owners: @CCCloudPlatform/backend-team

feat(notification): 이메일을 슬랙 웹훅으로 전환
  pom.xml
  src/main/java/com/agenticcp/core/domain/notification/config/NotificationConfig.java
  src/main/java/com/agenticcp/core/domain/notification/service/impl/EmailNotificationChannel.java
  src/main/java/com/agenticcp/core/domain/notification/service/impl/SlackNotificationChannel.java
  src/main/resources/application-local.yml
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationChannelFactoryTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/impl/EmailNotificationChannelTest.java
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

refactor: MVP 범위로 축소 - 불필요한 기능 제거
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
  src/main/java/com/agenticcp/core/domain/notification/entity/NotificationTemplate.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationRepository.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationTemplateRepository.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationService.java
Owners: @CCCloudPlatform/backend-team

feat: 모니터링 시스템과 알림 연동 및 테넌트 격리 개선
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
  src/main/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationService.java
Owners: @CCCloudPlatform/backend-team

Feat : mvn test 완료
  src/main/java/com/agenticcp/core/AgenticCpCoreApplication.java
  src/main/java/com/agenticcp/core/common/entity/BaseEntity.java
  src/test/java/com/agenticcp/core/common/repository/TenantAwareRepositoryImplTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: 로깅 마스킹 유틸리티 클래스 구현
  src/main/java/com/agenticcp/core/common/logging/LogMaskingUtils.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 엔티티 클래스 구현
  src/main/java/com/agenticcp/core/domain/ui/entity/Menu.java
  src/main/java/com/agenticcp/core/domain/ui/entity/MenuPermission.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 레포지토리 인터페이스 구현
  src/main/java/com/agenticcp/core/domain/ui/repository/MenuPermissionRepository.java
  src/main/java/com/agenticcp/core/domain/ui/repository/MenuRepository.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 DTO 클래스 구현
  src/main/java/com/agenticcp/core/domain/ui/dto/MenuRequest.java
  src/main/java/com/agenticcp/core/domain/ui/dto/MenuResponse.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 예외 클래스 구현
  src/main/java/com/agenticcp/core/domain/ui/exception/MenuErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 어노테이션 및 AOP 클래스 구현
  src/main/java/com/agenticcp/core/domain/ui/annotation/MenuAccess.java
  src/main/java/com/agenticcp/core/domain/ui/aspect/MenuAccessAspect.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 서비스 클래스들 구현
  src/main/java/com/agenticcp/core/domain/ui/service/MenuAuthorizationService.java
  src/main/java/com/agenticcp/core/domain/ui/service/MenuCacheService.java
  src/main/java/com/agenticcp/core/domain/ui/service/MenuInitializationService.java
  src/main/java/com/agenticcp/core/domain/ui/service/MenuService.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 컨트롤러 클래스 구현
  src/main/java/com/agenticcp/core/domain/ui/controller/MenuController.java
Owners: @CCCloudPlatform/backend-team

feat: UI 도메인 테스트 클래스들 구현
  src/test/java/com/agenticcp/core/domain/ui/service/MenuAuthorizationServiceTest.java
  src/test/java/com/agenticcp/core/domain/ui/service/MenuServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 설정 파일 수정 및 개선
  src/main/java/com/agenticcp/core/common/config/RedisConfig.java
  src/main/java/com/agenticcp/core/common/enums/ErrorCategory.java
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/backend-team
