Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat: 테넌트 격리 이벤트와 리스너 구현
  src/main/java/com/agenticcp/core/domain/tenant/event/TenantIsolationAppliedEvent.java
  src/main/java/com/agenticcp/core/domain/tenant/listener/TenantIsolationEventListener.java
Owners: @CCCloudPlatform/backend-team

feat: TenantIsolationService 테넌트 격리 정책 서비스
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantIsolationService.java
Owners: @CCCloudPlatform/backend-team

feat: CloudResourceResult Dto 구현
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/dto/CloudResourceResult.java
Owners: @CCCloudPlatform/backend-team

feat: 로깅 마스킹 핵심 기능 구현
  src/main/java/com/agenticcp/core/common/logging/masking/LogMaskingAspect.java
  src/main/java/com/agenticcp/core/common/logging/masking/Masked.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingService.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingStrategyProvider.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingType.java
Owners: @CCCloudPlatform/backend-team

feat: 마스킹 전략 구현체 추가
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/CreditCardMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/DefaultMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/IpAddressMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/PasswordMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/PhoneNumberMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/SecretKeyMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/SsnMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/TokenMaskingStrategy.java
Owners: @CCCloudPlatform/backend-team

test: 로깅 마스킹 기능 테스트 코드 작성
  src/test/java/com/agenticcp/core/common/logging/masking/LogMaskingAspectTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/MaskingStrategyProviderTest.java
Owners: @CCCloudPlatform/java-team

test: 마스킹 전략별 단위 테스트 코드 작성
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/CreditCardMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/DefaultMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/EmailMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/IpAddressMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/PasswordMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/PhoneNumberMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/SecretKeyMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/SsnMaskingStrategyTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/strategy/TokenMaskingStrategyTest.java
Owners: @CCCloudPlatform/java-team

feat: 이메일 마스킹 전략 구현체 추가
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/EmailMaskingStrategy.java
Owners: @CCCloudPlatform/backend-team

refactor: 마스킹 기능 구현에 따른 기존 로직 리팩토링
  src/main/java/com/agenticcp/core/common/audit/AuditDatabaseListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditEntityListener.java
  src/main/java/com/agenticcp/core/common/dto/auth/LoginRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/RegisterRequest.java
  src/main/java/com/agenticcp/core/common/logging/AbstractMdcContextProvider.java
  src/main/java/com/agenticcp/core/common/logging/LocalMdcContextProvider.java
  src/main/java/com/agenticcp/core/common/logging/ProdMdcContextProvider.java
  src/main/java/com/agenticcp/core/common/repository/AuditLogRepository.java
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
Owners: @CCCloudPlatform/backend-team

test: 기존 테스트 코드 개선
  src/test/java/com/agenticcp/core/common/audit/AuditAnnotationIntegrationTest.java
  src/test/java/com/agenticcp/core/common/logging/AbstractMdcContextProviderTest.java
  src/test/java/com/agenticcp/core/common/logging/LocalMdcContextProviderTest.java
  src/test/java/com/agenticcp/core/common/logging/ProdMdcContextProviderTest.java
Owners: @CCCloudPlatform/java-team

chore: 개발 환경 설정 및 문서 업데이트
  docker-compose.dev.yml
  docs/AUDIT_LOGGING_GUIDE.md
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team

feat: security/repository/AuditLogRepository 삭제
  src/main/java/com/agenticcp/core/domain/security/repository/AuditLogRepository.java
Owners: @CCCloudPlatform/backend-team

feat: SampleCloudProviderService 보안그룹 메서드
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/service/SampleCloudProviderService.java
Owners: @CCCloudPlatform/backend-team

feat: 격리 결과와 상태용 DTO
  src/main/java/com/agenticcp/core/domain/tenant/adapter/dto/IsolationResult.java
  src/main/java/com/agenticcp/core/domain/tenant/adapter/dto/IsolationStatus.java
Owners: @CCCloudPlatform/backend-team

feat: 테넌트 격리 정책 인터페이스
  src/main/java/com/agenticcp/core/domain/tenant/adapter/TenantIsolationAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: 테넌트 격리 정책 인터페이스 생성하는 팩토리
  src/main/java/com/agenticcp/core/domain/tenant/adapter/TenantIsolationAdapterFactory.java
Owners: @CCCloudPlatform/backend-team

feat: TenantIsolationService에 격리 정책 적용 메서드까지 구현
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantIsolationService.java
Owners: @CCCloudPlatform/backend-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

Refactor CI workflow to check repository structure
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

feat: 2FA 구현을 위한 Maven 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: User Entity 2FA 지원 및 기본 상태를 PENDING으로 변경
  src/main/java/com/agenticcp/core/domain/user/entity/User.java
Owners: @CCCloudPlatform/backend-team

feat: 2FA 관련 에러 코드 추가
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: 2FA 관련 DTO 클래스 생성
  src/main/java/com/agenticcp/core/common/dto/auth/LoginRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/TwoFactorEnableRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/TwoFactorSetupResponse.java
  src/main/java/com/agenticcp/core/common/dto/auth/UserStatusResponse.java
Owners: @CCCloudPlatform/backend-team

feat: TwoFactorService 기본 구조 구현
  src/main/java/com/agenticcp/core/common/service/TwoFactorService.java
Owners: @CCCloudPlatform/backend-team

fix: 컴파일 오류 수정
  src/main/java/com/agenticcp/core/common/service/TwoFactorService.java
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
Owners: @CCCloudPlatform/backend-team

feat: UserService에 2FA 관련 메서드 추가
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
Owners: @CCCloudPlatform/backend-team

feat: TwoFactorService에 Redis 임시 시크릿 키 저장 로직 추가
  src/main/java/com/agenticcp/core/common/service/TwoFactorService.java
Owners: @CCCloudPlatform/backend-team

feat: TwoFactorController 구현
  src/main/java/com/agenticcp/core/controller/TwoFactorController.java
Owners: @CCCloudPlatform/backend-team

feat: AuthenticationService에 2FA 통합
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

feat: SecurityConfig에 2FA 엔드포인트 보안 설정 추가
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

fix: PENDING 상태 사용자가 2FA 설정할 수 있도록 로그인 로직 수정
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

fix: 감사 로그 비동기 처리 활성화 및 API 컨텍스트 경로 수정
  .github/workflows/ci.yml
  docker/mysql/init/01-init.sql
  src/main/java/com/agenticcp/core/common/audit/AuditDatabaseListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditLogger.java
  src/main/java/com/agenticcp/core/common/config/AuditConfig.java
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
  src/main/java/com/agenticcp/core/common/context/TenantContextFilter.java
  src/main/java/com/agenticcp/core/common/repository/AuditLogRepository.java
  src/main/java/com/agenticcp/core/common/util/EncryptedValueMasker.java
  src/main/java/com/agenticcp/core/controller/AuthController.java
  src/main/java/com/agenticcp/core/controller/HealthController.java
  src/main/java/com/agenticcp/core/controller/TwoFactorController.java
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/dto/ConfigHistoryResponse.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigHistoryQueryService.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/main/resources/application-local.yml
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigHistoryApiTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/ConfigAuditServiceTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/ConfigHistoryQueryServiceTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigAuditIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceMaskingTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: develop 브랜치 기준으로 감사 로그 설정 복원
  src/main/java/com/agenticcp/core/common/audit/AuditDatabaseListener.java
  src/main/java/com/agenticcp/core/common/config/AuditConfig.java
Owners: @CCCloudPlatform/backend-team

Update WBS status for multiple tasks to 'Completed' in AgenticCP_WBS.csv
  docs/AgenticCP_WBS.csv
Owners: @CCCloudPlatform/developers

feat: 캐시 네임스페이스/프로필 TTL 정리
  src/main/resources/application-local.yml
  src/main/resources/application-test.yml
Owners: @CCCloudPlatform/backend-team

feat: 키 단건 조회 캐시 메서드 추가
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
Owners: @CCCloudPlatform/backend-team

fix: develop 브랜치 기준으로 audit 설정 복원
  src/main/java/com/agenticcp/core/common/audit/AuditDatabaseListener.java
  src/main/java/com/agenticcp/core/common/config/AuditConfig.java
Owners: @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
