Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

fix: Test Error
  src/main/java/com/agenticcp/core/domain/security/service/PolicyEngineService.java
Owners: @CCCloudPlatform/backend-team

fix : Test Error in ENUM Error Code
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
Owners: @CCCloudPlatform/backend-team

fix : Real Test Error in ENUM CODE
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: CspCapability create, update 필드 제거
  src/main/java/com/agenticcp/core/domain/cloud/capability/CspCapability.java
Owners: @CCCloudPlatform/backend-team

fix: AzureSessionCredential, GcpSessionCredential import 및 관련 코드 삭제
  src/main/java/com/agenticcp/core/domain/cloud/service/SessionCacheService.java
Owners: @CCCloudPlatform/backend-team

feat: AwsCredentialProviderPortAdapter에 자격증명 저장, 삭제, 세션 발급 기능 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsCredentialProviderPortAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: CloudStubConfiguration에 자격증명 저장, 삭제, 세션 발급 기능 추가
  src/main/java/com/agenticcp/core/domain/cloud/config/CloudStubConfiguration.java
Owners: @CCCloudPlatform/backend-team

refactor: AwsCredentialManager 패키지 경로 변경
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountSyncAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsCredentialManager.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsSessionProvider.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapterGetSessionTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsSessionProviderTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/AwsCredentialManagerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: CloudAccount 관련 DTO/Command 패키지 경로 변경
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/AccountValidationPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountValidationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/CloudAccountController.java
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CloudAccountMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CredentialCommandMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/AccountValidationRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/AccountValidationResult.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/CloudAccountDto.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/ConnectionTestResult.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/DeleteCredentialCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/RegisterCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/ResolveCredentialCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/StoreCredentialCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/UpdateCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/AccountValidationPort.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountValidationAdapterTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: CredentialProviderPortAdapter.resolveCredentials() 메소드에서 credentialKey로 자격증명 해결하도록 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
Owners: @CCCloudPlatform/backend-team

fix: CloudAccount 엔터티에서 accountId -> accountScope 필드명 변경 - AWS의 accountId, Azure의 subscriptionId, GCP의 projectId를 accountScope로 추상화 - accountScope으로 credentialKey 조회 및 자격증명 해결
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountSyncAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountValidationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsCredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/config/CloudStubConfiguration.java
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudAccount.java
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CloudAccountMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CredentialCommandMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/AccountValidationResult.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/CloudAccountDto.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/RegisterCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/CredentialProviderPort.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudAccountRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountDomainService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/SessionCacheService.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapterGetSessionTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountValidationAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountDomainServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: AwsAccountCredential 관련 어댑터들 패키지 경로 이동
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountSyncAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialManager.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsSessionProvider.java
Owners: @CCCloudPlatform/backend-team

feat: AWS 자격증명 관련 어댑터들에 getProviderType 메서드 추가 AwsCredentialProviderPortAdapter -> AwsAccountCredentialManagementAdapter 이름 변경
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountSyncAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialProviderPortAdapter.java
Owners: @CCCloudPlatform/backend-team

refactor: 자격증명 관련 port 패키지 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/AccountCredentialPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountSyncAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/config/CloudStubConfiguration.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/account/AccountCredentialManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/account/AccountSyncPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/account/AccountValidationPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: CloudSessionCredential, AwsSessionCredential 패키지 경로 변경
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/AccountCredentialPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsResourceLifecycleAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsSessionCredential.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsSessionCredentialMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsSessionProvider.java
  src/main/java/com/agenticcp/core/domain/cloud/config/CloudStubConfiguration.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/CloudSessionCredential.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/ResourceLifecyclePort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/account/AccountCredentialManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/SessionCacheService.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsSessionProviderTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/AwsCredentialManagerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/SessionCacheServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 자격증명 관련 service 패키지 경로 이동
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/CloudAccountController.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/AccountCredentialPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountDomainService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/SessionCacheService.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountDomainServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: CredentialProviderPortAdapterGetSessionTest 삭제 AwsAccountCredentialManagementAdapterTest에 통합
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapterGetSessionTest.java
Owners: @CCCloudPlatform/java-team

refactor: 자격증명 관련 테스트
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialManagerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsSessionProviderTest.java
  src/test/java/com/agenticcp/core/domain/cloud/port/model/account/CloudSessionCredentialTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountDomainServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/account/SessionCacheServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: 리팩토링 반영해서 테스트 코드 수정
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
  src/test/java/com/agenticcp/core/domain/cloud/port/model/account/CloudSessionCredentialTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/account/SessionCacheServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: 불필요한 테스트 코드 제거
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapterTest.java
Owners: @CCCloudPlatform/java-team

fix: 중복되는 TracingPortAdapter와 AuditEventPortAdapter 제거
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/TracingPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/audit/AuditEventPortAdapter.java
Owners: @CCCloudPlatform/backend-team

fix: 불필요한 테스트 코드 제거
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsSessionProviderTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
Owners: @CCCloudPlatform/java-team

test: AwsAccountSyncAdapterTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountSyncAdapterTest.java
Owners: @CCCloudPlatform/java-team

feat: accessKey, accountScope 마스킹 전략 추가
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingService.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingType.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/AccessKeyMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/AccountScopeMaskingStrategy.java
Owners: @CCCloudPlatform/backend-team

feat: 자격증명 관련 로깅에 마스킹 적용
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountSyncAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialManager.java
  src/main/java/com/agenticcp/core/domain/cloud/config/CloudStubConfiguration.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountDomainService.java
Owners: @CCCloudPlatform/backend-team

feat: 자격증명 관련 Command/DTO에 마스킹 적용
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/AccountValidationRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/CloudAccountDto.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/RegisterCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/ResolveCredentialCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/StoreCredentialCommand.java
Owners: @CCCloudPlatform/backend-team

docs: 클라우드 도메인 자격증명 관리 가이드라인 추가
  docs/CLOUD_CREDENTIAL_GUIDE.md
Owners: @CCCloudPlatform/docs-team

feat: AccountValidationResult에 AccountScope 마스킹 적용
  src/main/java/com/agenticcp/core/domain/cloud/port/model/account/AccountValidationResult.java
Owners: @CCCloudPlatform/backend-team

test: masking service mock 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountSyncAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialManagerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountDomainServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: AccessKey, AccountScope 마스킹 전략 수정
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/AccessKeyMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/AccountScopeMaskingStrategy.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountController 감사 로깅 적용
  src/main/java/com/agenticcp/core/domain/cloud/controller/CloudAccountController.java
Owners: @CCCloudPlatform/backend-team

feat: 계정 상태 변경 후 캐시 무효화 로직 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountDomainService.java
Owners: @CCCloudPlatform/backend-team

refactor: SessionCacheService -> SessionCachePort, RedisSessionCacheAdapter 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/redis/account/RedisSessionCacheAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/account/SessionCachePort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountDomainService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/SessionCacheService.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapterTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: SessionCacheService 리팩토링에 따라 SessionCacheServiceTest 수정
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/redis/account/RedisSessionCacheAdapterTest.java
Owners: @CCCloudPlatform/java-team

refactor: reorganize vm service layer
  src/main/java/com/agenticcp/core/domain/cloud/controller/VmController.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor: VM 포트 구조와 커맨드 분리
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vm/VmCreateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vm/VmDeleteCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/vm/VmUpdateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vm/VmDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vm/VmLifecyclePort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vm/VmTaggingPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/port/VmManagementContractTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceLifecycleTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: AWS VM 어댑터 역할 분리
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmLifecycleAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmTaggingAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/VmManagementPort.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmAdapterProviderTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/port/VmManagementContractTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

chore: capability flag cleanup
  src/main/java/com/agenticcp/core/domain/cloud/capability/CapabilityGuard.java
  src/main/java/com/agenticcp/core/domain/cloud/capability/VmCapabilityConfig.java
Owners: @CCCloudPlatform/backend-team

docs: 클라우드 자격증명 관리 가이드라인 수정
  docs/CLOUD_CREDENTIAL_GUIDE.md
Owners: @CCCloudPlatform/docs-team

fix: conflict 해결
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagService.java
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team
