Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: 비밀번호 재설정 서비스 구현
  src/main/java/com/agenticcp/core/common/service/PasswordResetService.java
Owners: @CCCloudPlatform/backend-team

feat: 비밀번호 재설정 및 변경 API 컨트롤러 추가
  src/main/java/com/agenticcp/core/controller/PasswordController.java
Owners: @CCCloudPlatform/backend-team

feat: 이메일 및 Thymeleaf 설정 추가
  src/main/resources/application.yml
Owners: @CCCloudPlatform/backend-team

feat: ContextHloder, ContextFilter 파일 공통으로 사용/api 정상화 확인
  src/main/java/com/agenticcp/core/common/context/TenantContextFilter.java
  src/main/java/com/agenticcp/core/common/crypto/AesGcmEncryptionService.java
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
  src/main/java/com/agenticcp/core/domain/platform/event/ConfigChangeEvent.java
  src/main/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListener.java
  src/main/java/com/agenticcp/core/domain/platform/repository/PlatformConfigRepository.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListenerTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceMaskingTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: PlatformConfigService 테스트에 TenantService mock 추가
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceMaskingTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: FeatureFlagTargetingController 리팩토링 - JavaDoc 설명 추가 - Swagger 응답 정의 - @slf4j 로깅 추가 - api 경로 v1으로 수정 - 삭제 컨트롤러 API 응답 204로 수정
  src/main/java/com/agenticcp/core/domain/platform/controller/FeatureFlagTargetingController.java
Owners: @CCCloudPlatform/backend-team

refactor: CreateTargetRuleRequest 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/targeting/CreateTargetRuleRequest.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetRuleEvaluationRequest 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/targeting/TargetRuleEvaluationRequest.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetRuleEvaluationResponse 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/targeting/TargetRuleEvaluationResponse.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetRuleListResponse 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/targeting/TargetRuleListResponse.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetRuleResponse 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/targeting/TargetRuleResponse.java
Owners: @CCCloudPlatform/backend-team

refactor: UpdateTargetRuleRequest 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/targeting/UpdateTargetRuleRequest.java
Owners: @CCCloudPlatform/backend-team

refactor: FeatureFlagTargetRule 리팩토링 - JavaDoc @since 추가 - ruleName validation 추가 - index 추가
  src/main/java/com/agenticcp/core/domain/platform/entity/FeatureFlagTargetRule.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetingRuleErrorCode 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/enums/TargetingRuleErrorCode.java
Owners: @CCCloudPlatform/backend-team

refactor: FeatureFlagTargetRuleRepository 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/repository/FeatureFlagTargetRuleRepository.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetingConditionEvaluator 리팩토링 - JavaDoc @since 추가
  src/main/java/com/agenticcp/core/domain/platform/service/TargetingConditionEvaluator.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetingRuleService 리팩토링 - JavaDoc @since 추가 - JavaDoc public 메서드 @param/@return/@throws 추가
  src/main/java/com/agenticcp/core/domain/platform/service/TargetingRuleService.java
Owners: @CCCloudPlatform/backend-team

refactor: TargetingConditionEvaluatorTest 리팩토링 - JavaDoc @since 추가
  src/test/java/com/agenticcp/core/domain/platform/service/TargetingConditionEvaluatorTest.java
Owners: @CCCloudPlatform/java-team

refactor: TargetingRuleServiceTest 리팩토링 - JavaDoc @since 추가 - 예외 검증 구체화
  src/test/java/com/agenticcp/core/domain/platform/service/TargetingRuleServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: CloudProvider 리팩토링 - JavaDoc @author/@version/@since 추가 - 인덱스 추가 - 필드별 validation 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudProvider.java
Owners: @CCCloudPlatform/backend-team

refactor: MultiCloudEnvironmentServiceTest 리팩토링 - JavaDoc @since 추가
  src/test/java/com/agenticcp/core/domain/platform/service/MultiCloudEnvironmentServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: RedisCacheConfig 리팩토링 - featureFlagCacheProperties 메서드에 @return 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisCacheConfig.java
Owners: @CCCloudPlatform/backend-team

fix: FeatureFlagCacheHealthService 수정 - getMetrics 메서드에 metricsStartTime, lastUpdatedTime 추가 - resetMetrics 메서드에서 metricsStartTime 현재 시각으로 초기화
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheHealthService.java
Owners: @CCCloudPlatform/backend-team

refactor: FeatureFlagSyncService 리팩토링 - ObjectMapper 직접 생성 제거하고 redisTemplate serializer 활용
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagSyncService.java
Owners: @CCCloudPlatform/backend-team

refactor: FeatureFlagCacheErrorCode 리팩토링 - FeatureFlagCacheErrorCode exception 폴더에서 enums 폴더로 이동 - FeatureFlagCacheService, FeatureFlagCacheController 에서 FeatureFlagCacheErrorCode import 수정
  src/main/java/com/agenticcp/core/domain/platform/cache/controller/FeatureFlagCacheController.java
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheService.java
  src/main/java/com/agenticcp/core/domain/platform/enums/FeatureFlagCacheErrorCode.java
Owners: @CCCloudPlatform/backend-team

refactor: FeatureFlagService 리팩토링 - JavaDoc @since 추가 - JavaDoc public 메서드 @param/@return 추가 - 의존성 주입 방식 개선
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagService.java
Owners: @CCCloudPlatform/backend-team

refactor: FeatureFlagCacheControllerTest 리팩토링 - 불필요한 주석 삭제
  src/test/java/com/agenticcp/core/domain/platform/cache/controller/FeatureFlagCacheControllerTest.java
Owners: @CCCloudPlatform/java-team

refactor: FeatureFlagCacheServiceTest 리팩토링 - JavaDoc @since 추가
  src/test/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: FeatureFlagServiceTest 수정
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: FeatureFlagSeverity enum 추가
  src/main/java/com/agenticcp/core/domain/platform/enums/FeatureFlagSeverity.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlag 엔터티에 severity 필드 추가
  src/main/java/com/agenticcp/core/domain/platform/entity/FeatureFlag.java
Owners: @CCCloudPlatform/backend-team

feat: ApprovalStatus enum 추가
  src/main/java/com/agenticcp/core/domain/platform/enums/ApprovalStatus.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagApproval entity 추가
  src/main/java/com/agenticcp/core/domain/platform/entity/FeatureFlagApproval.java
Owners: @CCCloudPlatform/backend-team

feat: PlatformComplianceConfig entity 추가
  src/main/java/com/agenticcp/core/domain/platform/entity/PlatformComplianceConfig.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagAuditLogResponse DTO 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/FeatureFlagAuditLogResponse.java
Owners: @CCCloudPlatform/backend-team

feat: PlatformComplianceReportResponse DTO 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/PlatformComplianceReportResponse.java
Owners: @CCCloudPlatform/backend-team

feat: PlatformComplianceConfigRequest DTO 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/PlatformComplianceConfigRequest.java
Owners: @CCCloudPlatform/backend-team

feat: PlatformComplianceConfigResponse DTO 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/PlatformComplianceConfigResponse.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagApprovalRequest DTO 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/FeatureFlagApprovalRequest.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagApprovalResponse DTO 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/FeatureFlagApprovalResponse.java
Owners: @CCCloudPlatform/backend-team
