Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

build: h2 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

chore(redis): docker-compose(dev/prod)에 Redis 추가 및 local 프로파일 Redis 설정 활성화
  docker-compose.dev.yml
  docker-compose.yml
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/backend-team

docs: Add Cursor Rules feature issue and analysis documents
  docs/CURSOR_RULES_ANALYSIS.md
  docs/CURSOR_RULES_FEATURE_ISSUE.md
Owners: @CCCloudPlatform/docs-team

refactor(tenant-auth): Redis 의존성을 선택적으로 변경하여 Redis 비활성화 환경 지원
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantAuthorizationService.java
Owners: @CCCloudPlatform/backend-team

feat: 정책 충돌 해결 결과를 표현하는 DTO 추가
  src/main/java/com/agenticcp/core/domain/security/dto/PolicyConflictResolution.java
Owners: @CCCloudPlatform/backend-team

feat: 정책 충돌 해결 전략 열거형 추가
  src/main/java/com/agenticcp/core/domain/security/enums/ConflictResolutionStrategy.java
Owners: @CCCloudPlatform/backend-team

test(tenant-auth): 테스트 안정성 개선 - WebMvcTest를 단위 테스트로 변경 및 Redis null 상태 고려
  src/test/java/com/agenticcp/core/AgenticCpCoreApplicationTests.java
  src/test/java/com/agenticcp/core/domain/tenant/controller/TenantAuthorizationControllerTest.java
  src/test/java/com/agenticcp/core/domain/tenant/service/TenantAuthorizationServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 정책 우선순위 관리 및 충돌 해결 서비스 추가
  src/main/java/com/agenticcp/core/domain/security/repository/SecurityPolicyRepository.java
  src/main/java/com/agenticcp/core/domain/security/service/PolicyPriorityService.java
Owners: @CCCloudPlatform/backend-team

feat: 로깅 설정 및 테스트 추가
  src/main/resources/logback-local.xml
  src/test/java/com/agenticcp/core/domain/security/dto/TimeConditionsTest.java
  src/test/java/com/agenticcp/core/domain/security/service/PolicyPriorityServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: PolicyEngineServiceTest 및 PolicyJsonParserTest에서 비활성화 주석 제거
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
  src/test/java/com/agenticcp/core/domain/security/service/PolicyJsonParserTest.java
Owners: @CCCloudPlatform/java-team

fix: PolicyEngineServiceTest에서 캐시 만료 및 무효화 로직 개선
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: Add Cursor Rules for team development standards
  .cursor/rules/00-project-overview.mdc
  .cursor/rules/01-code-style.mdc
  .cursor/rules/02-naming-conventions.mdc
  .cursor/rules/03-package-structure.mdc
  .cursor/rules/04-api-design.mdc
  .cursor/rules/05-exception-handling.mdc
  .cursor/rules/06-database-design.mdc
  .cursor/rules/07-testing.mdc
  .cursor/rules/08-logging-security.mdc
  .cursor/rules/09-domain-specific.mdc
  .cursor/rules/10-forbidden-practices.mdc
Owners: @CCCloudPlatform/developers

fixt: PolicyEngineServiceTest에서 ObjectMapper Mock 추가
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: PolicyEngineServiceTest에서 Redis 키 Mock 및 검증 로직 개선
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 고급 헬스체크 시스템 구현
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckService.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/HealthCheckCacheService.java
Owners: @CCCloudPlatform/backend-team

test: 헬스체크 종합 테스트 추가
  src/test/java/com/agenticcp/core/controller/AdvancedHealthControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/dto/HealthIndicatorResultTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/ApplicationHealthIndicatorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicatorIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicatorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/SystemResourceHealthIndicatorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTestH2.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckServiceTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/HealthCheckCacheServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: 데이터베이스 및 통합 테스트 이슈 해결
  src/test/java/com/agenticcp/core/domain/monitoring/integration/MonitoringIntegrationTest.java
Owners: @CCCloudPlatform/java-team

feat: 모니터링 도메인 예외 처리 시스템 추가
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/ComponentNotFoundException.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/HealthCheckException.java
Owners: @CCCloudPlatform/backend-team

refactor: 헬스체크 예외 처리 로직 개선
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckService.java
Owners: @CCCloudPlatform/backend-team

test: 예외 처리 로직 테스트 추가 및 개선
  src/test/java/com/agenticcp/core/domain/monitoring/health/exception/ComponentNotFoundExceptionTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/exception/HealthCheckExceptionTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTestH2.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckServiceTest.java
Owners: @CCCloudPlatform/java-team

build: Caffeine Cache 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: 사용자 회원가입 API 구현
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
  src/main/java/com/agenticcp/core/common/dto/auth/RegisterRequest.java
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 핵심 기반 구조 구현
  src/main/java/com/agenticcp/core/common/audit/AuditAspect.java
  src/main/java/com/agenticcp/core/common/audit/AuditController.java
  src/main/java/com/agenticcp/core/common/audit/AuditLogger.java
  src/main/java/com/agenticcp/core/common/audit/AuditRequired.java
  src/main/java/com/agenticcp/core/common/audit/AuditService.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 지원 클래스 구현
  src/main/java/com/agenticcp/core/common/audit/AuditEventBuilder.java
  src/main/java/com/agenticcp/core/common/context/AuditContextProvider.java
  src/main/java/com/agenticcp/core/common/util/AuditInfoExtractor.java
  src/main/java/com/agenticcp/core/common/util/ResponseDataExtractor.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 DTO 및 데이터 모델 구현
  src/main/java/com/agenticcp/core/common/dto/AuditContextDto.java
  src/main/java/com/agenticcp/core/common/dto/AuditEventDto.java
  src/main/java/com/agenticcp/core/common/dto/AuditInfo.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 열거형 및 상수 정의
  src/main/java/com/agenticcp/core/common/enums/AuditResourceType.java
  src/main/java/com/agenticcp/core/common/enums/AuditSeverity.java
  src/main/java/com/agenticcp/core/common/util/AuditActionGenerator.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 설정 및 로그 구성
  src/main/java/com/agenticcp/core/common/config/AuditConfig.java
  src/main/resources/logback-audit.xml
Owners: @CCCloudPlatform/backend-team

test: 감사 로깅 단위 테스트 구현
  src/test/java/com/agenticcp/core/common/audit/AuditAnnotationMetadataTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditRequiredTest.java
  src/test/java/com/agenticcp/core/common/util/AuditActionGeneratorTest.java
  src/test/java/com/agenticcp/core/common/util/AuditInfoExtractorTest.java
  src/test/java/com/agenticcp/core/common/util/ResponseDataExtractorTest.java
Owners: @CCCloudPlatform/java-team

test: 감사 로깅 통합 테스트 구현
  src/test/java/com/agenticcp/core/common/audit/AuditControllerTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditLoggingIntegrationTest.java
  src/test/java/com/agenticcp/core/common/audit/TestAuditController.java
Owners: @CCCloudPlatform/java-team

refactor: 감사 로깅 시스템 개선 및 정리
  src/main/java/com/agenticcp/core/common/enums/CommonErrorCode.java
  src/main/java/com/agenticcp/core/common/enums/ErrorCategory.java
  src/main/java/com/agenticcp/core/common/exception/AuthorizationException.java
  src/main/java/com/agenticcp/core/common/exception/BusinessException.java
  src/main/java/com/agenticcp/core/common/exception/ResourceNotFoundException.java
  src/main/java/com/agenticcp/core/domain/user/controller/UserController.java
  src/main/resources/logback-spring.xml
Owners: @CCCloudPlatform/backend-team

Feat: tenant_id 필드 추가하여 BaseEntity 확장
  src/main/java/com/agenticcp/core/common/entity/BaseEntity.java
Owners: @CCCloudPlatform/backend-team

Feat: TenantAwareEntityListener 구현하여 엔티티 생성/수정 시 자동으로 tenant_id 주입
  src/main/java/com/agenticcp/core/common/entity/BaseEntity.java
  src/main/java/com/agenticcp/core/common/entity/TenantAwareEntityListener.java
Owners: @CCCloudPlatform/backend-team

Feat: 모든 SQL 쿼리에 자동으로 WHERE tenant_id 조건 추가
  src/main/java/com/agenticcp/core/common/config/JpaConfig.java
  src/main/java/com/agenticcp/core/common/interceptor/TenantAwareInterceptor.java
Owners: @CCCloudPlatform/backend-team

TenantAwareRepositorylmpl 클래스 구현, 기본 JPA 메서드를 테넌트 필터링 버전으로 오버라이드
  src/main/java/com/agenticcp/core/common/config/JpaConfig.java
  src/main/java/com/agenticcp/core/common/repository/TenantAwareRepositoryImpl.java
Owners: @CCCloudPlatform/backend-team

Feat: 각 엔티티의 Repository가 TenantAwareRepository를 상속받도록 수정
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudProviderRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/FeatureFlagRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/FeatureFlagTargetRuleRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/LicenseRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/PlatformConfigRepository.java
  src/main/java/com/agenticcp/core/domain/platform/repository/PlatformHealthRepository.java
  src/main/java/com/agenticcp/core/domain/security/repository/SecurityPolicyRepository.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/Tenant.java
  src/main/java/com/agenticcp/core/domain/user/repository/OrganizationRepository.java
  src/main/java/com/agenticcp/core/domain/user/repository/UserRepository.java
Owners: @CCCloudPlatform/backend-team

test:TenantContextHolder,TenantAwareEntityListener,TenantAwareInterceptor,TenantAwareRepositoryImpl,BaseEntity 기능 단위 테스트 완료
  src/test/java/com/agenticcp/core/common/context/TenantContextHolderTest.java
  src/test/java/com/agenticcp/core/common/entity/BaseEntityTest.java
  src/test/java/com/agenticcp/core/common/entity/TenantAwareEntityListenerTest.java
  src/test/java/com/agenticcp/core/common/interceptor/TenantAwareInterceptorTest.java
  src/test/java/com/agenticcp/core/common/repository/TenantAwareRepositoryImplTest.java
Owners: @CCCloudPlatform/java-team

feat: Metric 엔티티에 테넌트 지원 추가
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Metric.java
Owners: @CCCloudPlatform/backend-team

feat: MetricRepository에 테넌트 지원 추가
  src/main/java/com/agenticcp/core/domain/monitoring/repository/MetricRepository.java
Owners: @CCCloudPlatform/backend-team

feat: MetricsController에 테넌트 컨텍스트 적용
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MetricsController.java
Owners: @CCCloudPlatform/backend-team

feat: MetricsCollectionService에 테넌트별 수집 로직 추가
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
Owners: @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
