Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: AwsAccountValidationAdapter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/aws/AwsAccountValidationAdapter.java
Owners: @CCCloudPlatform/backend-team

test: validator 테스트 추가
  src/test/java/com/agenticcp/core/domain/cloud/validation/AwsAccountIdValidatorTest.java
  src/test/java/com/agenticcp/core/domain/cloud/validation/AzureSubscriptionIdValidatorTest.java
  src/test/java/com/agenticcp/core/domain/cloud/validation/CloudAccountRequestValidatorTest.java
  src/test/java/com/agenticcp/core/domain/cloud/validation/GcpProjectIdValidatorTest.java
  src/test/java/com/agenticcp/core/domain/cloud/validation/IamRoleArnValidatorTest.java
Owners: @CCCloudPlatform/java-team

test: AwsAccountValidationAdapterTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/aws/AwsAccountValidationAdapterTest.java
Owners: @CCCloudPlatform/java-team

feat: CloudAccountValidationAdapterRouter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/router/CloudAccountValidationAdapterRouter.java
Owners: @CCCloudPlatform/backend-team

test: CloudAccountValidationAdapterRouterTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/router/CloudAccountValidationAdapterRouterTest.java
Owners: @CCCloudPlatform/java-team

feat: AwsClientConfiguration 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/aws/config/AwsClientConfiguration.java
Owners: @CCCloudPlatform/backend-team

feat: S3 버킷 도메인 엔티티 및 모델 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/model/CreateS3BucketRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/S3BucketQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/UpdateS3BucketRequest.java
Owners: @CCCloudPlatform/backend-team

feat: S3 버킷 관리 포트 인터페이스 정의
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/S3BucketDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/S3BucketManagementPort.java
Owners: @CCCloudPlatform/backend-team

feat: S3 버킷 관리 어댑터 및 매퍼 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/CredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/S3BucketPortRouter.java
Owners: @CCCloudPlatform/backend-team

feat: s3 bucket 관련 config 클래스 추가
  src/main/java/com/agenticcp/core/domain/cloud/config/AwsS3Config.java
  src/main/java/com/agenticcp/core/domain/cloud/config/S3BucketCapabilityConfig.java
Owners: @CCCloudPlatform/backend-team

feat: s3 bucket CRUD 컨트롤러 및 서비스 구현
  src/main/java/com/agenticcp/core/common/enums/AuditResourceType.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/ProviderScoped.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/S3BucketController.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudProviderRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/S3BucketUseCaseService.java
Owners: @CCCloudPlatform/backend-team

chore: s3 bucket 관련 설정 추가
  pom.xml
  src/main/resources/application.yml
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

test: s3 bucket CRUD 관련 서비스 테스트
  src/test/java/com/agenticcp/core/domain/cloud/service/S3BucketUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

delete: AwsClientConfiguration 삭제
  src/main/java/com/agenticcp/core/domain/cloud/adapter/aws/config/AwsClientConfiguration.java
Owners: @CCCloudPlatform/backend-team

test: CloudAccountServiceTest 수정
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountServiceTest.java
Owners: @CCCloudPlatform/java-team

feature: aws,s3 로직 관련 로직 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/AwsErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/exception/S3ErrorCode.java
Owners: @CCCloudPlatform/backend-team

chore: cacheManager의 빈 이름 명시하여 충돌 방지
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisCacheConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: cursor rule 적용하여 리팩토링 및 파일 경로 변경
  src/main/java/com/agenticcp/core/domain/cloud/config/S3BucketCapabilityConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/S3BucketController.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/aws/CreateS3BucketRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/aws/S3BucketQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/aws/UpdateS3BucketRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/S3BucketDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/S3BucketManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/S3BucketPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/S3BucketUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor: command 계층 이용하여 dto 의존성 끊기
  src/main/java/com/agenticcp/core/domain/cloud/port/model/aws/CreateS3BucketCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/aws/UpdateS3BucketCommand.java
Owners: @CCCloudPlatform/backend-team

chore: cacheManager의 빈 이름 명시하여 충돌 방지
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
Owners: @CCCloudPlatform/backend-team

feat: 빈 주입 에러 방지 위한 포트 어댑터 틀 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/AuditEventPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/TracingPortAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AWS 자격증명 기능 구현 및 적용
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsCredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/CredentialProviderFactory.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/CredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/ThreadLocalCredentialCache.java
  src/main/java/com/agenticcp/core/domain/cloud/config/AwsS3Config.java
  src/main/java/com/agenticcp/core/domain/cloud/entity/TenantCloudCredentials.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudRegionRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/TenantCloudCredentialsRepository.java
Owners: @CCCloudPlatform/backend-team

chore: AWS 자격증명 관련 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

refactor: AwsS3BucketMapper 구조 개선
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketMapper.java
Owners: @CCCloudPlatform/backend-team

test: s3 bucket 연동 관련 단위테스트 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/S3BucketUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/S3BucketUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: AWS SDK v2 의존성 및 EC2 기본 설정 추가
  pom.xml
  src/main/java/com/agenticcp/core/common/config/AwsConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2ManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2Mapper.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/Ec2CreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/Ec2Query.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/Ec2UpdateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/Ec2ManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/Ec2PortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/Ec2UseCaseService.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

feat: Define EC2 domain models (Query, CreateRequest, UpdateRequest, DeleteRequest)
  src/main/java/com/agenticcp/core/domain/cloud/port/model/Ec2CreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/Ec2DeleteRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/Ec2Query.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/Ec2UpdateRequest.java
Owners: @CCCloudPlatform/backend-team

feat: EC2 관리 포트 인터페이스 정의
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/Ec2ManagementPort.java
Owners: @CCCloudPlatform/backend-team

feat: AWS EC2 매퍼 실제 SDK 통합 구현 완료
  src/main/java/com/agenticcp/core/common/config/AwsConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2Mapper.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2MapperSimpleTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: AWS EC2 어댑터 구현 완료 - 모든 EC2 관리 기능 제공
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2ManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: EC2 포트 라우터 구현 완료 - 제공업체별 어댑터 동적 선택
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/Ec2PortRouter.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/Ec2PortRouterTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: EC2 인스턴스 발견을 위한 유스케이스 서비스 구현
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/Ec2UseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/Ec2UseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: EC2 인스턴스 생성 기능에 대한 포괄적인 테스트 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2MapperCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/Ec2UseCaseServiceCreateTest.java
Owners: @CCCloudPlatform/java-team

test: EC2 인스턴스 생성 기능에 대한 포괄적인 테스트 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/Ec2UseCaseServiceLifecycleTest.java
Owners: @CCCloudPlatform/java-team

feat: EC2 REST API 컨트롤러 구현
  src/main/java/com/agenticcp/core/controller/Ec2Controller.java
Owners: @CCCloudPlatform/backend-team

test: EC2 계약 테스트 및 통합 테스트 추가
  src/test/java/com/agenticcp/core/controller/Ec2ControllerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2ManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/port/Ec2ManagementContractTest.java
Owners: @CCCloudPlatform/java-team

fix: 테스트 환경에서 Ec2Client Bean 누락으로 인한 ApplicationContext 로딩 실패 해결
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
Owners: @CCCloudPlatform/java-team

feat: EC2 자동 배포 워크플로우 추가 및 브랜치별 배포 지원
  .github/workflows/ci.yml
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

feat: EC2 배포 워크플로우 개선 및 헬스체크 엔드포인트 수정
  .github/workflows/ec2-deploy-develop.yml
  src/main/java/com/agenticcp/core/controller/HealthController.java
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/backend-team

feat: 스마트 배포 전략 구현 및 배포 성능 최적화
  .github/workflows/ec2-deploy-develop.yml
  tatus
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/developers
