Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

Remove UI_DOMAIN_ERD.md file
  src/main/java/com/agenticcp/core/domain/ui/repository/UI_DOMAIN_ERD.md
Owners: @CCCloudPlatform/backend-team

fix: SecurityConfig 중복 @EnableMethodSecurity 어노테이션 제거
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

fix: SecurityInspectorController ApiResponse import 경로 수정
  src/main/java/com/agenticcp/core/domain/security/controller/SecurityInspectorController.java
Owners: @CCCloudPlatform/backend-team

feat: 생성/수정/삭제 시 캐시 무효화
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: ConfigChangeEvent 도입
  src/main/java/com/agenticcp/core/domain/platform/event/ConfigChangeEvent.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceMaskingTest.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: PlatformConfigChangeListener 추가
  src/main/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListener.java
  src/main/java/com/agenticcp/core/domain/platform/service/CacheManagerService.java
  src/main/java/com/agenticcp/core/domain/platform/service/LoggingManagerService.java
  src/main/java/com/agenticcp/core/domain/platform/service/MaintenanceModeService.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigRuntimeService.java
  src/main/java/com/agenticcp/core/domain/platform/service/SecurityManagerService.java
  src/test/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListenerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListenerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: UI 도메인 import 경로 오류 수정
  src/main/java/com/agenticcp/core/domain/ui/controller/MenuController.java
  src/main/java/com/agenticcp/core/domain/ui/exception/MenuErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: 설정 캐싱 및 실시간 반영 시스템 구현
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/HealthCheckService.java
  src/main/java/com/agenticcp/core/domain/platform/entity/PlatformHealth.java
  src/main/java/com/agenticcp/core/domain/platform/service/MaintenanceModeService.java
Owners: @CCCloudPlatform/backend-team

feat: 공통 마스킹 유틸리티 및 enum 개선
  src/main/java/com/agenticcp/core/common/enums/AuditResourceType.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingType.java
  src/main/java/com/agenticcp/core/common/util/LogMaskingUtils.java
Owners: @CCCloudPlatform/backend-team

feat: Menu 엔티티에 민감 정보 마스킹 적용
  src/main/java/com/agenticcp/core/domain/ui/entity/Menu.java
  src/main/java/com/agenticcp/core/domain/ui/entity/MenuPermission.java
Owners: @CCCloudPlatform/backend-team

feat: Menu DTO에 민감 정보 마스킹 적용
  src/main/java/com/agenticcp/core/domain/ui/dto/MenuRequest.java
  src/main/java/com/agenticcp/core/domain/ui/dto/MenuResponse.java
Owners: @CCCloudPlatform/backend-team

feat: Menu 서비스 레이어 로깅 마스킹 적용
  src/main/java/com/agenticcp/core/domain/ui/service/MenuAuthorizationService.java
  src/main/java/com/agenticcp/core/domain/ui/service/MenuCacheService.java
  src/main/java/com/agenticcp/core/domain/ui/service/MenuService.java
Owners: @CCCloudPlatform/backend-team

feat: MenuController 로깅 마스킹 및 감사 로깅 적용
  src/main/java/com/agenticcp/core/domain/ui/controller/MenuController.java
Owners: @CCCloudPlatform/backend-team

test: 변경 후 즉시 반영/캐시 성능 통합 테스트
  src/main/java/com/agenticcp/core/domain/platform/event/ConfigChangeEvent.java
  src/main/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListener.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: PlatformConfigChangeListenerTest 매개변수 오류 수정
  src/test/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListenerTest.java
Owners: @CCCloudPlatform/java-team

feat: 시스템 설정 타입 변경 제한 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: 시스템 설정 타입 변경만 제한하도록 수정
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
Owners: @CCCloudPlatform/backend-team

feat: 네임스페이스 검증기 구현
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/NamespaceConfigValidator.java
Owners: @CCCloudPlatform/backend-team

feat: 네임스페이스 기반 자동 isSystem 설정 로직 추가
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
Owners: @CCCloudPlatform/backend-team

feat: RedisCacheConfig 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisCacheConfig.java
Owners: @CCCloudPlatform/backend-team

feat: RedisPubSubConfig 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisPubSubConfig.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagCacheErrorCode 정의
  src/main/java/com/agenticcp/core/domain/platform/exception/FeatureFlagCacheErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: CacheMetricsDto 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/dto/CacheMetricsDto.java
Owners: @CCCloudPlatform/backend-team

feat: RedissonConfig 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedissonConfig.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagSyncServiceTest 추가
  src/test/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagSyncServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: FeatureFlagSyncService 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagSyncService.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagService 통합
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagService.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagServiceTest 추가
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: FeatureFlagCacheHealthService 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheHealthService.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagCacheController 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/controller/FeatureFlagCacheController.java
Owners: @CCCloudPlatform/backend-team

chore: redisson, testcontainers 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: CacheHealthStatusDto 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/dto/CacheHealthStatusDto.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagCacheDto 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/dto/FeatureFlagCacheDto.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlag 엔터티에 cache_ttl_seconds 컬럼 추가
  src/main/java/com/agenticcp/core/domain/platform/entity/FeatureFlag.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagCacheHealthServiceTest 추가
  src/test/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheHealthServiceTest.java
Owners: @CCCloudPlatform/java-team

test: FeatureFlagCacheServiceTest 추가
  src/test/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: FeatureFlagChangeEvent 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/event/FeatureFlagChangeEvent.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagCacheService 추가
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheService.java
Owners: @CCCloudPlatform/backend-team

fix: FeatureFlagCacheService redis가 활성화 되었을 때만 로드되도록 수정
  src/main/java/com/agenticcp/core/domain/platform/cache/service/FeatureFlagCacheService.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagCacheControllerTest 추가
  src/test/java/com/agenticcp/core/domain/platform/cache/controller/FeatureFlagCacheControllerTest.java
Owners: @CCCloudPlatform/java-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
