Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat: TimescaleDB 및 Prometheus 스토리지 구현
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/PrometheusStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/TimescaleDBStorage.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/impl/PrometheusStorageTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/impl/TimescaleDBStorageTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: 모니터링 도메인 테스트 개선
  src/test/java/com/agenticcp/core/domain/monitoring/TestDataBuilder.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/ApplicationMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionServiceTest.java
Owners: @CCCloudPlatform/java-team

delete: 통합 전 TestDataBuilder.java 파일 삭제
  src/test/java/com/agenticcp/core/domain/monitoring/service/TestDataBuilder.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/TestDataBuilder.java
Owners: @CCCloudPlatform/java-team

feat(monitoring): 엔티티 및 DTO 개선
  src/main/java/com/agenticcp/core/domain/monitoring/dto/SystemMetrics.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Metric.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricThreshold.java
Owners: @CCCloudPlatform/backend-team

feat(monitoring): Micrometer 통합 구현
  src/main/java/com/agenticcp/core/domain/monitoring/config/MicrometerConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/CollectorType.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MicrometerMetricsCollector.java
Owners: @CCCloudPlatform/backend-team

feat: 서비스 로직 개선 및 Micrometer 통합
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MetricsController.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorage.java
Owners: @CCCloudPlatform/backend-team

delete: ApplicationMetricsCollector 제거 (MicrometerMetricsCollector로 대체)
  src/main/java/com/agenticcp/core/domain/monitoring/service/ApplicationMetricsCollector.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/ApplicationMetricsCollectorTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: 포괄적인 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/monitoring/TestDataBuilder.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MetricsControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/dto/SystemMetricsTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/MetricTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/MetricThresholdTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MicrometerMetricsCollectorTest.java
Owners: @CCCloudPlatform/java-team

test: 기존 테스트 코드를 Micrometer에 맞게 통합
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImplTest.java
Owners: @CCCloudPlatform/java-team

feat: 환경별 로그백 설정 파일 작성
  src/main/resources/logback-docker.xml
  src/main/resources/logback-local.xml
  src/main/resources/logback-prod.xml
  src/main/resources/logback-spring.xml
Owners: @CCCloudPlatform/backend-team

feat: MDC 컨텍스트 프로바이더 인터페이스 및 구현체 생성
  src/main/java/com/agenticcp/core/common/logging/AbstractMdcContextProvider.java
  src/main/java/com/agenticcp/core/common/logging/MdcContextProvider.java
Owners: @CCCloudPlatform/backend-team

feat: MDC 설정 프로퍼티 정의
  src/main/java/com/agenticcp/core/common/logging/MdcProperties.java
Owners: @CCCloudPlatform/backend-team

feat: MDC 키, HTTP 헤더 상수 정의
  src/main/java/com/agenticcp/core/common/logging/MdcKeys.java
Owners: @CCCloudPlatform/backend-team

feat: MDC 로깅 필터 및 Spring 설정 추가
  src/main/java/com/agenticcp/core/common/config/LoggingConfig.java
  src/main/java/com/agenticcp/core/common/logging/MdcLoggingFilter.java
Owners: @CCCloudPlatform/backend-team

feat: MDC 컨텍스트 프로바이더 로컬 구현체 생성
  src/main/java/com/agenticcp/core/common/logging/LocalMdcContextProvider.java
Owners: @CCCloudPlatform/backend-team

refactor: LogMaskingUtils에 IP 주소 마스킹 기능 추가
  src/main/java/com/agenticcp/core/common/util/LogMaskingUtils.java
Owners: @CCCloudPlatform/backend-team

test: MDC 로깅 인프라에 대한 테스트코드 작성
  src/test/java/com/agenticcp/core/common/logging/AbstractMdcContextProviderTest.java
  src/test/java/com/agenticcp/core/common/logging/LocalMdcContextProviderTest.java
  src/test/java/com/agenticcp/core/common/logging/MdcLoggingFilterTest.java
  src/test/java/com/agenticcp/core/common/logging/MdcPropertiesBindingTest.java
  src/test/java/com/agenticcp/core/common/logging/ProdMdcContextProviderTest.java
  src/test/java/com/agenticcp/core/common/util/LogMaskingUtilsTest.java
Owners: @CCCloudPlatform/java-team

feat: 애플리케이션 설정에 MDC 로깅 구성 추가
  docker-compose.yml
  src/main/resources/application-local.yml
  src/main/resources/application.yml
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/backend-team

feat: MDC 컨텍스트 프로바이더 prod 구현체 추가
  src/main/java/com/agenticcp/core/common/logging/ProdMdcContextProvider.java
Owners: @CCCloudPlatform/backend-team

feat: 재시도 로직 핵심 설정 구현
  src/main/java/com/agenticcp/core/domain/monitoring/config/RetryConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: 재시도 통계 수집 및 캐시 시스템 구현
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCache.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/RetryMetricsTracker.java
Owners: @CCCloudPlatform/backend-team

feat: 메트릭 수집 서비스에 재시도 및 폴백 로직 적용
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
Owners: @CCCloudPlatform/backend-team

test: 재시도 로직 단위 테스트 작성
  src/test/java/com/agenticcp/core/domain/monitoring/config/RetryConfigTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCacheTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionServiceRetryTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/RetryMetricsTrackerTest.java
Owners: @CCCloudPlatform/java-team

test: MetricsCollectionServiceTest에 MetricsCache 의존성 추가
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 메트릭 수집기 플러그인 시스템 구현
  src/main/java/com/agenticcp/core/domain/monitoring/enums/CollectorType.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/CustomMetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorRegistry.java
Owners: @CCCloudPlatform/backend-team

feat: HTTP 메트릭 수집 기능 구현
  src/main/java/com/agenticcp/core/domain/monitoring/service/HttpMetricsCollector.java
Owners: @CCCloudPlatform/backend-team

refactor: MicrometerMetricsCollector 동적 제어 및 source 필드 추가
  src/main/java/com/agenticcp/core/domain/monitoring/service/MicrometerMetricsCollector.java
Owners: @CCCloudPlatform/backend-team

refactor: 메트릭 저장소 팩토리 패턴 적용
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/InfluxDBStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/PrometheusStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/TimescaleDBStorage.java
Owners: @CCCloudPlatform/backend-team

test: 팩토리 패턴 적용에 따른 기존 테스트 수정
  src/test/java/com/agenticcp/core/domain/monitoring/config/RetryConfigTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImplTest.java
Owners: @CCCloudPlatform/java-team

test: 플러그인 시스템 및 HTTP 메트릭 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/monitoring/service/CustomMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/HttpMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorRegistryTest.java
Owners: @CCCloudPlatform/java-team

test: 모니터링 도메인 통합 테스트 구현
  src/test/java/com/agenticcp/core/domain/monitoring/integration/MonitoringIntegrationTest.java
Owners: @CCCloudPlatform/java-team

feat: 모니터링 도메인 Micrometer 및 Prometheus 설정 추가
  pom.xml
  src/main/java/com/agenticcp/core/domain/monitoring/config/MicrometerConfig.java
  src/main/resources/application.yml
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

feat: JWT 상수 및 인증 DTO 클래스 추가
  src/main/java/com/agenticcp/core/common/dto/auth/LoginRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/RefreshTokenRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/TokenResponse.java
  src/main/java/com/agenticcp/core/common/dto/auth/UserInfoResponse.java
  src/main/java/com/agenticcp/core/common/security/JwtConstants.java
Owners: @CCCloudPlatform/backend-team

feat: JWT 서비스 및 인증 필터 구현
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
  src/main/java/com/agenticcp/core/common/security/JwtService.java
Owners: @CCCloudPlatform/backend-team

feat: 인증 서비스 및 컨트롤러 구현
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

feat: Spring Security 설정 업데이트
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

feat: 예외 처리 표준화
  src/main/java/com/agenticcp/core/common/context/TenantContextHolder.java
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
  src/main/java/com/agenticcp/core/common/enums/CommonErrorCode.java
  src/main/java/com/agenticcp/core/domain/user/enums/UserErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: Redis 의존성 제거 및 조건부 빈 생성
  src/main/java/com/agenticcp/core/common/config/RedisConfig.java
  src/main/java/com/agenticcp/core/domain/security/service/PolicyEngineService.java
Owners: @CCCloudPlatform/backend-team

feat: Logstash 의존성 제거
  src/main/resources/logback-local.xml
  src/main/resources/logback-prod.xml
Owners: @CCCloudPlatform/backend-team

feat: 테스트 환경 개선
  src/test/java/com/agenticcp/core/common/exception/GlobalExceptionHandlerTest.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
  src/test/resources/application-test.yml
  src/test/resources/logback-test.xml
Owners: @CCCloudPlatform/java-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
