Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

refactor(vm): API Endpoint 통일
  src/main/java/com/agenticcp/core/domain/cloud/controller/VmController.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VmCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VmDeleteRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VmUpdateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/test/java/com/agenticcp/core/controller/VmControllerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(vm): 세션 관리 패턴 통일 - Discovery/Tagging에도 getSession() 적용
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmTaggingAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/VmController.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vm/VmDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vm/VmTaggingPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor: JWT 필터 블랙리스트 확인 순서 개선
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

refactor: 인증 프로세스 논리적 오점 개선
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

feat: 토큰 검증 API에 블랙리스트 확인 추가
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

feat: PENDING 상태 사용자 접근 제한 필터 추가
  src/main/java/com/agenticcp/core/common/security/PendingUserAccessFilter.java
Owners: @CCCloudPlatform/backend-team

feat: PendingUserAccessFilter를 필터 체인에 추가
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

fix: SecurityConfig 순환 참조 문제 해결
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

feat: Organization 에러 코드 체계 구축
  docs/EXCEPTION_GUIDLINES.md
  src/main/java/com/agenticcp/core/common/enums/ErrorCategory.java
  src/main/java/com/agenticcp/core/domain/organization/enums/OrganizationErrorCode.java
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/backend-team

refactor: Organization 도메인 ERD 기준 1차 정리
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationTenantServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: OrganizationResponse에 테넌트 정보 추가 및 ERD 정합성 개선
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationResponse.java
Owners: @CCCloudPlatform/backend-team

test: Organization 테스트 코드 ERD 기준 정리
  src/test/java/com/agenticcp/core/domain/organization/controller/OrganizationControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationServiceTest.java
Owners: @CCCloudPlatform/java-team

test: VM 테스트 오류 수정 및 import 경로 업데이트
  src/test/java/com/agenticcp/core/controller/VmControllerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmAdapterProviderTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/redis/account/RedisSessionCacheAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/port/VmManagementContractTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceLifecycleTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/S3BucketUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: DTO와 Command 패키지 분리
  src/main/java/com/agenticcp/core/domain/cloud/dto/AccountValidationRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/AccountValidationResponse.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/CloudAccountDto.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/ConnectionTestResponse.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/CreateObjectStorageContainerRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/ListVpcsQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/ObjectStorageContainerQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/RegisterCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/UpdateCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/UpdateObjectStorageContainerRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VmCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VmDeleteRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VmUpdateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VpcCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VpcQueryRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VpcUpdateRequest.java
Owners: @CCCloudPlatform/backend-team

refactor: aws capability config 통합 - 기존에 aws 자원별로 분산되어있던 capability config 통합
  src/main/java/com/agenticcp/core/common/config/AwsVpcCapabilityConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsCapabilityConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/capability/VmCapabilityConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/config/S3BucketCapabilityConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: aws config 클래스 자원별 분리 - 상이한 자원별 config 클래스 분리
  src/main/java/com/agenticcp/core/common/config/AwsConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsClientConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsS3Config.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsVmConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/config/AwsS3Config.java
Owners: @CCCloudPlatform/backend-team

refactor: redis 캐싱 로직 헥사고날로부터 분리 - 기존 port/adapter 패턴으로부터 분리 - 기존 service 명칭을 repository로 변경
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/account/SessionCachePort.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/RedisSessionCacheRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/SessionCacheRepository.java
Owners: @CCCloudPlatform/backend-team

refactor: dto 경로 이동에 따른 import 업데이트
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountValidationAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/CloudAccountController.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/ObjectStorageController.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/VmController.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CloudAccountMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CredentialCommandMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/account/AccountValidationPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/storage/ObjectStorageDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/AccountCredentialPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountDomainService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/account/CloudAccountUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

test: 구조 변경에 따른 테스트 코드 리팩토링
  src/test/java/com/agenticcp/core/domain/cloud/repository/RedisSessionCacheRepositoryTest.java
Owners: @CCCloudPlatform/java-team

refactor: organization:tenant=1:1 관계 최종 수정 및 ERD md 파일 일부 수정
  src/main/java/com/agenticcp/core/domain/overall/OVERALL_ERD.md
  src/main/java/com/agenticcp/core/domain/tenant/entity/Tenant.java
  src/main/java/com/agenticcp/core/domain/tenant/repository/TENANT_DOMAIN_ERD.md
  src/main/java/com/agenticcp/core/domain/user/repository/USER_DOMAIN_ERD.md
Owners: @CCCloudPlatform/backend-team

refactor: 사용하지 않는 어댑터 클래스 삭제
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/AuditEventPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/TracingPortAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: CloudResourceRepository 멀티 클라우드 자원 관리 메서드 추가
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudResourceRepository.java
Owners: @CCCloudPlatform/backend-team

feat: VmUseCaseService DB 저장 로직 구현
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: ObjectStorageUseCaseService DB 저장 로직 구현
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: VpcUseCaseService DB 저장 로직 구현
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

test: 멀티 클라우드 자원 DB 동기화 단위 테스트 추가 및 컴파일 오류 수정
  src/main/java/com/agenticcp/core/domain/cloud/config/NoOpCloudPortsConfig.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceLifecycleTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceDbSyncTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: AuditService, AwsCredntialManager 트랜잭션 설정 수정
  src/main/java/com/agenticcp/core/common/audit/AuditService.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialManager.java
Owners: @CCCloudPlatform/backend-team

refactor: NoOpCloudPortsConfig에서 존재하지 않는 클래스 참조 수정
  src/main/java/com/agenticcp/core/domain/cloud/config/NoOpCloudPortsConfig.java
Owners: @CCCloudPlatform/backend-team

fix: AwsCredentials 필드 마스킹 제거
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsCredentialManager.java
Owners: @CCCloudPlatform/backend-team

refactor: 마스킹 처리 시 원본 객체 변경 없도록 리팩토링
  src/main/java/com/agenticcp/core/common/audit/AuditDatabaseListener.java
  src/main/java/com/agenticcp/core/common/logging/masking/LogMaskingAspect.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingService.java
Owners: @CCCloudPlatform/backend-team

test: 마스킹 처리 관련 테스트 리팩토링
  src/test/java/com/agenticcp/core/common/audit/AuditDatabaseListenerTest.java
  src/test/java/com/agenticcp/core/common/logging/masking/LogMaskingAspectTest.java
Owners: @CCCloudPlatform/java-team

fix: credentialKey 조회 쿼리 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudAccountRepository.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/account/AwsAccountCredentialManagementAdapterTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: Object Storage API 권한을 ADMIN에서 SUPER_ADMIN으로 변경
  src/main/java/com/agenticcp/core/domain/cloud/controller/ObjectStorageController.java
Owners: @CCCloudPlatform/backend-team

fix: Object Storage Capability 체크 로직을 BUCKET 리소스 타입으로 수정
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: AwsS3BucketManagementAdapter에 ProviderScoped 인터페이스 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

fix: VpcCreateRequest에 @Jacksonized 어노테이션 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/VpcCreateRequest.java
Owners: @CCCloudPlatform/backend-team

fix: VPC API 권한을 ADMIN에서 SUPER_ADMIN으로 변경
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
Owners: @CCCloudPlatform/backend-team

refactor: VPC 서비스 키 로직 개선 및 멀티 클라우드 지원 준비
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor: CloudResource 생성 로직을 엔티티 Factory Method로 이동
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor: JPA AttributeConverter 도입으로 JSON 직렬화 로직 제거
  src/main/java/com/agenticcp/core/common/config/TagMapConverter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vm/AwsVmMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team
