Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: ApprovalProcessRequest DTO 추가
  src/main/java/com/agenticcp/core/domain/platform/dto/ApprovalProcessRequest.java
Owners: @CCCloudPlatform/backend-team

feat: 기능 플래그 승인 관련 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagApprovalRepository 추가
  src/main/java/com/agenticcp/core/domain/platform/repository/FeatureFlagApprovalRepository.java
Owners: @CCCloudPlatform/backend-team

feat: PlatformComplianceConfigRepository 추가
  src/main/java/com/agenticcp/core/domain/platform/repository/PlatformComplianceConfigRepository.java
Owners: @CCCloudPlatform/backend-team

feat: AuditLogRepository 조회 메소드 추가 - findByResourceTypeAndTimestampBetween: 리소스 타입과 기간으로 감사 로그 조회 - findByResourceType: 리소스 타입으로 감사 로그 조회 - findByResourceTypeAndAction: 리소스 타입과 액션으로 감사 로그 조회
  src/main/java/com/agenticcp/core/common/repository/AuditLogRepository.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagAuditService 추가
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditService.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagAuditServiceTest 추가
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: FeatureFlagAuditController 추가
  src/main/java/com/agenticcp/core/domain/platform/controller/FeatureFlagAuditController.java
Owners: @CCCloudPlatform/backend-team

feat: PlatformComplianceService 추가
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformComplianceService.java
Owners: @CCCloudPlatform/backend-team

test: PlatformComplianceServiceTest 추가
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformComplianceServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: PlatformComplianceController 추가
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformComplianceController.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagPolicyValidator 추가
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagPolicyValidator.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagPolicyValidatorTest 추가
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagPolicyValidatorTest.java
Owners: @CCCloudPlatform/java-team

feat: FeatureFlagApprovalService 추가
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagApprovalService.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagApprovalServiceTest 추가
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagApprovalServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: FeatureFlagApprovalController 추가
  src/main/java/com/agenticcp/core/domain/platform/controller/FeatureFlagApprovalController.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagService에 감사 로깅 추가
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagService.java
Owners: @CCCloudPlatform/backend-team

test: FeatureFlagServiceTest에 감사 로깅 관련 로직 추가
  src/test/java/com/agenticcp/core/domain/platform/service/FeatureFlagServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: FeatureFlag 엔티티 리팩토링 - JavaDoc @author, @version, @since 추가 - 인덱스 추가 - 필드별 주석 및 validation 추가 - 기본적인 메소드 추가
  src/main/java/com/agenticcp/core/domain/platform/entity/FeatureFlag.java
Owners: @CCCloudPlatform/backend-team

refactor: FeatureFlagAuditService 리팩토링 - @Transactional(readOnly = true) 추가
  src/main/java/com/agenticcp/core/domain/platform/service/FeatureFlagAuditService.java
Owners: @CCCloudPlatform/backend-team

refactor: 감사 로깅 로직 리팩토링
  src/main/java/com/agenticcp/core/common/audit/AuditAspect.java
  src/main/java/com/agenticcp/core/common/audit/AuditController.java
  src/main/java/com/agenticcp/core/common/audit/AuditDatabaseListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditEntityListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditEventBuilder.java
  src/main/java/com/agenticcp/core/common/audit/AuditFileLogListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditLogger.java
  src/main/java/com/agenticcp/core/common/audit/AuditPublishEvent.java
  src/main/java/com/agenticcp/core/common/audit/AuditRequired.java
  src/main/java/com/agenticcp/core/common/audit/AuditService.java
  src/main/java/com/agenticcp/core/common/enums/AuditErrorCode.java
  src/test/java/com/agenticcp/core/common/audit/AuditAspectTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditDatabaseListenerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

docs: 공통 예외처리 로직 주석 보강
  src/main/java/com/agenticcp/core/common/exception/AuthorizationException.java
  src/main/java/com/agenticcp/core/common/exception/BusinessException.java
  src/main/java/com/agenticcp/core/common/exception/ErrorCodeRegistry.java
  src/main/java/com/agenticcp/core/common/exception/GlobalExceptionHandler.java
  src/main/java/com/agenticcp/core/common/exception/ResourceNotFoundException.java
Owners: @CCCloudPlatform/backend-team

refactor: 토큰에서 사용자ID 추출해 MDC에 반영하도록 리팩토링
  src/main/java/com/agenticcp/core/common/logging/ProdMdcContextProvider.java
  src/test/java/com/agenticcp/core/common/logging/ProdMdcContextProviderTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

docs: 누락된 주석 보강
  src/main/java/com/agenticcp/core/common/logging/AbstractMdcContextProvider.java
  src/main/java/com/agenticcp/core/common/logging/LocalMdcContextProvider.java
  src/main/java/com/agenticcp/core/common/logging/MdcContextProvider.java
  src/main/java/com/agenticcp/core/common/logging/MdcKeys.java
  src/main/java/com/agenticcp/core/common/logging/MdcLoggingFilter.java
  src/main/java/com/agenticcp/core/common/logging/MdcProperties.java
  src/main/java/com/agenticcp/core/common/logging/masking/LogMaskingAspect.java
  src/main/java/com/agenticcp/core/common/logging/masking/Masked.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingService.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingStrategyProvider.java
  src/main/java/com/agenticcp/core/common/logging/masking/MaskingType.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/CreditCardMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/DefaultMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/EmailMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/IpAddressMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/PasswordMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/PhoneNumberMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/SecretKeyMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/SsnMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/logging/masking/strategy/TokenMaskingStrategy.java
  src/main/java/com/agenticcp/core/common/util/LogMaskingUtils.java
Owners: @CCCloudPlatform/backend-team

refactor: VPC 관련 클래스 패키지 경로 정리 및 Command 패턴 적용
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

refactor: 날짜 파라미터 ISO 8601 기준 검증 로직 추가
  src/main/java/com/agenticcp/core/controller/AuditLogController.java
  src/test/java/com/agenticcp/core/controller/AuditLogControllerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

docs: 주석 보강
  src/main/java/com/agenticcp/core/common/context/AuditChangeContext.java
  src/main/java/com/agenticcp/core/common/context/AuditContextProvider.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditContextDto.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditEventDto.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogResponse.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogSearchRequest.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogSearchResponse.java
  src/main/java/com/agenticcp/core/common/dto/audit/AuditLogSummaryResponse.java
  src/main/java/com/agenticcp/core/common/dto/exception/ApiResponse.java
  src/main/java/com/agenticcp/core/common/dto/exception/BaseErrorCode.java
  src/main/java/com/agenticcp/core/common/enums/AuditSeverity.java
  src/main/java/com/agenticcp/core/common/enums/CommonErrorCode.java
  src/main/java/com/agenticcp/core/common/enums/ErrorCategory.java
  src/main/java/com/agenticcp/core/common/util/AuditActionGenerator.java
Owners: @CCCloudPlatform/backend-team

feat(repository): CloudServiceRepository 추가 및 CloudRegionRepository 확장
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudRegionRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudServiceRepository.java
Owners: @CCCloudPlatform/backend-team

feat(vpc): VpcConstants 추가로 하드코딩 제거
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcConstants.java
Owners: @CCCloudPlatform/backend-team

refactor(vpc): AwsVpcMapper에서 CloudResource 엔티티 조회 로직 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcMapper.java
Owners: @CCCloudPlatform/backend-team

refactor(vpc): Command 패턴 적용 및 VPC 로직 개선
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/UpdateVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

docs(vpc): API_VPC_SPEC.md에 Command 패턴 및 매핑 개선 내용 반영
  docs/API_VPC_SPEC.md
Owners: @CCCloudPlatform/docs-team

refactor: ConfigAuditService에서 누락된 필수 메타데이터 추가
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
Owners: @CCCloudPlatform/backend-team

fix: 테스트 실패 수정 및 가이드라인 준수를 위한 예외 처리 개선
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MetricsControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationHierarchyServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat(vpc): Command 객체에 CloudSessionCredential session 필드 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/CreateVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/DeleteVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/GetVpcCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/ListVpcsQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/command/vpc/UpdateVpcCommand.java
Owners: @CCCloudPlatform/backend-team

feat(vpc): VpcUseCaseService에 세션 획득 및 accountScope 변환 로직 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat(vpc): AwsClientConfig에 세션 기반 Ec2Client 생성 메서드 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsClientConfig.java
Owners: @CCCloudPlatform/backend-team

refactor(vpc): AwsVpcManagementAdapter를 세션 기반으로 전환
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

feat(vpc): VpcController에 @PreAuthorize 권한 체크 추가
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
Owners: @CCCloudPlatform/backend-team

fix: MetricsControllerTest 예외 처리 테스트 수정
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MetricsControllerTest.java
Owners: @CCCloudPlatform/java-team
