Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

test: 비동기 로직 테스트
  src/test/java/com/agenticcp/core/common/config/AsyncConfigTest.java
  src/test/java/com/agenticcp/core/common/service/AsyncLogicTest.java
Owners: @CCCloudPlatform/java-team

test: TenantContextTaskDecorator 컨텍스트 전파 테스트
  src/test/java/com/agenticcp/core/common/config/TenantContextTaskDecoratorSimpleTest.java
  src/test/java/com/agenticcp/core/common/config/TenantContextTaskDecoratorTest.java
Owners: @CCCloudPlatform/java-team

test: 서비스 로직에서 비동기 처리 동작 테스트
  src/test/java/com/agenticcp/core/common/service/PerformanceMonitoringServiceTest.java
  src/test/java/com/agenticcp/core/common/service/RetryServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: import 경로 수정
  src/test/java/com/agenticcp/core/common/service/AuthenticationServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: RedisConfig 충돌 정리 - develop 기준으로 통일 (#48)
  src/main/java/com/agenticcp/core/common/config/RedisConfig.java
Owners: @CCCloudPlatform/backend-team

Revert "Feature/12"
  .github/workflows/auto-label-issues.yml
  .github/workflows/issue-status-sync.yml
  .github/workflows/sprint-automation.yml
  .github/workflows/story-point-tracking.yml
  .github/workflows/update-parent-issues.yml
  README.md
  pom.xml
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
  src/main/java/com/agenticcp/core/common/dto/auth/LoginRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/RefreshTokenRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/TokenResponse.java
  src/main/java/com/agenticcp/core/common/dto/auth/TwoFactorDisableRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/TwoFactorEnableRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/UserInfoResponse.java
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
  src/main/java/com/agenticcp/core/common/enums/CommonErrorCode.java
  src/main/java/com/agenticcp/core/common/enums/ErrorCategory.java
  src/main/java/com/agenticcp/core/common/exception/AuthorizationException.java
  src/main/java/com/agenticcp/core/common/exception/ErrorCodeRegistry.java
  src/main/java/com/agenticcp/core/common/exception/ResourceNotFoundException.java
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
  src/main/java/com/agenticcp/core/common/security/JwtConstants.java
  src/main/java/com/agenticcp/core/common/security/JwtService.java
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
  src/main/java/com/agenticcp/core/common/service/PerformanceMonitoringService.java
  src/main/java/com/agenticcp/core/common/service/RetryService.java
  src/main/java/com/agenticcp/core/common/service/TwoFactorService.java
  src/main/java/com/agenticcp/core/controller/AuthController.java
  src/main/java/com/agenticcp/core/domain/user/enums/PermissionErrorCode.java
  src/main/java/com/agenticcp/core/domain/user/enums/RoleErrorCode.java
  src/main/java/com/agenticcp/core/domain/user/enums/UserErrorCode.java
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/test/java/com/agenticcp/core/common/security/JwtServiceTest.java
  src/test/java/com/agenticcp/core/common/service/AuthenticationServiceTest.java
  src/test/java/com/agenticcp/core/controller/AuthControllerIntegrationTest.java
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

Delete .github/workflows/auto-label-issues.yml
  .github/workflows/auto-label-issues.yml
Owners: @CCCloudPlatform/devops-team

Delete .github/workflows/issue-status-sync.yml
  .github/workflows/issue-status-sync.yml
Owners: @CCCloudPlatform/devops-team

Delete .github/workflows/sprint-automation.yml
  .github/workflows/sprint-automation.yml
Owners: @CCCloudPlatform/devops-team

Delete .github/workflows/story-point-tracking.yml
  .github/workflows/story-point-tracking.yml
Owners: @CCCloudPlatform/devops-team

Delete .github/workflows/update-parent-issues.yml
  .github/workflows/update-parent-issues.yml
Owners: @CCCloudPlatform/devops-team

revert: exception changin in import directory
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
  src/main/java/com/agenticcp/core/domain/platform/enums/TargetingRuleErrorCode.java
  src/main/java/com/agenticcp/core/domain/security/enums/SecurityErrorCode.java
Owners: @CCCloudPlatform/backend-team

hotfix : PolicyEngineService Testing Disable
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
  src/test/java/com/agenticcp/core/domain/security/service/PolicyJsonParserTest.java
Owners: @CCCloudPlatform/java-team

feat: CI/CD 파이프라인 구축
  .github/workflows/ci-cd.yml
  checkstyle.xml
  pom.xml
  src/main/resources/application-test.yml
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

fix: CI/CD 파이프라인 설정 수정
  checkstyle.xml
  pom.xml
Owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team

docs: 브랜치 보호 규칙 설정 가이드 추가
  docs/BRANCH_PROTECTION_GUIDE.md
Owners: @CCCloudPlatform/docs-team

fix: Checkstyle 설정 수정 및 테스트 환경 개선
  checkstyle.xml
  pom.xml
Owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team

fix: Checkstyle 플러그인 비활성화 및 테스트 환경 개선
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: CI/CD 파이프라인 구축 및 테스트 자동화
  .github/branch-protection-setup.md
  .github/workflows/ci.yml
  docs/CI_CD_SETUP.md
  pom.xml
  src/main/resources/application-test.yml
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

fix: CI 워크플로우에서 redis-cli 설치 단계 추가
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

feat(monitoring): 메트릭 수집기 팩토리 패턴 구현
  src/main/java/com/agenticcp/core/domain/monitoring/enums/CollectorType.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactory.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImpl.java
Owners: @CCCloudPlatform/backend-team

feat: ApplicationMetricsCollector 구현
  src/main/java/com/agenticcp/core/domain/monitoring/service/ApplicationMetricsCollector.java
Owners: @CCCloudPlatform/backend-team

fix: CI에서 H2 인메모리 데이터베이스 사용하도록 수정
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

test: ApplicationMetricsCollector 및 MetricsCollectorFactory 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/monitoring/service/ApplicationMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImplTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/TestDataBuilder.java
Owners: @CCCloudPlatform/java-team

refactor: Redis 연결 확인 단계 제거
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

fix: 테스트 리포트 생성 단계 제거
  .github/workflows/ci.yml
Owners: @CCCloudPlatform/devops-team

feat: MetricsCollectionService에 ApplicationMetricsCollector 연동
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
Owners: @CCCloudPlatform/backend-team

feat: SystemMetricsCollector MetricsCollector 인터페이스 구현
  src/main/java/com/agenticcp/core/domain/monitoring/service/SystemMetricsCollector.java
Owners: @CCCloudPlatform/backend-team

feat: 수집기 관련 에러 처리 강화
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
Owners: @CCCloudPlatform/backend-team

fix: MonitoringErrorCode 임포트 경로 수정
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: MetricsCollectionService에 MetricsStorageFactory 의존성 추가
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
Owners: @CCCloudPlatform/backend-team

feat: 시계열 데이터베이스 타입 열거형 추가
  src/main/java/com/agenticcp/core/domain/monitoring/enums/StorageType.java
Owners: @CCCloudPlatform/backend-team

feat: 시계열 데이터베이스 저장소 인터페이스 추가
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactory.java
Owners: @CCCloudPlatform/backend-team

feat: 저장소 팩토리 구현체 추가
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImpl.java
Owners: @CCCloudPlatform/backend-team

feat: InfluxDB 저장소 구현체 추가
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/InfluxDBStorage.java
Owners: @CCCloudPlatform/backend-team

test: 저장소 컴포넌트 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/monitoring/enums/StorageTypeTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImplTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/TestDataBuilder.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/impl/InfluxDBStorageTest.java
Owners: @CCCloudPlatform/java-team

feat: 모니터링 도메인 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: 메트릭 스토리지 팩토리 인터페이스 추가
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactory.java
Owners: @CCCloudPlatform/backend-team

feat: 메트릭 스토리지 팩토리 구현체 추가
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImpl.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImplTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: InfluxDB 스토리지 구현
  src/test/java/com/agenticcp/core/domain/monitoring/storage/impl/InfluxDBStorageTest.java
Owners: @CCCloudPlatform/java-team
