Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

refactor: Repository 의존성 과다 해결 (Facade/Helper 도입)
  src/main/java/com/agenticcp/core/domain/cloud/service/helper/CloudResourceManagementHelper.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceLifecycleTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceDbSyncTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: Ghost Resource 방지를 위한 보상 트랜잭션 구현
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/service/helper/CloudResourceManagementHelper.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceDbSyncTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: VM 리소스 생성 API 응답에 리소스 ID 포함
  src/main/java/com/agenticcp/core/domain/cloud/controller/VmController.java
  src/main/java/com/agenticcp/core/domain/cloud/service/helper/CloudResourceManagementHelper.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/test/java/com/agenticcp/core/controller/VmControllerTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseServiceDbSyncTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: VPC 생성 시 vpcName이 resourceName으로 올바르게 설정되도록 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcMapper.java
Owners: @CCCloudPlatform/backend-team

refactor: VPC 컨트롤러 API 패턴을 VM/ObjectStorage와 일관성 있게 수정
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VpcCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/VpcQueryRequest.java
Owners: @CCCloudPlatform/backend-team

feat: 복합 PK 클래스 추가 (OrganizationMember, TenantWorkerMap, WorkerRole)
  src/main/java/com/agenticcp/core/domain/organization/entity/OrganizationMemberId.java
  src/main/java/com/agenticcp/core/domain/organization/entity/TenantWorkerMapId.java
  src/main/java/com/agenticcp/core/domain/organization/entity/WorkerRoleId.java
Owners: @CCCloudPlatform/backend-team

feat: Worker 기반 멀티 테넌트 엔티티 추가
  src/main/java/com/agenticcp/core/domain/organization/entity/OrganizationMember.java
  src/main/java/com/agenticcp/core/domain/organization/entity/TenantWorkerMap.java
  src/main/java/com/agenticcp/core/domain/organization/entity/Worker.java
  src/main/java/com/agenticcp/core/domain/organization/entity/WorkerRole.java
Owners: @CCCloudPlatform/backend-team

feat: Worker 관련 Repository 추가
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationMemberRepository.java
  src/main/java/com/agenticcp/core/domain/organization/repository/TenantWorkerMapRepository.java
  src/main/java/com/agenticcp/core/domain/organization/repository/WorkerRepository.java
  src/main/java/com/agenticcp/core/domain/organization/repository/WorkerRoleRepository.java
Owners: @CCCloudPlatform/backend-team

feat: WorkerErrorCode enum 추가
  src/main/java/com/agenticcp/core/domain/organization/enums/WorkerErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: Worker 기반 멀티 테넌트 서비스 구현
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationMemberService.java
  src/main/java/com/agenticcp/core/domain/organization/service/TenantWorkerService.java
  src/main/java/com/agenticcp/core/domain/organization/service/WorkerRoleService.java
  src/main/java/com/agenticcp/core/domain/organization/service/WorkerService.java
Owners: @CCCloudPlatform/backend-team

refactor: User 엔티티에서 tenant, organization 필드 제거
  src/main/java/com/agenticcp/core/domain/user/entity/User.java
Owners: @CCCloudPlatform/backend-team

refactor: Organization 엔티티 리팩토링 (설계 B 기준)
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
Owners: @CCCloudPlatform/backend-team

refactor: Tenant 엔티티 수정 (설계 B 기준)
  src/main/java/com/agenticcp/core/domain/tenant/entity/Tenant.java
Owners: @CCCloudPlatform/backend-team

refactor: OrganizationRepository Deprecated 메서드 처리
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
Owners: @CCCloudPlatform/backend-team

refactor: UserRepository에서 Deprecated 필드 사용 메서드 제거
  src/main/java/com/agenticcp/core/domain/user/repository/UserRepository.java
Owners: @CCCloudPlatform/backend-team

refactor: OrganizationService 리팩토링 (설계 B 기준)
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
Owners: @CCCloudPlatform/backend-team

refactor: OrganizationAwareAuthorizationService에서 OrganizationMember 사용
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationAwareAuthorizationService.java
Owners: @CCCloudPlatform/backend-team

refactor: UserService에서 Deprecated 필드 사용 제거
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
Owners: @CCCloudPlatform/backend-team

refactor: OrganizationResponse 수정 (설계 B 기준)
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationResponse.java
Owners: @CCCloudPlatform/backend-team

refactor: JWT 및 인증 서비스에서 user.getTenant() 제거
  src/main/java/com/agenticcp/core/common/security/JwtService.java
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
  src/main/java/com/agenticcp/core/domain/security/service/AuthorizationServiceImpl.java
Owners: @CCCloudPlatform/backend-team

refactor: 모니터링 서비스에서 user.getTenant() 제거
  src/main/java/com/agenticcp/core/domain/monitoring/service/HealthCheckService.java
  src/main/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationService.java
Owners: @CCCloudPlatform/backend-team

test: WorkerServiceIntegrationTest 추가
  src/test/java/com/agenticcp/core/domain/organization/service/WorkerServiceIntegrationTest.java
Owners: @CCCloudPlatform/java-team

refactor: Deprecated 테스트 파일 임시 이동
  src/test/java-disabled/AuthorizationServiceImplTest.java
  src/test/java-disabled/HealthCheckServiceTest.java
  src/test/java-disabled/MonitoringNotificationServiceTest.java
  src/test/java-disabled/OrganizationAwareAuthorizationServiceTest.java
  src/test/java-disabled/OrganizationHierarchyServiceTest.java
  src/test/java-disabled/OrganizationRoleServiceTest.java
  src/test/java-disabled/OrganizationServiceTest.java
  src/test/java-disabled/OrganizationTenantServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: Organization ↔ Tenant 1:1 관계 구현
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/Tenant.java
  src/test/java/com/agenticcp/core/domain/organization/service/WorkerServiceIntegrationTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: Phase 5 - DTO 및 Response 구현
  src/main/java/com/agenticcp/core/domain/organization/dto/AddMemberRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/AssignRoleRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/AssignWorkerRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/CreateWorkerRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationMemberResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/TenantWorkerMapResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/WorkerResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/WorkerRoleResponse.java
Owners: @CCCloudPlatform/backend-team

feat: Phase 6 - Controller 구현
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationMemberController.java
  src/main/java/com/agenticcp/core/domain/organization/controller/TenantWorkerController.java
  src/main/java/com/agenticcp/core/domain/organization/controller/UserOrganizationController.java
  src/main/java/com/agenticcp/core/domain/organization/controller/WorkerController.java
  src/main/java/com/agenticcp/core/domain/organization/controller/WorkerRoleController.java
Owners: @CCCloudPlatform/backend-team

feat: Phase 7 - 데이터베이스 마이그레이션 스크립트 작성
  docker/mysql/init/04-worker-multitenant.sql
Owners: @CCCloudPlatform/database-team

test: Phase 8 - Controller 단위 테스트 작성
  src/test/java/com/agenticcp/core/domain/organization/controller/OrganizationMemberControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/controller/TenantWorkerControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/controller/UserOrganizationControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/controller/WorkerControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/controller/WorkerRoleControllerTest.java
Owners: @CCCloudPlatform/java-team

refactor: CloudResource 등록 로직을 통합 메서드로 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/dto/ResourceRegistrationRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
  src/main/java/com/agenticcp/core/domain/cloud/service/helper/CloudResourceManagementHelper.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/S3BucketUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: CloudResource 등록 로직 통합 및 deprecated 메서드 제거
  src/main/java/com/agenticcp/core/domain/cloud/service/helper/CloudResourceManagementHelper.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VmUseCaseServiceCreateTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/S3BucketUseCaseServiceTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vm/VmUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceDbSyncTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/vpc/VpcUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

chore: AWS CloudFront SDK 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: ResourceType에 CDN_DISTRIBUTION 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudResource.java
Owners: @CCCloudPlatform/backend-team

feat: NoSQL 도메인 커맨드와 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/nosql/NoSqlBackupCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/nosql/NoSqlCreateTableCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/nosql/NoSqlDeleteTableCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/nosql/NoSqlMetricQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/nosql/NoSqlTagCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/nosql/NoSqlUpdateTableCommand.java
Owners: @CCCloudPlatform/backend-team

feat: NoSQL용 Outbound Port 인터페이스 정의
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/nosql/NoSqlBackupPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/nosql/NoSqlIndexManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/nosql/NoSqlMonitoringPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/nosql/NoSqlStreamManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/nosql/NoSqlTableManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/nosql/NoSqlTaggingPort.java
Owners: @CCCloudPlatform/backend-team

feat: Rdbms 관리를 위한 Command 모델 정의
  src/main/java/com/agenticcp/core/domain/cloud/port/model/rdbms/RdbmsCreateCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/rdbms/RdbmsDeleteCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/rdbms/RdbmsQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/rdbms/RdbmsUpdateCommand.java
Owners: @CCCloudPlatform/backend-team

feat: Rdbms 관리를 위한 Port 인터페이스 정의
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/rdbms/RdbmsDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/rdbms/RdbmsLifecyclePort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/rdbms/RdbmsManagementPort.java
Owners: @CCCloudPlatform/backend-team

feat: NoSQL 테이블 조회용 Discovery 포트 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/nosql/NoSqlDiscoveryPort.java
Owners: @CCCloudPlatform/backend-team

chore: AWS RDS SDK 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: AWS RDS 클라이언트 설정 클래스 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsRdsConfig.java
Owners: @CCCloudPlatform/backend-team

feat: AWS RDS 매퍼 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/rds/AwsRdsMapper.java
Owners: @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
