Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

refactor: TenantTypeConfigRepository 인터페이스, 메서드 JavaDoc 보완
  src/main/java/com/agenticcp/core/domain/tenant/repository/TenantTypeConfigRepository.java
Owners: @CCCloudPlatform/backend-team

refactor: BaseEntity JavaDoc 개선, Lombok(Getter, Setter) 어노테이션 적용
  src/main/java/com/agenticcp/core/common/entity/BaseEntity.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantAwareEntity 필드, 메서드 JavaDoc 추가, Lombok(Getter, Setter) 어노테이션 적용
  src/main/java/com/agenticcp/core/common/entity/TenantAwareEntity.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantAwareEntityListener 메서드 JavaDoc 상세화, 로그 메시지 한글화
  src/main/java/com/agenticcp/core/common/entity/TenantAwareEntityListener.java
Owners: @CCCloudPlatform/backend-team

refactor: BaseRepository JavaDoc 보완, see 어노테이션 추가, 인라인 주석 보완
  src/main/java/com/agenticcp/core/common/repository/BaseRepository.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantAwareRepository JavaDoc 보완, see/throw 어노테이션 추가
  TenantAwareRepository_코드리뷰_수정사항.md
  src/main/java/com/agenticcp/core/common/repository/TenantAwareRepository.java
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/backend-team

refactor: TenantAwareRepository JavaDoc 보완, see/throw 어노테이션 추가
  TenantAwareRepository_코드리뷰_수정사항.md
Owners: @CCCloudPlatform/docs-team

refactor : 날짜 수정
  src/main/java/com/agenticcp/core/domain/security/annotation/RequirePermission.java
  src/main/java/com/agenticcp/core/domain/security/annotation/RequireRole.java
  src/main/java/com/agenticcp/core/domain/security/aop/AuthorizationAspect.java
  src/main/java/com/agenticcp/core/domain/security/controller/SecurityInspectorController.java
  src/main/java/com/agenticcp/core/domain/security/service/AuthorizationService.java
  src/main/java/com/agenticcp/core/domain/security/service/AuthorizationServiceImpl.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/TenantAuthorizationController.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantAuthorizationService.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantAwareAuthorizationService.java
  src/main/java/com/agenticcp/core/domain/user/controller/PermissionController.java
  src/main/java/com/agenticcp/core/domain/user/controller/RoleController.java
  src/main/java/com/agenticcp/core/domain/user/dto/CreatePermissionRequest.java
  src/main/java/com/agenticcp/core/domain/user/dto/CreateRoleRequest.java
  src/main/java/com/agenticcp/core/domain/user/dto/PermissionResponse.java
  src/main/java/com/agenticcp/core/domain/user/dto/RoleResponse.java
  src/main/java/com/agenticcp/core/domain/user/dto/UpdatePermissionRequest.java
  src/main/java/com/agenticcp/core/domain/user/dto/UpdateRoleRequest.java
  src/main/java/com/agenticcp/core/domain/user/entity/User.java
  src/main/java/com/agenticcp/core/domain/user/repository/PermissionRepository.java
  src/main/java/com/agenticcp/core/domain/user/repository/RoleRepository.java
  src/main/java/com/agenticcp/core/domain/user/service/PermissionService.java
  src/main/java/com/agenticcp/core/domain/user/service/SystemRolePermissionInitializer.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantAwareRepositoryImpl 구현체 JavaDoc 개선, throw 어노테이션 추가 및 로깅 강화
  src/main/java/com/agenticcp/core/common/repository/TenantAwareRepositoryImpl.java
Owners: @CCCloudPlatform/backend-team

refactor: TenantAwareInterceptor JavaDoc 개선, SQL 변환 예시 주석 추가, 예외 처리 개선, 헬퍼 메서드 추가
  TenantAwareInterceptor_코드리뷰_수정사항.md
  src/main/java/com/agenticcp/core/common/interceptor/TenantAwareInterceptor.java
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/backend-team

fix: 리팩토링 파일 삭제
  TenantAwareInterceptor_코드리뷰_수정사항.md
Owners: @CCCloudPlatform/docs-team

refactor: aws 에 종속되지 않도록 파일 경로 이동
  src/main/java/com/agenticcp/core/domain/cloud/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/vpc/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

docs: 플랫폼 설정 관련 클래스에 JavaDoc 추가
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/entity/PlatformConfig.java
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
  src/main/java/com/agenticcp/core/domain/platform/exception/ConfigValidationException.java
  src/main/java/com/agenticcp/core/domain/platform/repository/PlatformConfigRepository.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigHistoryQueryService.java
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/BooleanConfigValidator.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/EncryptedConfigValidator.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/JsonConfigValidator.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/NumberConfigValidator.java
Owners: @CCCloudPlatform/backend-team

refactor: PlatformConfigController API 경로를 v1 버전으로 변경
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigHistoryApiTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 생성자 주입을 @RequiredArgsConstructor로 변경
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/JsonConfigValidator.java
Owners: @CCCloudPlatform/backend-team

refactor: 생성자 주입 및 Validator ErrorCode 사용 개선
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/BooleanConfigValidator.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/EncryptedConfigValidator.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/JsonConfigValidator.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/NumberConfigValidator.java
  src/main/java/com/agenticcp/core/domain/platform/validation/impl/StringConfigValidator.java
Owners: @CCCloudPlatform/backend-team

refactor: 로깅 개선 및 Lombok @Slf4j 적용
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigHistoryQueryService.java
Owners: @CCCloudPlatform/backend-team

refactor: configKey 로깅에 민감정보 마스킹 적용
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/listener/PlatformConfigChangeListener.java
Owners: @CCCloudPlatform/backend-team

refactor: getConfigByKey에서 BusinessException 계층 사용
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
Owners: @CCCloudPlatform/backend-team

refactor: PlatformConfigController에 요청 검증(@Valid) 추가
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
Owners: @CCCloudPlatform/backend-team

feat: 다중 테넌트 지원하도록 도메인 확장
  src/main/java/com/agenticcp/core/domain/platform/entity/PlatformConfig.java
  src/test/java/com/agenticcp/core/domain/platform/validation/impl/JsonConfigValidatorTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 코드 가이드라인 준수를 위한 Config 클래스 개선
  src/main/java/com/agenticcp/core/domain/monitoring/config/MicrometerConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/config/RetryConfig.java
  src/test/java/com/agenticcp/core/domain/monitoring/config/MicrometerConfigTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/config/RetryConfigTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(monitoring): 코드 가이드라인 준수를 위한 Controller 개선
  src/main/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionController.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MetricsController.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigController.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MetricsControllerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(monitoring): DTO 패턴 가이드라인 준수를 위한 개선
  src/main/java/com/agenticcp/core/domain/monitoring/dto/QuotaRequestDto.java
  src/main/java/com/agenticcp/core/domain/monitoring/dto/SystemMetrics.java
  src/main/java/com/agenticcp/core/domain/monitoring/dto/TenantCollectorConfigDto.java
Owners: @CCCloudPlatform/backend-team

refactor(monitoring): 엔티티 패턴 가이드라인 준수 및 테스트 추가
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Alert.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Metric.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricMetadata.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricTag.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricThreshold.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorMetadata.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantDataRetentionPolicy.java
  src/test/java/com/agenticcp/core/domain/monitoring/TestDataBuilder.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/AlertTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/MetricMetadataTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/MetricTagTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/MetricTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorConfigTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorMetadataTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

docs(monitoring): enum 클래스 JavaDoc 개선
  src/main/java/com/agenticcp/core/domain/monitoring/enums/AlertStatus.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/AlertType.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MetricType.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/Severity.java
Owners: @CCCloudPlatform/backend-team

docs(monitoring): Event 클래스 JavaDoc 개선
  src/main/java/com/agenticcp/core/domain/monitoring/event/HealthStatusChangedEvent.java
  src/main/java/com/agenticcp/core/domain/monitoring/event/ThresholdExceededEvent.java
Owners: @CCCloudPlatform/backend-team

refactor(monitoring): Repository JavaDoc 개선 및 코드 스타일 준수
  src/main/java/com/agenticcp/core/domain/monitoring/repository/AlertRepository.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/MetricRepository.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/MetricThresholdRepository.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/TenantCollectorConfigRepository.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/TenantDataRetentionPolicyRepository.java
Owners: @CCCloudPlatform/backend-team

fix(monitoring): 도메인 특화 예외 사용 및 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/TenantDataRetentionService.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/TenantDataRetentionServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(monitoring): 코드 스타일 가이드 준수를 위한 서비스 및 테스트 리팩토링
  src/main/java/com/agenticcp/core/domain/monitoring/service/HealthCheckService.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/HttpMetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCache.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorRegistry.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MicrometerMetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MonitoringAlertService.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/RetryMetricsTracker.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/SystemMetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/TenantCollectorConfigService.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/CustomMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/HealthCheckServiceTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/HttpMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCacheTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionServiceTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImplTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorRegistryTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MicrometerMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MonitoringAlertServiceTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/RetryMetricsTrackerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/SystemMetricsCollectorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/TenantCollectorConfigServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(monitoring): 코드 스타일 가이드 준수를 위한 메트릭 저장소 리팩토링
  COMMIT_MESSAGE.txt
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactory.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/InfluxDBStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/PrometheusStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/TimescaleDBStorage.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImplTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/impl/InfluxDBStorageTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/impl/PrometheusStorageTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/storage/impl/TimescaleDBStorageTest.java
Owners: @CCCloudPlatform/developers, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(notification): 알람 도메인 Config, Controller, Repository 코드 스타일 가이드 준수 및 테스트 리팩토링
  COMMIT_MESSAGE.txt
  src/main/java/com/agenticcp/core/domain/notification/config/NotificationChannelConfig.java
  src/main/java/com/agenticcp/core/domain/notification/config/NotificationConfig.java
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationChannelRepository.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationRepository.java
  src/test/java/com/agenticcp/core/domain/notification/controller/NotificationControllerTest.java
Owners: @CCCloudPlatform/developers, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(notification): 알람 도메인 DTO, Entity, Enum 코드 스타일 가이드 준수 및 테스트 리팩토링
  src/main/java/com/agenticcp/core/domain/notification/dto/NotificationRequest.java
  src/main/java/com/agenticcp/core/domain/notification/dto/NotificationResponse.java
  src/main/java/com/agenticcp/core/domain/notification/entity/Notification.java
  src/main/java/com/agenticcp/core/domain/notification/entity/NotificationChannelEntity.java
  src/main/java/com/agenticcp/core/domain/notification/enums/ChannelType.java
  src/main/java/com/agenticcp/core/domain/notification/enums/NotificationPriority.java
  src/main/java/com/agenticcp/core/domain/notification/enums/NotificationStatus.java
  src/main/java/com/agenticcp/core/domain/notification/enums/NotificationType.java
  src/test/java/com/agenticcp/core/domain/notification/dto/NotificationRequestTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(notification): 코드 스타일 가이드 및 테스트 가이드 준수
  src/main/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationService.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationChannel.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationChannelFactory.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationDeDuplicationService.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationService.java
  src/main/java/com/agenticcp/core/domain/notification/service/impl/SlackNotificationChannel.java
  src/test/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationServiceTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationChannelFactoryTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationDeDuplicationServiceTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationServiceTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/impl/SlackNotificationChannelTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 고급헬스체크 코드 스타일 가이드 준수
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/ComponentHealthStatus.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthCheckSummary.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthIndicatorResult.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthStatusResponse.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/ComponentNotFoundException.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/HealthCheckException.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckService.java
  src/test/java/com/agenticcp/core/controller/AdvancedHealthControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor(organization): 조직 도메인 코드 품질 개선 및 가이드라인 준수
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
  src/main/java/com/agenticcp/core/domain/organization/dto/AddUserToOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/CreateOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/MoveOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationHierarchyResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationPathResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationRoleDtos.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationStatsResponse.java
  src/main/java/com/agenticcp/core/domain/organization/dto/UpdateOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/UserResponse.java
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/organization/entity/OrganizationRole.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRoleRepository.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationAwareAuthorizationService.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationRoleService.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
  src/test/java/com/agenticcp/core/domain/notification/dto/NotificationRequestTest.java
  src/test/java/com/agenticcp/core/domain/organization/controller/OrganizationControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationAwareAuthorizationServiceTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationRoleServiceTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: 비밀번호 재설정 관련 DTO 클래스 추가
  src/main/java/com/agenticcp/core/common/dto/auth/PasswordChangeRequest.java
  src/main/java/com/agenticcp/core/common/dto/auth/PasswordResetConfirm.java
  src/main/java/com/agenticcp/core/common/dto/auth/PasswordResetRequest.java
Owners: @CCCloudPlatform/backend-team

feat: 비밀번호 재설정 관련 에러 코드 추가
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: 이메일 발송 및 템플릿 처리를 위한 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: 이메일 발송 서비스 및 비밀번호 재설정 이메일 템플릿 추가
  src/main/java/com/agenticcp/core/common/service/EmailService.java
  src/main/resources/templates/email/password-reset.html
Owners: @CCCloudPlatform/backend-team
