Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: 이벤트 기반 알람 시스템 핵심 구조 구현
  src/main/java/com/agenticcp/core/domain/monitoring/event/HealthStatusChangedEvent.java
  src/main/java/com/agenticcp/core/domain/monitoring/event/ThresholdExceededEvent.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/AlertRepository.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MonitoringAlertService.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationDeDuplicationService.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MonitoringAlertServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 메트릭 수집 서비스 이벤트 기반으로 변경
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: DB 헬스체크 및 장애 알림 시스템 구현
  src/main/java/com/agenticcp/core/domain/monitoring/service/HealthCheckService.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/HealthCheckServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: 알림 서비스 멀티테넌시 및 동적 사용자 조회 개선
  src/main/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationService.java
  src/test/java/com/agenticcp/core/domain/notification/controller/NotificationControllerTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: 알림 채널 설정 및 관리 시스템 추가
  src/main/java/com/agenticcp/core/domain/notification/config/NotificationChannelConfig.java
  src/main/resources/application-notification.yml
Owners: @CCCloudPlatform/backend-team

feat: 스케줄링 기능 활성화
  src/main/java/com/agenticcp/core/AgenticCpCoreApplication.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 DB 스키마 및 엔티티 추가
  docker/mysql/init/02-audit-logs.sql
  src/main/java/com/agenticcp/core/common/entity/AuditLog.java
  src/main/java/com/agenticcp/core/common/repository/AuditLogRepository.java
  src/main/java/com/agenticcp/core/domain/security/entity/AuditLog.java
Owners: @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat: 감사 로깅 변경 추적 컨텍스트 추가
  src/main/java/com/agenticcp/core/common/context/AuditChangeContext.java
  src/main/java/com/agenticcp/core/common/util/ChangeTracker.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 이벤트 리스너 구현
  src/main/java/com/agenticcp/core/common/audit/AuditDatabaseListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditEntityListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditFileLogListener.java
  src/main/java/com/agenticcp/core/common/audit/AuditPublishEvent.java
Owners: @CCCloudPlatform/backend-team

feat: 감사 로깅 핵심 서비스 및 AOP 개선
  src/main/java/com/agenticcp/core/common/audit/AuditEventBuilder.java
  src/main/java/com/agenticcp/core/common/audit/AuditService.java
  src/main/java/com/agenticcp/core/common/config/AuditConfig.java
  src/main/java/com/agenticcp/core/common/entity/BaseEntity.java
Owners: @CCCloudPlatform/backend-team

test: 감사 로그 저장 통합 테스트 추가
  src/test/java/com/agenticcp/core/common/audit/AuditAnnotationIntegrationTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditChangeTrackingTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditControllerIntegrationTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditControllerTest.java
  src/test/java/com/agenticcp/core/common/audit/AuditEventIntegrationTest.java
Owners: @CCCloudPlatform/java-team

test: 감사로그 관련 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

chore: 개발용 기본값 JWT Secret 추가
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/backend-team

fix: 엔티티 클래스에서 @Data 애노테이션 삭제
  src/main/java/com/agenticcp/core/common/entity/AuditLog.java
Owners: @CCCloudPlatform/backend-team

fix: H2 데이터베이스 MySQL 호환 모드 설정
  src/test/resources/application-test.yml
Owners: @CCCloudPlatform/java-team

fix(test): H2 MySQL 모드 및 암호화 키 설정 추가
  src/test/resources/application-test.yml
Owners: @CCCloudPlatform/java-team

fix(test): ci 환경 비동기처리 제약 해결을 위해 타임아웃 늘리기
  src/test/java/com/agenticcp/core/common/audit/AuditChangeTrackingTest.java
Owners: @CCCloudPlatform/java-team

fix(test): 문제 테스트코드 임시 비활성화
  src/main/resources/application-test.yml
  src/test/java/com/agenticcp/core/common/audit/AuditChangeTrackingTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

chore: 테스트용 암호화 키 설정 원복
  src/main/resources/application-test.yml
Owners: @CCCloudPlatform/backend-team

feat: 고급 헬스체크 시스템 DTO 및 인터페이스 구현
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/ComponentHealthStatus.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthCheckSummary.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthIndicatorResult.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthStatusResponse.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/ApplicationHealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/HealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/SystemResourceHealthIndicator.java
Owners: @CCCloudPlatform/backend-team

feat: 고급 헬스체크 시스템 구현
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckService.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/HealthCheckCacheService.java
Owners: @CCCloudPlatform/backend-team

test: 헬스체크 종합 테스트 추가
  src/test/java/com/agenticcp/core/controller/AdvancedHealthControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/dto/HealthIndicatorResultTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/ApplicationHealthIndicatorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicatorIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicatorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/SystemResourceHealthIndicatorTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTestH2.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckServiceTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/HealthCheckCacheServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 모니터링 도메인 예외 처리 시스템 추가
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/ComponentNotFoundException.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/HealthCheckException.java
Owners: @CCCloudPlatform/backend-team

refactor: 헬스체크 예외 처리 로직 개선
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckService.java
Owners: @CCCloudPlatform/backend-team

test: 예외 처리 로직 테스트 추가 및 개선
  src/test/java/com/agenticcp/core/domain/monitoring/health/exception/ComponentNotFoundExceptionTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/exception/HealthCheckExceptionTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTestH2.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckServiceTest.java
Owners: @CCCloudPlatform/java-team

build: Caffeine Cache 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

docs: 고급 헬스체크 API 스웨거 문서화 추가
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
Owners: @CCCloudPlatform/backend-team

fix: rebase 후 헬스체크 에러 코드 조정
  src/test/java/com/agenticcp/core/domain/monitoring/health/exception/ComponentNotFoundExceptionTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/exception/HealthCheckExceptionTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicatorIntegrationTest.java
Owners: @CCCloudPlatform/java-team

test: 고급 헬스체크 컨트롤러 에러 응답 검증 수정
  src/test/java/com/agenticcp/core/controller/AdvancedHealthControllerTest.java
Owners: @CCCloudPlatform/java-team

refactor: 중복된 단위 테스트 제거 (HealthCheckIntegrationTest)
  src/test/java/com/agenticcp/core/domain/monitoring/health/integration/HealthCheckIntegrationTest.java
Owners: @CCCloudPlatform/java-team

comment: 모니터링 도메인 주석 날짜 변경
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/main/java/com/agenticcp/core/domain/monitoring/config/RetryConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MetricsController.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigController.java
  src/main/java/com/agenticcp/core/domain/monitoring/dto/QuotaRequestDto.java
  src/main/java/com/agenticcp/core/domain/monitoring/dto/SystemMetrics.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Metric.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricMetadata.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricTag.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/MetricThreshold.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/CollectorType.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/QuotaExceededAction.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/QuotaType.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/StorageType.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/ComponentNotFoundException.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/exception/HealthCheckException.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckService.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/CustomMetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/HttpMetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCache.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectionService.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactory.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MetricsCollectorRegistry.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/MicrometerMetricsCollector.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/RetryMetricsTracker.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactory.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/MetricsStorageFactoryImpl.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/InfluxDBStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/PrometheusStorage.java
  src/main/java/com/agenticcp/core/domain/monitoring/storage/impl/TimescaleDBStorage.java
Owners: @CCCloudPlatform/backend-team

fix: ApiResponse import 경로 수정 (dto.exception)
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
  src/test/java/com/agenticcp/core/controller/AdvancedHealthControllerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: ApiResponse import 경로 수정
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
Owners: @CCCloudPlatform/backend-team

test: 알림 도메인 단위 테스트 추가 (총 45개 테스트)
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationDeDuplicationServiceTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationServiceExtendedTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/impl/SlackNotificationChannelTest.java
Owners: @CCCloudPlatform/java-team

build: open feign 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: 애플리케이션에서 openfeign 어노테이션 등록
  src/main/java/com/agenticcp/core/AgenticCpCoreApplication.java
Owners: @CCCloudPlatform/backend-team

feat: SampleClient 구현
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/SampleClient.java
Owners: @CCCloudPlatform/backend-team

feat: vpc, subnet, sg requestDto
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/CloudProviderType.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/dto/SecurityGroupRequest.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/dto/SubnetRequest.java
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/dto/VpcRequest.java
Owners: @CCCloudPlatform/backend-team

feat: CloudProviderService interface 구현
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/service/CloudProviderService.java
Owners: @CCCloudPlatform/backend-team

feat: SampleCloudProviderService 구현체
  src/main/java/com/agenticcp/core/domain/tenant/controller/cloud/service/SampleCloudProviderService.java
Owners: @CCCloudPlatform/backend-team
