Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat: 클라우드 환경 관련 규칙 평가 중 오류 발생 시 예외 처리
  src/main/java/com/agenticcp/core/domain/platform/service/TargetingConditionEvaluator.java
Owners: @CCCloudPlatform/backend-team

test: 예외 처리 테스트 추가
  src/test/java/com/agenticcp/core/domain/platform/service/TargetingConditionEvaluatorTest.java
Owners: @CCCloudPlatform/java-team

test: 리소스 프로바이더가 없는 경우 테스트 추가
  src/test/java/com/agenticcp/core/domain/platform/service/MultiCloudEnvironmentServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: 테넌트 키로 클라우드 리소스 조회하도록 수정
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudResourceRepository.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceService.java
Owners: @CCCloudPlatform/backend-team

feat: RegisterRequest DTO 클래스 추가
  src/main/java/com/agenticcp/core/common/dto/auth/RegisterRequest.java
Owners: @CCCloudPlatform/backend-team

feat: AuthErrorCode에 회원가입 관련 에러 코드 추가
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
Owners: @CCCloudPlatform/backend-team

fix: JwtAuthenticationFilter NullPointerException 수정
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
Owners: @CCCloudPlatform/backend-team

feat: AuthenticationService에 register 메서드 구현
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

feat: AuthController에 register 엔드포인트 추가
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

feat: SecurityConfig에 register 엔드포인트 허용 설정
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

fix: AuthenticationService enum 참조 수정
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

fix: UserService 누락 메서드 추가 및 AuthController ApiResponse 수정
  src/main/java/com/agenticcp/core/controller/AuthController.java
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
Owners: @CCCloudPlatform/backend-team

fix: UserService existsByUsername/Email 메서드 수정
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
Owners: @CCCloudPlatform/backend-team

feat: Redis 의존성 제거하여 독립 실행 가능하도록 설정
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/backend-team

feat: 알림 도메인 핵심 엔티티 구현
  src/main/java/com/agenticcp/core/domain/notification/entity/Notification.java
  src/main/java/com/agenticcp/core/domain/notification/entity/NotificationChannelEntity.java
  src/main/java/com/agenticcp/core/domain/notification/entity/NotificationTemplate.java
Owners: @CCCloudPlatform/backend-team

feat: 알림 시스템 타입 안전성을 위한 열거형 정의
  src/main/java/com/agenticcp/core/domain/notification/enums/ChannelType.java
  src/main/java/com/agenticcp/core/domain/notification/enums/NotificationPriority.java
  src/main/java/com/agenticcp/core/domain/notification/enums/NotificationStatus.java
  src/main/java/com/agenticcp/core/domain/notification/enums/NotificationType.java
Owners: @CCCloudPlatform/backend-team

feat: API 통신을 위한 알림 DTO 구현
  src/main/java/com/agenticcp/core/domain/notification/dto/MetricDto.java
  src/main/java/com/agenticcp/core/domain/notification/dto/NotificationRequest.java
  src/main/java/com/agenticcp/core/domain/notification/dto/NotificationResponse.java
Owners: @CCCloudPlatform/backend-team

feat: 데이터 접근 계층 Repository 인터페이스 구현
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationChannelRepository.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationRepository.java
  src/main/java/com/agenticcp/core/domain/notification/repository/NotificationTemplateRepository.java
Owners: @CCCloudPlatform/backend-team

feat: 알림 시스템 핵심 서비스 구현
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationService.java
Owners: @CCCloudPlatform/backend-team

feat: 알림 채널 시스템 및 모니터링 연동 구현
  src/main/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationService.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationChannel.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationChannelFactory.java
  src/main/java/com/agenticcp/core/domain/notification/service/impl/EmailNotificationChannel.java
Owners: @CCCloudPlatform/backend-team

feat: 알림 시스템 설정 추가
  src/main/java/com/agenticcp/core/domain/notification/config/NotificationConfig.java
Owners: @CCCloudPlatform/backend-team

feat: 알림 REST API 컨트롤러 구현
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
Owners: @CCCloudPlatform/backend-team

test: 알림 도메인 종합 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/notification/controller/NotificationControllerTest.java
  src/test/java/com/agenticcp/core/domain/notification/dto/NotificationRequestTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationServiceTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationChannelFactoryTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationServiceTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/impl/EmailNotificationChannelTest.java
Owners: @CCCloudPlatform/java-team

feat: 알림 연동용 임시 모니터링 구조 추가
  src/main/java/com/agenticcp/core/domain/monitoring/entity/Alert.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/AlertStatus.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/AlertType.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MetricType.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/Severity.java
Owners: @CCCloudPlatform/backend-team

feat: 자동 테넌트 처리 구현
  src/main/java/com/agenticcp/core/domain/notification/controller/NotificationController.java
  src/main/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationService.java
  src/main/java/com/agenticcp/core/domain/notification/service/NotificationService.java
Owners: @CCCloudPlatform/backend-team

test: 자동 테넌트 처리 테스트 업데이트
  src/test/java/com/agenticcp/core/domain/notification/controller/NotificationControllerTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/MonitoringNotificationServiceTest.java
  src/test/java/com/agenticcp/core/domain/notification/service/NotificationServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: 모니터링 도메인 API 스웨거 문서화 추가
  src/main/java/com/agenticcp/core/domain/monitoring/config/MicrometerConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionController.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MetricsController.java
  src/main/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigController.java
Owners: @CCCloudPlatform/backend-team

docs: 고급 헬스체크 API 스웨거 문서화 추가
  src/main/java/com/agenticcp/core/controller/AdvancedHealthController.java
Owners: @CCCloudPlatform/backend-team

test: Enhance PolicyEngineServiceTest with ObjectMapper and RedisTemplate mocking
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 인증된 관리자 마스킹 없이 데이터 확인
  docker/mysql/init/01-init.sql
  src/main/java/com/agenticcp/core/common/dto/AuditInfo.java
Owners: @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat(audit): ConfigAuditService 스켈레톤 추가 (#22)
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
Owners: @CCCloudPlatform/backend-team

feat: AuditLog 기반 설정 변경 감사 매핑 추가 (#22)
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
Owners: @CCCloudPlatform/backend-team

feat: updateConfig 경로에 감사 후킹 추가 (#22)
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
Owners: @CCCloudPlatform/backend-team

feat: create/delete 경로에 감사 후킹 추가 (#22)
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
Owners: @CCCloudPlatform/backend-team

feat: ENCRYPTED 값 마스킹 유틸 추가 및 감사 적용 (#22)
  src/main/java/com/agenticcp/core/common/util/EncryptedValueMasker.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigAuditService.java
Owners: @CCCloudPlatform/backend-team

feat: GET /api/platform/configs/{id}/history 이력 조회 API 추가 (#22)
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/main/java/com/agenticcp/core/domain/platform/dto/ConfigHistoryResponse.java
  src/main/java/com/agenticcp/core/domain/platform/service/ConfigHistoryQueryService.java
  src/main/java/com/agenticcp/core/domain/security/repository/AuditLogRepository.java
Owners: @CCCloudPlatform/backend-team

perf: AuditLog 이력 조회 인덱스/쿼리 최적화 (#22)
  docker/mysql/init/01-init.sql
  src/main/java/com/agenticcp/core/domain/security/repository/AuditLogRepository.java
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigServiceMaskingTest.java
Owners: @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: ConfigAuditService 단위 테스트 추가 (#22)
  src/test/java/com/agenticcp/core/domain/platform/service/ConfigAuditServiceTest.java
Owners: @CCCloudPlatform/java-team

test: 설정 CRUD ↔ 감사 로깅 통합 테스트 추가 (#22)
  src/test/java/com/agenticcp/core/domain/platform/service/PlatformConfigAuditIntegrationTest.java
Owners: @CCCloudPlatform/java-team

test: 이력 조회 API 통합 테스트 추가(권한/페이징) (#22)
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigHistoryApiTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
