Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: VpcManagementPort
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/VpcManagementPort.java
Owners: @CCCloudPlatform/backend-team

feat: VpcPortRouter
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcPortRouter.java
Owners: @CCCloudPlatform/backend-team

feat: VpcUseCaseService
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: 조직 계층 구조 관리 DTO 클래스 추가
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationHierarchyResponse.java
Owners: @CCCloudPlatform/backend-team

feat: OrganizationService 계층 구조 관리 기능 확장
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
Owners: @CCCloudPlatform/backend-team

feat: AwsVpcManagementAdapter
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ vpc/AwsVpcManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: OrganizationController 계층 구조 API 엔드포인트 추가
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
Owners: @CCCloudPlatform/backend-team

fix: OrganizationResponse 필드 추가 및 from() 메서드 업데이트
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationResponse.java
Owners: @CCCloudPlatform/backend-team

test: 조직 계층 구조 관리 기능 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationHierarchyServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: VpcController
  src/main/java/com/agenticcp/core/controller/VpcController.java
Owners: @CCCloudPlatform/backend-team

refactor: 엔티티 관계 수정 - Organization(1) → Tenant(N) 구조로 변경
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/Tenant.java
Owners: @CCCloudPlatform/backend-team

refactor: OrganizationRepository 수정 - 새로운 관계에 맞게 메서드 변경
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
Owners: @CCCloudPlatform/backend-team

feat: 조직 DTO 개선 및 테스트 리팩토링
  src/main/java/com/agenticcp/core/domain/organization/dto/CreateOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/UpdateOrganizationRequest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: VpcUseCaseServiceTest 테스트 성공
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VpcCreateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/VpcUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: 조직-테넌트 1:N 관계 및 사용자 관리 기능 구현
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
  src/main/java/com/agenticcp/core/domain/organization/dto/AddUserToOrganizationRequest.java
  src/main/java/com/agenticcp/core/domain/organization/dto/UserResponse.java
  src/main/java/com/agenticcp/core/domain/organization/entity/Organization.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRepository.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationService.java
  src/main/java/com/agenticcp/core/domain/tenant/entity/Tenant.java
  src/main/java/com/agenticcp/core/domain/user/repository/UserRepository.java
  src/test/java/com/agenticcp/core/domain/organization/controller/OrganizationControllerTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationServiceTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationTenantServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: 어댑터에 오버라이드 메서드 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ vpc/AwsVpcManagementAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AuditLog 감사 어노테이션 적용
  src/main/java/com/agenticcp/core/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountValidationPort 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/CloudAccountValidationPort.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountCredentialPort 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/CloudAccountCredentialPort.java
Owners: @CCCloudPlatform/backend-team

feat: RegisterCloudAccountRequest(공통DTO, CSP별 DTO) 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/RegisterAwsAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/RegisterAzureAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/RegisterCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/RegisterGcpAccountRequest.java
Owners: @CCCloudPlatform/backend-team

feat: 수정, 삭제 기능 구현
  src/main/java/com/agenticcp/core/controller/VpcController.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ vpc/AwsVpcManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ vpc/AwsVpcMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/AwsVpcMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VpcQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/VpcUpdateRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/VpcManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: UpdateCloudAccountRequest 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/UpdateCloudAccountRequest.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountDto, CloudAccountListResponse 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/CloudAccountDto.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/CloudAccountListResponse.java
Owners: @CCCloudPlatform/backend-team

feat: ConnectionTestRequest, ConnectionTestResult 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/ConnectionTestRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/ConnectionTestResult.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountUseCaseService 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountUseCaseServiceTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: CloudAccountMapper 추가
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CloudAccountMapper.java
Owners: @CCCloudPlatform/backend-team

feat: AWS SDK 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: getProviderByIdOrThrow 메서드 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudProviderService.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountController 추가
  src/main/java/com/agenticcp/core/domain/cloud/controller/CloudAccountController.java
Owners: @CCCloudPlatform/backend-team

feat: AccountValidationRequest, AccountValidationResult DTO 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/model/AccountValidationRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/AccountValidationResult.java
Owners: @CCCloudPlatform/backend-team

feat: AccountMetadata 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/model/AccountMetadata.java
Owners: @CCCloudPlatform/backend-team

feat: CredentialData 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/model/CredentialData.java
Owners: @CCCloudPlatform/backend-team

feat: IamRoleArnValidator, ValidIamRoleArn 추가
  src/main/java/com/agenticcp/core/domain/cloud/validation/IamRoleArnValidator.java
  src/main/java/com/agenticcp/core/domain/cloud/validation/ValidIamRoleArn.java
Owners: @CCCloudPlatform/backend-team

feat: GcpProjectIdValidator, ValidGcpProjectId 추가
  src/main/java/com/agenticcp/core/domain/cloud/validation/GcpProjectIdValidator.java
  src/main/java/com/agenticcp/core/domain/cloud/validation/ValidGcpProjectId.java
Owners: @CCCloudPlatform/backend-team

feat: AwsAccountIdValidator, ValidAwsAccountId 추가
  src/main/java/com/agenticcp/core/domain/cloud/validation/AwsAccountIdValidator.java
  src/main/java/com/agenticcp/core/domain/cloud/validation/ValidAwsAccountId.java
Owners: @CCCloudPlatform/backend-team

feat: Organization API 스펙 개선 및 테스트 추가
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationController.java
  src/test/java/com/agenticcp/core/domain/organization/controller/OrganizationControllerTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: AzureSubscriptionIdValidator, ValidAzureSubscriptionId 추가
  src/main/java/com/agenticcp/core/domain/cloud/validation/AzureSubscriptionIdValidator.java
  src/main/java/com/agenticcp/core/domain/cloud/validation/ValidAzureSubscriptionId.java
Owners: @CCCloudPlatform/backend-team

feat: aws region 설정 추가
  src/main/java/com/agenticcp/core/common/config/AwsConfig.java
  src/test/resources/application-test.yml
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: CloudAccountRequestValidator, ValidCloudAccountRequest 추가
  src/main/java/com/agenticcp/core/domain/cloud/validation/CloudAccountRequestValidator.java
  src/main/java/com/agenticcp/core/domain/cloud/validation/ValidCloudAccountRequest.java
Owners: @CCCloudPlatform/backend-team
