Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat: EC2 배포 워크플로우 최적화 및 Maven 문제 해결
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

refactor: EC2 배포 워크플로우 최적화 및 스마트 빌드 전략 구현
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

refactor: EC2 배포 워크플로우 성능 최적화 및 ci.yml과 동일한 설정 적용
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

refactor: EC2 배포 워크플로우 최적화 및 Maven 호스트 설치 방식 적용
  .github/workflows/ec2-deploy-develop.yml
  tatus
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/developers

feat: 실제 구현 환경에 맞게 클라우드 어댑터들 구현
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/ec2/AwsEc2ManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/AuditEventAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/CredentialProviderAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/common/TracingAdapter.java
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisCacheConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: EC2 배포 워크플로우를 ci.yml과 동일한 Maven 방식으로 변경
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

fix: EC2 배포 시 Java 17 버전 문제 해결
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

perf: EC2 배포 성능 최적화 및 타임아웃 문제 해결
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

perf: EC2 배포 워크플로우 성능 최적화 및 Maven 설정 개선
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

refator: Java 버전 관리 추가
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

refactor: EC2 배포 타임아웃 문제 해결 및 배포 속도 최적화 - SSH command_timeout 추가, 타임아웃 문제 해결 - 소스 변경 시 JAR 교체로 1-2분 배포 - 첫 배포 최적화 (3-5분) - 배포 시간 80% 단축
  .github/workflows/ec2-deploy-develop.yml
  Dockerfile
Owners: @CCCloudPlatform/devops-team

fix: 헬스체크 재시도 로직 추가 애플리케이션 시작 대기 시간 30초 → 최대 2분 5초 간격으로 최대 24회 재시도 실패 시 전체 로그 출력으로 원인 파악 용이
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

fix: CacheManager Bean 충돌 해결 및 사용하지 않는 캐시 서비스 제거
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/HealthCheckCacheService.java
  src/test/java/com/agenticcp/core/domain/monitoring/health/service/HealthCheckCacheServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: Redis 비활성화 시 테스트 환경 안정화
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
  src/test/resources/application-test.yml
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: CacheManager bean 충돌 해결
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: Docker 환경을 위한 Cloud Stub 구현체 추가
  src/main/java/com/agenticcp/core/domain/cloud/config/CloudStubConfiguration.java
  src/main/resources/application.yml
Owners: @CCCloudPlatform/backend-team

feat: GitHub Actions 빌드 기반 EC2 배포 워크플로우 추가
  .github/workflows/ec2-deploy-develop.yml.bak
  .github/workflows/ec2-deploy-simple.yml
Owners: @CCCloudPlatform/devops-team

fix: Docker 환경 Redis 비활성화
  docker-compose.yml
Owners: @CCCloudPlatform/devops-team

refactor: EC2 배포 워크플로우 개선 - Redis 지원 및 자동 서비스 시작
  .github/workflows/ec2-deploy-develop.yml
Owners: @CCCloudPlatform/devops-team

fix: CacheManager 충돌 해결 및 EC2 배포 워크플로우 개선
  src/main/java/com/agenticcp/core/common/config/CacheConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
Owners: @CCCloudPlatform/backend-team

fix: HealthCheckCacheConfig 제거로 CacheManager 충돌 해결
  src/main/java/com/agenticcp/core/domain/monitoring/health/config/HealthCheckCacheConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/service/AdvancedHealthCheckService.java
Owners: @CCCloudPlatform/backend-team

feat: EC2 배포 워크플로우 최적화 및 Dockerfile.develop 추가
  .github/workflows/ec2-deploy-develop.yml
  .github/workflows/ec2-deploy-develop.yml.bak
  .github/workflows/ec2-deploy-simple.yml
  Dockerfile.develop
Owners: @CCCloudPlatform/devops-team, @CCCloudPlatform/developers

test: develop 브랜치 EC2 빌드 테스트
  src/main/java/com/agenticcp/core/controller/HealthController.java
Owners: @CCCloudPlatform/backend-team

test: infrastructure change detection - docker-compose.yml
  docker-compose.yml
Owners: @CCCloudPlatform/devops-team

feat(capability, ec2): 생성/수정에 CapabilityGuard 적용 및 플래그 추가
  src/main/java/com/agenticcp/core/domain/cloud/capability/CapabilityGuard.java
  src/main/java/com/agenticcp/core/domain/cloud/capability/CspCapability.java
  src/main/java/com/agenticcp/core/domain/cloud/capability/Ec2CapabilityConfig.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/Ec2UseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccount 엔터티 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudAccount.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountCredential 엔터티 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudAccountCredential.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountRepository 추가
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudAccountRepository.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountCredentialRepository 추가
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudAccountCredentialRepository.java
Owners: @CCCloudPlatform/backend-team

feat: AccountStatus enum 추가
  src/main/java/com/agenticcp/core/domain/cloud/enums/AccountStatus.java
Owners: @CCCloudPlatform/backend-team

feat: AccountValidationRequest, AccountValidationResult DTO 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/AccountValidationRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/AccountValidationResult.java
Owners: @CCCloudPlatform/backend-team

feat: ConnectionTestResult DTO 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/ConnectionTestResult.java
Owners: @CCCloudPlatform/backend-team

feat: AccountValidationPort 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/AccountValidationPort.java
Owners: @CCCloudPlatform/backend-team

feat: AccountSyncPort 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/AccountSyncPort.java
Owners: @CCCloudPlatform/backend-team

feat: CredentialProviderPort에 자격증명 저장, 삭제 메서드 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/CredentialProviderPort.java
Owners: @CCCloudPlatform/backend-team

chore: AWS SDK 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: AwsClientConfig 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/config/AwsClientConfig.java
Owners: @CCCloudPlatform/backend-team

feat: RegisterCloudAccountRequest, UpdateCloudAccountRequest DTO 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/RegisterCloudAccountRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/dto/UpdateCloudAccountRequest.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountDto 추가
  src/main/java/com/agenticcp/core/domain/cloud/dto/CloudAccountDto.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountMapper 추가
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CloudAccountMapper.java
Owners: @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
