Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat: 애플리케이션 설정 업데이트
  src/main/resources/application.yml
  start-dev.sh
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/developers

feat: 고급 헬스체크 시스템 DTO 및 인터페이스 구현
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/ComponentHealthStatus.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthCheckSummary.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthIndicatorResult.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/dto/HealthStatusResponse.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/ApplicationHealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/DatabaseHealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/HealthIndicator.java
  src/main/java/com/agenticcp/core/domain/monitoring/health/indicator/SystemResourceHealthIndicator.java
Owners: @CCCloudPlatform/backend-team

docs : wbs initial commit
  docs/AgenticCP_WBS.csv
Owners: @CCCloudPlatform/developers

feat: TenantContextTaskDecorator 구현
  src/main/java/com/agenticcp/core/common/config/TenantContextTaskDecorator.java
Owners: @CCCloudPlatform/backend-team

feat: tenant context 전파 가능한 TaskExecutor 설정
  src/main/java/com/agenticcp/core/common/config/AsyncConfig.java
Owners: @CCCloudPlatform/backend-team

feat: application 에서 Async 사용하도록 어노테이션 추가
  src/main/java/com/agenticcp/core/AgenticCpCoreApplication.java
Owners: @CCCloudPlatform/backend-team

feat: RetryService 비동기 재시도 로직에서 커스텀한 TaskExecutor 빈 주입
  src/main/java/com/agenticcp/core/common/service/RetryService.java
Owners: @CCCloudPlatform/backend-team

feat: PerformanceMonitoringService 비동기 성능 측정 메서드에서 커스텀한 TaskExecutor 빈 주입
  src/main/java/com/agenticcp/core/common/service/PerformanceMonitoringService.java
Owners: @CCCloudPlatform/backend-team

build: 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

test: 비동기 로직 포함한 서비스 테스트
  src/test/java/com/agenticcp/core/common/service/PerformanceMonitoringServiceTest.java
  src/test/java/com/agenticcp/core/common/service/RetryServiceTest.java
Owners: @CCCloudPlatform/java-team

test: TenantContextTaskDecorator 컨텍스트 전파 테스트
  src/test/java/com/agenticcp/core/common/config/TenantContextTaskDecoratorSimpleTest.java
  src/test/java/com/agenticcp/core/common/config/TenantContextTaskDecoratorTest.java
Owners: @CCCloudPlatform/java-team

test: 비동기 로직 테스트
  src/test/java/com/agenticcp/core/common/config/AsyncConfigTest.java
  src/test/java/com/agenticcp/core/common/service/AsyncLogicTest.java
Owners: @CCCloudPlatform/java-team

feat(platform-config): showSecret 권한 체크 및 감사 로깅 추가
  src/main/java/com/agenticcp/core/domain/platform/controller/PlatformConfigController.java
Owners: @CCCloudPlatform/backend-team

feat: AES-GCM 기반 EncryptionService 도입 및 키 로딩/테스트 추가
  src/main/java/com/agenticcp/core/common/config/CryptoConfig.java
  src/main/java/com/agenticcp/core/common/config/CryptoProperties.java
  src/main/java/com/agenticcp/core/common/crypto/AesGcmEncryptionService.java
  src/main/java/com/agenticcp/core/common/crypto/EncryptionService.java
  src/main/java/com/agenticcp/core/domain/platform/enums/PlatformConfigErrorCode.java
  src/main/resources/application-local.yml
  src/test/java/com/agenticcp/core/common/crypto/EncryptionServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

test: 통합/보안 테스트 추가 및 showSecret 복호화 보완
  src/main/java/com/agenticcp/core/domain/platform/service/PlatformConfigService.java
  src/test/java/com/agenticcp/core/domain/platform/controller/PlatformConfigControllerIntegrationTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat : 임시.mdc 파일 ignore에 추가
  .gitignore
Owners: @CCCloudPlatform/developers

docs: 키 설정·회전·장애 대응·캐시 정책 문서 추가
  docs/CRYPTO_KEY_MANAGEMENT.md
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/backend-team

feat: 관리자 임시로 식별
  src/main/java/com/agenticcp/core/common/config/OpenApiConfig.java
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/backend-team

feat(crypto,docs): 키 누락 방침/키 회전 스켈레톤 및 OpenAPI 보안 표기
  src/main/java/com/agenticcp/core/common/config/CryptoConfig.java
  src/main/java/com/agenticcp/core/common/config/CryptoProperties.java
  src/main/java/com/agenticcp/core/common/config/OpenApiConfig.java
Owners: @CCCloudPlatform/backend-team

chore: 로깅 의존성 추가
  pom.xml
Owners: @CCCloudPlatform/java-team

fix: 시간 범위 유효성 검증 로직 개선
  src/main/java/com/agenticcp/core/domain/security/dto/TimeConditions.java
Owners: @CCCloudPlatform/backend-team

feat: 보안 정책 관련 DTO 테스트 추가
  src/test/java/com/agenticcp/core/domain/security/dto/EnvironmentConditionsTest.java
  src/test/java/com/agenticcp/core/domain/security/dto/IpConditionsTest.java
  src/test/java/com/agenticcp/core/domain/security/dto/NetworkConditionsTest.java
  src/test/java/com/agenticcp/core/domain/security/dto/PolicyEvaluationRequestTest.java
  src/test/java/com/agenticcp/core/domain/security/dto/PolicyEvaluationResultTest.java
  src/test/java/com/agenticcp/core/domain/security/dto/PolicyRuleTest.java
  src/test/java/com/agenticcp/core/domain/security/dto/PolicyRulesTest.java
  src/test/java/com/agenticcp/core/domain/security/dto/TimeConditionsTest.java
Owners: @CCCloudPlatform/java-team

feat(test,config): 테스트 환경에서 cipher 키 주입 방식 개선 및 리베이스 충돌 해결
  src/main/resources/application-test.yml
  src/test/java/com/agenticcp/core/AgenticCpCoreApplicationTests.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: PolicyDecision enum 테스트 개선 및 코드 변환 검증 추가
  src/test/java/com/agenticcp/core/domain/security/enums/PolicyDecisionTest.java
Owners: @CCCloudPlatform/java-team

feat(security): SecurityConfig 머지 해결, 메서드 보안 활성화, JWT 필터/CORS/무상태 세션 추가
  pom.xml
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

fix: PolicyEngineServiceTest 및 PolicyJsonParserTest 개선
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
  src/test/java/com/agenticcp/core/domain/security/service/PolicyJsonParserTest.java
Owners: @CCCloudPlatform/java-team

fix(security): SecurityConfig 체이닝 중복 제거 및 import 정리\n\nchore(build): 중복 logstash-logback-encoder 의존성 제거\n\nchore(test): spring-security-test/H2 추가 유지\nchore(git): .cursor/*.mdc 무시 규칙
  pom.xml
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/java-team, @CCCloudPlatform/backend-team

build: 의존성
  pom.xml
Owners: @CCCloudPlatform/java-team

feat: TenantContextTaskDecorator 구현
  src/main/java/com/agenticcp/core/common/config/TenantContextTaskDecorator.java
Owners: @CCCloudPlatform/backend-team

feat: tenant context 전파 가능한 TaskExecutor 설정
  src/main/java/com/agenticcp/core/AgenticCpCoreApplication.java
  src/main/java/com/agenticcp/core/common/config/AsyncConfig.java
Owners: @CCCloudPlatform/backend-team

feat: RetryService 비동기 재시도 로직에서 TaskExecutor 빈 주입
  src/main/java/com/agenticcp/core/common/service/RetryService.java
Owners: @CCCloudPlatform/backend-team

feat: PerformanceMonitoringService 비동기 성능 측정 메서드에서 TaskExecutor 빈 주입
  src/main/java/com/agenticcp/core/common/service/PerformanceMonitoringService.java
Owners: @CCCloudPlatform/backend-team

feat: 비동기 메서드 포함한 서비스에서 로직 테스트
  src/test/java/com/agenticcp/core/common/service/PerformanceMonitoringServiceTest.java
  src/test/java/com/agenticcp/core/common/service/RetryServiceTest.java
Owners: @CCCloudPlatform/java-team

test: TenantContextTaskDecorator 컨텍스트 전파 테스트
  src/test/java/com/agenticcp/core/common/config/TenantContextTaskDecoratorSimpleTest.java
  src/test/java/com/agenticcp/core/common/config/TenantContextTaskDecoratorTest.java
Owners: @CCCloudPlatform/java-team

test: 비동기 로직 테스트
  src/test/java/com/agenticcp/core/common/config/AsyncConfigTest.java
  src/test/java/com/agenticcp/core/common/service/AsyncLogicTest.java
Owners: @CCCloudPlatform/java-team

feat(tenant-auth): 테넌트 권한/역할 서비스 및 컨트롤러 추가(캐시 TTL 10분)
  src/main/java/com/agenticcp/core/domain/tenant/controller/TenantAuthorizationController.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantAuthorizationService.java
  src/main/java/com/agenticcp/core/domain/tenant/service/TenantAwareAuthorizationService.java
Owners: @CCCloudPlatform/backend-team

test(api): 테넌트별 역할/권한 격리 및 초기화 시나리오 MockMvc 테스트 추가
  src/test/java/com/agenticcp/core/domain/tenant/controller/TenantAuthorizationControllerTest.java
Owners: @CCCloudPlatform/java-team

test(tenant-auth): 캐시 HIT/MISS/evict 및 테넌트 컨텍스트 가드 단위 테스트 추가
  src/test/java/com/agenticcp/core/domain/tenant/service/TenantAuthorizationServiceTest.java
  src/test/java/com/agenticcp/core/domain/tenant/service/TenantAwareAuthorizationServiceTest.java
Owners: @CCCloudPlatform/java-team

feat(security): 메서드 보안 활성화 및 엔드포인트 권한 규칙 적용
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

build(test-deps): spring-security-test 의존성 추가(@WithMockUser)
  pom.xml
Owners: @CCCloudPlatform/java-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team
