Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: 테넌트별 수집기 설정 엔티티 구현
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorConfig.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorMetadata.java
Owners: @CCCloudPlatform/backend-team

feat: 테넌트별 수집기 설정 DTO 및 Repository 구현
  src/main/java/com/agenticcp/core/domain/monitoring/dto/TenantCollectorConfigDto.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/TenantCollectorConfigRepository.java
Owners: @CCCloudPlatform/backend-team

feat: 테넌트별 수집기 설정 Service 및 Controller 구현
  src/main/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigController.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/TenantCollectorConfigService.java
Owners: @CCCloudPlatform/backend-team

test: 테스트 코드 추가
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MetricsControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/TenantCollectorConfigServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 테넌트별 설정 관련 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/monitoring/enums/MonitoringErrorCode.java
Owners: @CCCloudPlatform/backend-team

fix: MetricRepository TenantAwareRepository 호환성 문제 해결
  src/main/java/com/agenticcp/core/domain/monitoring/controller/MetricsController.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/MetricRepository.java
Owners: @CCCloudPlatform/backend-team

fix: MetricsControllerTest findAllForCurrentTenant 메서드 호출 수정
  src/test/java/com/agenticcp/core/domain/monitoring/controller/MetricsControllerTest.java
Owners: @CCCloudPlatform/java-team

delete: 모니터링 통합 테스트 코드 삭제
  src/test/java/com/agenticcp/core/domain/monitoring/integration/MonitoringIntegrationTest.java
Owners: @CCCloudPlatform/java-team

ix: PolicyEngineService 캐시 테스트 mock 설정 개선
  src/test/java/com/agenticcp/core/domain/security/service/PolicyEngineServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: 테넌트별 할당량 관리 시스템 추가
  src/main/java/com/agenticcp/core/domain/monitoring/dto/QuotaRequestDto.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/QuotaExceededAction.java
  src/main/java/com/agenticcp/core/domain/monitoring/enums/QuotaType.java
Owners: @CCCloudPlatform/backend-team

feat: 메트릭 수집 제약사항 강화 및 입력 검증 추가
  src/main/java/com/agenticcp/core/domain/monitoring/dto/TenantCollectorConfigDto.java
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantCollectorConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: API 컨트롤러 스타일 가이드라인 준수
  src/main/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigController.java
Owners: @CCCloudPlatform/backend-team

refactor: 트랜잭션 관리 최적화
  src/main/java/com/agenticcp/core/domain/monitoring/service/TenantCollectorConfigService.java
Owners: @CCCloudPlatform/backend-team

test: 테스트 코드 개선 및 예외 처리 수정
  src/test/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/TenantCollectorConfigServiceTest.java
Owners: @CCCloudPlatform/java-team

test: 검증 및 HTTP 상태코드 테스트 추가
  src/test/java/com/agenticcp/core/domain/monitoring/controller/TenantCollectorConfigControllerHttpStatusTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/dto/QuotaRequestDtoValidationTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/dto/TenantCollectorConfigDtoValidationTest.java
Owners: @CCCloudPlatform/java-team

feat: 데이터 보관 정책 핵심 구현
  src/main/java/com/agenticcp/core/domain/monitoring/entity/TenantDataRetentionPolicy.java
  src/main/java/com/agenticcp/core/domain/monitoring/repository/TenantDataRetentionPolicyRepository.java
  src/main/java/com/agenticcp/core/domain/monitoring/service/TenantDataRetentionService.java
Owners: @CCCloudPlatform/backend-team

feat: 데이터 보관 정책 API 구현
  src/main/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionController.java
Owners: @CCCloudPlatform/backend-team

test: 데이터 보관 정책 테스트 구현
  src/test/java/com/agenticcp/core/domain/monitoring/controller/DataRetentionControllerTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/entity/TenantDataRetentionPolicyTest.java
  src/test/java/com/agenticcp/core/domain/monitoring/service/TenantDataRetentionServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor: 테넌트 수집기 설정 서비스 개선
  src/main/java/com/agenticcp/core/domain/monitoring/service/TenantCollectorConfigService.java
  src/test/java/com/agenticcp/core/domain/monitoring/dto/TenantCollectorConfigDtoValidationTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

Revert "feat: 사용자 회원가입 API 구현"
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
  src/main/java/com/agenticcp/core/common/dto/auth/RegisterRequest.java
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

feat: RegisterRequest DTO 클래스 추가
  src/main/java/com/agenticcp/core/common/dto/auth/RegisterRequest.java
Owners: @CCCloudPlatform/backend-team

feat: AuthErrorCode에 회원가입 관련 에러 코드 추가
  src/main/java/com/agenticcp/core/common/enums/AuthErrorCode.java
Owners: @CCCloudPlatform/backend-team

fix: JwtAuthenticationFilter NullPointerException 수정
  src/main/java/com/agenticcp/core/common/security/JwtAuthenticationFilter.java
Owners: @CCCloudPlatform/backend-team

feat: AuthenticationService에 register 메서드 구현
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

feat: AuthController에 register 엔드포인트 추가
  src/main/java/com/agenticcp/core/controller/AuthController.java
Owners: @CCCloudPlatform/backend-team

feat: SecurityConfig에 register 엔드포인트 허용 설정
  src/main/java/com/agenticcp/core/common/config/SecurityConfig.java
Owners: @CCCloudPlatform/backend-team

fix: AuthenticationService enum 참조 수정
  src/main/java/com/agenticcp/core/common/service/AuthenticationService.java
Owners: @CCCloudPlatform/backend-team

fix: UserService 누락 메서드 추가 및 AuthController ApiResponse 수정
  src/main/java/com/agenticcp/core/controller/AuthController.java
  src/main/java/com/agenticcp/core/domain/user/service/UserService.java
Owners: @CCCloudPlatform/backend-team

feat: Redis 의존성 제거하여 독립 실행 가능하도록 설정
  src/main/resources/application-local.yml
Owners: @CCCloudPlatform/backend-team

feat: MultiCloudEnvironment enum 추가
  src/main/java/com/agenticcp/core/domain/platform/enums/MultiCloudEnvironment.java
Owners: @CCCloudPlatform/backend-team

feat: FeatureFlagTargetRule 엔터티 ruleType enum에 CLOUD_ENVIRONMENT 추가
  src/main/java/com/agenticcp/core/domain/platform/entity/FeatureFlagTargetRule.java
Owners: @CCCloudPlatform/backend-team

feat: CloudProvider 엔터티 ProviderType enum에 ON_PREMISE 추가
  src/main/java/com/agenticcp/core/domain/cloud/entity/CloudProvider.java
Owners: @CCCloudPlatform/backend-team

feat: CloudResourceRepository 생성
  src/main/java/com/agenticcp/core/domain/cloud/repository/CloudResourceRepository.java
Owners: @CCCloudPlatform/backend-team

feat: CloudResourceService 생성
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudResourceService.java
Owners: @CCCloudPlatform/backend-team

feat: MultiCloudEnvironmentService 생성
  src/main/java/com/agenticcp/core/domain/platform/service/MultiCloudEnvironmentService.java
Owners: @CCCloudPlatform/backend-team

feat: TargetingConditionEvaluator에 클라우드 환경에 따른 평가 추가
  src/main/java/com/agenticcp/core/domain/platform/service/TargetingConditionEvaluator.java
Owners: @CCCloudPlatform/backend-team

test: MultiCloudEnvironmentServiceTest 생성
  src/test/java/com/agenticcp/core/domain/platform/service/MultiCloudEnvironmentServiceTest.java
Owners: @CCCloudPlatform/java-team

test: TargetingConditionEvaluatorTest에 클라우드 환경별 타겟팅룰 평가 테스트 추가
  src/test/java/com/agenticcp/core/domain/platform/service/TargetingConditionEvaluatorTest.java
Owners: @CCCloudPlatform/java-team

feat: 멀티클라우드 환경 관련 에러 코드 추가
  src/main/java/com/agenticcp/core/domain/platform/enums/TargetingRuleErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: 클라우드 환경 감지 오류 발생 시 예외 처리
  src/main/java/com/agenticcp/core/domain/platform/service/MultiCloudEnvironmentService.java
Owners: @CCCloudPlatform/backend-team
