Repository CCCloudPlatform/AgenticCP-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CCCloudPlatform/developers, @CCCloudPlatform/java-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/docs-team, @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

.github/CODEOWNERS:

# CODEOWNERS 파일
# 이 파일은 코드 리뷰어를 지정하는 데 사용됩니다.
# 자세한 내용은 https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 를 참조하세요.

# Global code owners - 모든 파일에 대해 기본 리뷰어
* @CCCloudPlatform/developers

# Java 소스 코드
*.java @CCCloudPlatform/java-team

# 설정 파일들
*.yml @CCCloudPlatform/devops-team
*.yaml @CCCloudPlatform/devops-team
*.properties @CCCloudPlatform/devops-team

# 문서 파일들
*.md @CCCloudPlatform/docs-team

# GitHub Actions 워크플로우
/.github/workflows/ @CCCloudPlatform/devops-team

# Docker 관련 파일들
Dockerfile @CCCloudPlatform/devops-team
docker-compose*.yml @CCCloudPlatform/devops-team

# Maven 설정
pom.xml @CCCloudPlatform/java-team

# 데이터베이스 관련
/docker/mysql/ @CCCloudPlatform/database-team

# 테스트 파일들
/src/test/ @CCCloudPlatform/java-team

# 메인 소스 코드
/src/main/java/ @CCCloudPlatform/backend-team

# 리소스 파일들
/src/main/resources/ @CCCloudPlatform/backend-team

feat: CloudErrorCode 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
Owners: @CCCloudPlatform/backend-team

feat: AwsCredentialManager 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/AwsCredentialManager.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountDomainService 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountDomainService.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountUseCaseService 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
Owners: @CCCloudPlatform/backend-team

feat : 조직별 역할 관리 기본 구현 - OrganizationRole 엔티티/리포지토리/서비스/컨트롤러/DTO 추가 - 조직별 역할 목록/할당/제거/설정 API 구현 - 초기 스키마 스크립트(organization_roles) 추가
  docker/mysql/init/03-organization-roles.sql
  src/main/java/com/agenticcp/core/domain/organization/controller/OrganizationRoleController.java
  src/main/java/com/agenticcp/core/domain/organization/dto/OrganizationRoleDtos.java
  src/main/java/com/agenticcp/core/domain/organization/entity/OrganizationRole.java
  src/main/java/com/agenticcp/core/domain/organization/repository/OrganizationRoleRepository.java
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationRoleService.java
Owners: @CCCloudPlatform/database-team, @CCCloudPlatform/backend-team

feat : 조직 컨텍스트 인가 스켈레톤 추가 - OrganizationAwareAuthorizationService 추가 (조직 기반 역할/권한 확인)
  src/main/java/com/agenticcp/core/domain/organization/service/OrganizationAwareAuthorizationService.java
Owners: @CCCloudPlatform/backend-team

feat : 조직별 역할/인가 단위 테스트 추가 - OrganizationRoleService 테스트(할당/기본/우선순위) - OrganizationAwareAuthorizationService 테스트(조직 매핑/경계)
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationAwareAuthorizationServiceTest.java
  src/test/java/com/agenticcp/core/domain/organization/service/OrganizationRoleServiceTest.java
Owners: @CCCloudPlatform/java-team

feat : 로컬 기동 안정화(포트/캐시) - No-Op Cloud 포트(CredentialProvider/AuditEvent/Tracing) 기본 빈 제공 - RedisCacheConfig에 @ConditionalOnMissingBean(CacheManager) 적용으로 충돌 해소
  src/main/java/com/agenticcp/core/domain/cloud/config/NoOpCloudPortsConfig.java
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisCacheConfig.java
Owners: @CCCloudPlatform/backend-team

feat: AwsAccountValidationAdapter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountValidationAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AuditEventPortAdapter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/audit/AuditEventPortAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AccountSyncPortRouter, AccountValidationPortRouter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/AccountSyncPortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/AccountValidationPortRouter.java
Owners: @CCCloudPlatform/backend-team

feat: CredentialProviderPortAdapter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: TracingPortAdapter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/TracingPortAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: AuditResourceType enum에 CLOUD_ACCOUNT 추가
  src/main/java/com/agenticcp/core/common/enums/AuditResourceType.java
Owners: @CCCloudPlatform/backend-team

feat: AwsAccountSyncAdapter 추가
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountSyncAdapter.java
Owners: @CCCloudPlatform/backend-team

feat: CloudAccountController 추가
  src/main/java/com/agenticcp/core/domain/cloud/controller/CloudAccountController.java
Owners: @CCCloudPlatform/backend-team

feat: CloudErrorCode 추가
  src/main/java/com/agenticcp/core/domain/cloud/exception/CloudErrorCode.java
Owners: @CCCloudPlatform/backend-team

test: CloudAccountDomainServiceTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountDomainServiceTest.java
Owners: @CCCloudPlatform/java-team

fix: changeAccountStatus 메서드에서 상태 enum으로 비교하도록 수정
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountDomainService.java
Owners: @CCCloudPlatform/backend-team

test: CloudAccountUseCaseServiceTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: CloudAccountUseCaseService 메서드 추가
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
Owners: @CCCloudPlatform/backend-team

test: AwsAccountValidationAdapterTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/AwsAccountValidationAdapterTest.java
Owners: @CCCloudPlatform/java-team

test: AwsCredentialManagerTest 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/AwsCredentialManagerTest.java
Owners: @CCCloudPlatform/java-team

feat: MockAdaptersConfig 메서드 추가
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
Owners: @CCCloudPlatform/java-team

test: CloudAccountDomainServiceTest 중복 검증 로직 추가
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountDomainServiceTest.java
Owners: @CCCloudPlatform/java-team

feat: Update environment variable handling in Docker setup
  README.md
  docker-compose.yml
  env.example
  start-dev.bat
  start-dev.sh
Owners: @CCCloudPlatform/docs-team, @CCCloudPlatform/devops-team, @CCCloudPlatform/developers

fix: Update RedisCacheConfig to use @Primary annotation directly
  src/main/java/com/agenticcp/core/domain/platform/cache/config/RedisCacheConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: Object Storage 추상화를 위한 AWS 종속 네이밍 제거
  src/main/java/com/agenticcp/core/common/enums/AuditResourceType.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/CreateObjectStorageContainerCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/CreateObjectStorageContainerRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/ObjectStorageContainerQuery.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/UpdateObjectStorageContainerCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/port/model/storage/UpdateObjectStorageContainerRequest.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/S3BucketDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/aws/S3BucketManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/storage/ObjectStorageDiscoveryPort.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/storage/ObjectStorageManagementPort.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/ObjectStoragePortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/ObjectStorageUseCaseService.java
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/S3BucketUseCaseService.java
Owners: @CCCloudPlatform/backend-team

test: AWS 종속 네이밍 제거에 다른 테스트 코드 리팩토링
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketDiscoveryAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/s3/AwsS3BucketManagementAdapterTest.java
  src/test/java/com/agenticcp/core/domain/cloud/service/aws/S3BucketUseCaseServiceTest.java
Owners: @CCCloudPlatform/java-team

refactor(ObjectStorageController): RESTful API 원칙에 맞게 컨트롤러 리팩토링
  src/main/java/com/agenticcp/core/domain/cloud/controller/ObjectStorageController.java
  src/main/java/com/agenticcp/core/domain/cloud/controller/S3BucketController.java
Owners: @CCCloudPlatform/backend-team

fix: VpcController 에 try, catch 제거
  src/main/java/com/agenticcp/core/controller/VpcController.java
Owners: @CCCloudPlatform/backend-team

docs: vpc 생성 관련 api spec 문서 작성
  docs/API_VPC_SPEC.md
Owners: @CCCloudPlatform/docs-team

feat: AwsVpcCapabilityConfig
  src/main/java/com/agenticcp/core/common/config/AwsVpcCapabilityConfig.java
Owners: @CCCloudPlatform/backend-team

refactor: 포트 라우터 계층의 패키지명 수정
  src/main/java/com/agenticcp/core/domain/cloud/controller/ObjectStorageController.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStoragePortRouter.java
  src/main/java/com/agenticcp/core/domain/cloud/service/storage/ObjectStorageUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/storage/S3BucketUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

refactor: vpccontroller 폴더 구조 변경
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/aws/vpc/VpcController.java
Owners: @CCCloudPlatform/backend-team

feat: VpcUseCaseService 에 Audit 어노테이션 제거
  src/main/java/com/agenticcp/core/domain/cloud/service/aws/VpcUseCaseService.java
Owners: @CCCloudPlatform/backend-team

fix: AccountValidationPortRouter에서 프로바이더 타입 확인 후 어댑터 라우팅하도록 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/AccountValidationPortRouter.java
Owners: @CCCloudPlatform/backend-team

fix: CredentialProviderPortAdapter에서 프로바이더 타입 확인 후 어댑터 라우팅하도록 수정
  src/main/java/com/agenticcp/core/domain/cloud/adapter/outbound/CredentialProviderPortAdapter.java
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/CredentialProviderPort.java
  src/test/java/com/agenticcp/core/domain/cloud/adapter/outbound/mock/MockAdaptersConfig.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

fix: command 객체 적용
  src/main/java/com/agenticcp/core/domain/cloud/command/DeleteCredentialCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/command/ResolveCredentialCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/command/StoreCredentialCommand.java
  src/main/java/com/agenticcp/core/domain/cloud/mapper/CredentialCommandMapper.java
  src/main/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseService.java
  src/test/java/com/agenticcp/core/domain/cloud/service/CloudAccountUseCaseServiceTest.java
Owners: @CCCloudPlatform/backend-team, @CCCloudPlatform/java-team

feat: CredentialProviderPort에 세션 자격증명 관리 기능 추가
  src/main/java/com/agenticcp/core/domain/cloud/port/outbound/CredentialProviderPort.java
Owners: @CCCloudPlatform/backend-team
